[2020-09-18 16:38] elsylambert commented on #379
v1.0.4-rc.2. save is working fine for tA and tW.

[2020-09-18 16:52] cckozie commented on #379
I have now experienced this in both Chrome and FireFox. If a session is left open on a tA article (I think on Chrome it was opened for hour or so, and on Firefox 2+ hours), the Save does not work. The icon stays enabled and the data does not get saved.
On both browsers, after refreshing and logging in, it does work correctly.

[2020-09-18 17:00] cckozie commented on #379
Is there an expectation that users can leave the browser opened in a project for any amount of time and everything will be fine when they return?
I think the real danger is that when they have no indication that the data was saved, they might assume that data was saved when it was not. Violating the cardinal rule of not losing data.
We may want to consider adding a positive indicator that the save

[2020-09-18 17:59] ancientTexts-net commented on #379
Thanks Kos.

Are you saying that if you leave the browser IDLE for a long time, the session expires & it won't save?

thanks

[2020-09-19 17:45] cckozie commented on #379
Another update - It appears that the save problem may be related to multiple sessions. I had a single session that was still working after sitting open all night. I opened a second session on the same machine and after sitting idle for 1 1/2 hours the first session did not save and the second session did save.

[2020-09-21 13:42] ancientTexts-net commented on #379
Here is the JS error that occurs in that condition

@cckozie
@elsylambert

![image.png](https://images.zenhubusercontent.com/5ec297799c61301f66b0725c/996977f7-605a-41fe-aef8-9d178759ae03)

[2020-09-21 13:54] birchamp opened #397 "Prompt users to login if DCS returns an error on Save"
When attempting to save a file, Create may get a communications error from DCS. The user should be notified that "A communication error has occurred. Please login." and prompted to re-login via a modal dialog. If login is successful then save. If there is a communication error with DCS on login, that login error should be communicated to the user.

**DoD:** When a save could potentially fail ([#37

[2020-09-21 14:02] ancientTexts-net commented on #379
Here was Birch & Elsy's recommendation:

- Display warning on save, if save fails.
- Why do we delete application token?  Is it possible to prevent this?
- Can we confirm the issue is strictly related to multiple sessions?  i.e., Can we reproduce any timeouts within a single session?

thanks

[2020-09-21 21:09] mandolyte commented on #360
@RoyalSix Shouldn't this be blocked by the effort to convert to TSV?

Here is an example of what it will be like then:
https://git.door43.org/unfoldingWord/en_translation-annotations/src/branch/master/tit/tit_tq.tsv

[2020-09-22 14:25] elsylambert commented on #379
#397 written up for - "Display warning on a Save failure"

[2020-09-22 15:17] elsylambert commented on #379
Save is working fine for tA articles. #397 will cover the save issues encountered due to session expiration with DCS.

[2020-09-23 16:10] elsylambert commented on #374
Found out that this behaviour happens when "Expand All scriptures" is toggled on/off before adding the new Resource. Logout and login fixes the view.

[2020-09-23 17:31] birchamp opened #402 "Indicate deleted/missing target rows and allow for the user to add them"
Visually indicate that a row has been deleted (ie strikeout or tinted red), in the scripture pane allow the user to add it.
What about not sorting to the bottom?

[2020-09-24 17:26] RoyalSix commented on #360
@mandolyte Thanks for dropping this link for me.

<img width="749" alt="Screen Shot 2020-09-24 at 10 19 00 AM" src="https://user-images.githubusercontent.com/16184018/94178062-6fd01200-fe4f-11ea-882e-6d0d5b40883c.png">

It looks like it works in datatable translatable we will just need to provide the chapter/verse columns instead of combining them.
 i.e.
`Reference	ID	Tags	SupportReference	Quote	O

[2020-09-25 17:13] birchamp commented on #360
@RoyalSix can you do a test of the current markdown TQs? https://git.door43.org/unfoldingWord/en_tq

[2020-09-25 18:10] RoyalSix commented on #360
@birchamp https://5f6e328e9fcc720ffb733dd4--tc-create-app.netlify.app

[2020-09-29 15:17] elsylambert commented on #251
@RoyalSix @ancientTexts-net  Can we have the RCL link to test, Please?

[2020-09-30 14:34] birchamp opened #409 "Add TQ as a TSV"
Coming out of the spike #360

This will require different display columns than the TSV for TNs. Note that the new TSVs can have references with verse ranges.
The goal is to show the MD for the questions using the data in the TSV to index the questions according to the verse.
 -  MD should be displayed the way TN displays but only display default column that are not empty.
 -  The `<br>` to separat

[2020-09-30 14:46] birchamp opened #410 "Spike: Add TWL resource using TSV"
Using the TWL TSV, only present the TWs for the current book in a TSV view, showing the verse text like in the TN TSVs.

From stakeholder feedback: Show the translated text of the TW article in subsequent occurrences in the book.  In other words, if "Truth" occurs in 1:5, 2:6, and 3:7, the user translates the article in 1:5 and when the user gets to 2:6 the newly translated article is displayed.

[2020-09-30 16:43] #160 closed

[2020-09-30 16:43] #263 closed

[2020-09-30 16:43] #266 closed

[2020-09-30 16:43] #356 closed

[2020-09-30 16:43] #358 closed

[2020-09-30 16:43] #360 closed

[2020-09-30 16:43] #379 closed

[2020-09-30 17:40] birchamp opened #411 "SPIKE: tCC 2.0 PoC to Prototype"
Get ready for handoff.

Prototype:
 -  breakout widget UI as workspace RCL
 -  TSV editor
 -  App logic for synchronization (does this need to be a RCL)
 - Permalinks?

PoC Lessons learned:

Criteria for moving to next step:

[2020-10-01 14:08] ancientTexts-net commented on #251
https://markdown-translatable.netlify.app/

[2020-10-01 14:08] ancientTexts-net commented on #365
https://datatable-translatable.netlify.app/

[2020-10-01 15:01] cckozie commented on #321
Tested in tCC tA Test Block Quotes

[2020-10-01 15:21] cckozie commented on #251
Looks good to me. I'm seeing the same result in Chrome after copying a multiple word string from a tN project and then using CMD+v, the context menu Paste, and the context menu Paste and Match Style.

[2020-10-01 16:07] elsylambert commented on #251
Getting error "TypeError: Cannot read property 'removeEventListener' of null" when pasted a formatted text into the text box.

Seeing that it is not removing the formatted text.

[2020-10-02 15:17] elsylambert opened #415 "Parallel Scripture viewer missing in the develop branch"
Parallel Scripture viewer is missing in the develop branch 1.0.4.

[2020-10-02 15:50] elsylambert commented on #365
@RoyalSix Please give some details on what was the issue and how did you reproduce it?

[2020-10-06 20:49] cckozie opened #420 "Web elements with missing or non-working identifiers"
These elements are not findable in Katalon except by using XPath.

[2020-10-06 20:53] cckozie commented on #420
![tN preview button.jpg](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/c7e8bd96-117e-401a-8066-d0501b9d410f)

[2020-10-06 20:57] cckozie commented on #420
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/2f6ea11c-f85e-4c65-aab7-33c0441f5305)

[2020-10-07 14:21] birchamp commented on #410
@RoyalSix here's a test tsv to use https://git.door43.org/unfoldingWord/en_translation-annotations/src/branch/master/tit/tit_twl.tsv

[2020-10-07 14:46] cckozie opened #424 "Adding a line feed in block quote text changes '>' to '&gt;' when Preview is enabled"
v1.0.5-rc.1
movie at [https://app.zenhub.com/files/191973535/74c8eb5b-0de2-4404-b1f2-72967fc07d2f/download](https://app.zenhub.com/files/191973535/74c8eb5b-0de2-4404-b1f2-72967fc07d2f/download)
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/03561958-b5a9-4701-acf0-4942f067d553)

[2020-10-07 15:38] ancientTexts-net commented on #415
Thank you @elsylambert,

This issue will be resolved whenever we can finish the `App Integration queue

thank you!!

[2020-10-07 17:52] birchamp commented on #359
@richmahn We need to what DCS features don't exist but will be needed.

- that there will be a conflict before merge
- what the conflicts are (diff) or at least what files are conflicting
- merge conflict resolution

Task:
- [ ] research merge conflict server or client solutions

[2020-10-07 18:58] cckozie opened #425 "QA needs the state of the Expand all Scripture switch to be exposed"
In Katalon there is no way to determine whether the switch is set or not so we are not able to create reliable test scripts regarding its operation. Is there a state attribute that could be exposed?
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/6a2a5b53-fd7e-440c-b850-7003bb69dc96)

[2020-10-08 16:09] elsylambert opened #428 "App Crash on the following conditions: v 1.0.5 rc2"
-App is crashing when Section button is clicked for .md files.
-App crashes when file (both tsv and md)is selected from Hamburger Menu selection

[2020-10-08 16:53] ancientTexts-net commented on #428
here's what I get onblur

![image.png](https://images.zenhubusercontent.com/5ec297799c61301f66b0725c/04b571b6-405b-4ad2-9913-cee96f05ecda)

[2020-10-08 19:54] elsylambert commented on #251
Not seeing the fix in v1.0.5 rc4. Here is the screenshot of Original Text copied and pasted and the formatting was not removed.
![Screen Shot 2020-10-08 at 3.48.53 PM.png](https://images.zenhubusercontent.com/5d02efb2f425650e637abe10/4d415ac8-5c5a-46c4-a03f-87b87219f424)

[2020-10-08 20:09] ancientTexts-net commented on #428
the onblur issue above is fixed I think

[2020-10-12 16:19] elsylambert commented on #415
v1.0.5-rc.5. Parallel Scripture Viewer is displayed and the initial bug has been fixed but the "Expand All Scripture " toggle does not work now.

[2020-10-12 16:50] elsylambert commented on #251
![Screen Shot 2020-10-12 at 12.28.09 PM.png](https://images.zenhubusercontent.com/5d02efb2f425650e637abe10/435dca21-dfac-4c24-8ac0-5bfcbdede1c6)

![Screen Shot 2020-10-12 at 12.49.58 PM.png](https://images.zenhubusercontent.com/5d02efb2f425650e637abe10/096f7313-857b-4845-8b9d-396408962969)

[2020-10-12 18:05] elsylambert opened #437 "Target section goes blank when Section/Blocks are toggled"
v1.0.5-rc.5
Target section goes blank when Section/Blocks are toggled.
- Open.md file(tA or tW).
- Click on Sections button and then Blocks. Note that the Target side has gone blank.
- Toggle is back . Note that the Source side has a blank space and the content is pushed down.

Here is the screen recording:
[https://app.zenhub.com/files/191973535/79155025-a9a3-44ea-bd4d-38c19b68db47/download](http

[2020-10-12 18:07] elsylambert commented on #428
The app no longer on the above mentioned conditions but Section button has some issues which are reported separately in

[2020-10-13 19:04] RoyalSix commented on #365
This issue was happening on many different scenarios, the one mentioned above is not the only one.

The main problem was with the filtering.
If you visit this link https://5f3e3bcb406b170008b6a514--datatable-translatable.netlify.app/
That is before the fix

The method to replicate the issue is to put the filter on chapter 3, note how the verse 3:15 is in front of 3:intro. that is not right.

Now i

[2020-10-13 19:19] birchamp opened #438 "SPIKE[6]: Change the underlying format of the scripture pane to improve copy/paste"
What changes could be made to the current display of the USFM in the scripture pane?
If the scripture pane was changed would it actually improve formatted text in the clipboard, such that it pastes in an expected manner?
How much work will it be to make these changes?
What impact will these changes have on the app? Does it slow down the highlighting? Does it break other actions?

[2020-10-14 03:48] elsylambert commented on #320
Looks good in v1.0.5-rc.5. Save button is enabled when there is unsaved edits and disabled when there is no change to save.

[2020-10-14 03:49] elsylambert commented on #331
This has been addressed in v1.0.5-rc.5

[2020-10-14 03:59] elsylambert commented on #365
@RoyalSix Thanks for adding steps for this issue. In v1.0.5-rc.5, adding filter is crashing the app.
- open a .tsv.
- Add filter, i.e choose any chapter from the drop down list. Note that the App crashes.
Here is the screen recording:
[https://app.zenhub.com/files/191973535/e8528439-9e3d-478c-ae50-34552da605ee/download](https://app.zenhub.com/files/191973535/e8528439-9e3d-478c-ae50-34552da605ee/do

[2020-10-14 15:29] BincyJ commented on #201
Prioritized for Q2 2021

[2020-10-14 15:41] elsylambert opened #440 "Search functionality: App crashes on Search in tN"
v1.0.5-rc.5
App is crashing when you type in something to search in the search bar.

[2020-10-14 15:48] birchamp commented on #242
@elsylambert are you saying that a private org shows up in the list? If so, what happens when a user selects it?

[2020-10-14 15:58] elsylambert commented on #242
@birchamp I am moving this one for QA. Need to test it again with a Private Organization.

[2020-10-14 16:43] elsylambert commented on #242
@birchamp Private Organization shows up in the Repository list. I have a Repo called en_tn for Notes and so I am able to get to the tN files page, but when I select a file to edit, I get an endless spinner.
![Screen Shot 2020-10-14 at 12.41.17 PM.png](https://images.zenhubusercontent.com/5d02efb2f425650e637abe10/44681449-a431-48c8-aedd-6adc110b946b)

[2020-10-14 18:09] BincyJ commented on #220
@ancientTexts-net what is the benefit/impact of the change apart from faster rendering?

[2020-10-14 18:10] BincyJ commented on #227
@elsylambert can you retest this? Thanks.

[2020-10-14 18:17] BincyJ opened #441 "UI Redesign of tC Create"
Based on UX inputs from Onesheep for the Book Package flow, UI changes need to be incorporated into the translate and book package modes of tC Create.

[2020-10-14 18:20] BincyJ commented on #246
@richmahn , can you check this and close if already actioned? Thanks.

[2020-10-14 18:22] #264 closed

[2020-10-14 18:25] BincyJ opened #442 "SPIKE: tC Create 2.0.0 analysis and design"

[2020-10-14 18:31] #209 closed

[2020-10-14 18:35] BincyJ commented on #314
closing this issue due to new workflow changes.

[2020-10-14 18:51] birchamp opened #444 "Text from the scripture pane should be copied/pasted as plain text"
When the user copies and pastes text from the scripture pane the text should be pasted as unformatted text. Otherwise, the text should remain formatted when it is copied.

This issue came out of a previous attempt to fix this #251 and spike #438

This is to be fixed by #424

DoD: Copying formatted or highlighted text from scripture pane won't retain highlighting or other HTML styles on paste. Past

[2020-10-14 18:54] #251 closed

[2020-10-14 19:48] #319 closed

[2020-10-14 20:01] #351 closed

[2020-10-14 20:03] #352 closed

[2020-10-14 20:10] BincyJ commented on #374
Automatically expanding the scripture pane when adding a resource is acceptable if it helps solves this issue.

[2020-10-14 20:21] BincyJ commented on #382
@birchamp to check with stakeholders on expected behaviour.

[2020-10-14 20:31] BincyJ commented on #391
@ancientTexts-net was this resolved or is this still open?

[2020-10-14 20:32] BincyJ commented on #393
@ancientTexts-net do we retest this? Thought the misalignment issue was fixed. Can you confirm?

[2020-10-14 21:13] birchamp commented on #351
It looks like this happens in most websites.

![Screen Shot 2020-10-14 at 4.00.23 PM.png](https://images.zenhubusercontent.com/5cf53901e39e5f33e3e129fa/5b7900a2-aed1-46d6-b3a8-7f7f9d0904fb)

[2020-10-14 22:43] elsylambert commented on #227
@BincyJ This is still the issue. If the user has not checked the option"Keep me logged in", refresh logs out the user and back to login page. The Question here is that : Do we want to keep it this way (Please see Cecil's first comment) and Koz's last comment.

Comparing to any other application, refresh does not log the user out despite of the Keep me logged in  Option.

[2020-10-15 16:19] cckozie commented on #428
Tested in tCC tA Test Block Quotes and Sections

[2020-10-15 21:17] cckozie commented on #424
Tested in tCC tA Test Block Quotes and Sections

[2020-10-16 14:43] elsylambert commented on #424
@ancientTexts-net Please move it back to QA when it is testable. Not seeing the changes in v1.0.5-rc.6.

[2020-10-16 14:46] elsylambert commented on #397
![Screen Shot 2020-10-16 at 10.45.55 AM.png](https://images.zenhubusercontent.com/5d02efb2f425650e637abe10/cca01ec3-383c-40b6-8c9a-4f22b7fe0e66)

[2020-10-19 11:15] ancientTexts-net commented on #397
@elsylambert , thank you.
I see the problem.  Working on fix now

[2020-10-19 13:34] mandolyte commented on #235
More...

- Should we wait for the new TSV formats to be supported by tc-create?
- Opportunities for checks: 1) on fetch; 2) on edit (only for "row/cell oriented data"; 3) on save; 4) on demand
- For validation notices on open/save: how should they be presented? a) a list in a model dialog; b) a list in the slide-out panel; c) turn things red with hover-over popups containing a list; d) other ideas

[2020-10-19 14:57] ancientTexts-net commented on #321
`&gt;` bug is fixed.

Working on issue as stated:

I see the problem; outputFilters can fix this

[2020-10-19 16:12] cckozie opened #451 "It is confusing that the scripture pane is only displayed when the rowHeader column is enabled even though there is a switch to show it"
When the rowHeader checkbox is not checked on the columns modal, the scripture pane is not displayed even if the Expand all Scripture switch is On.

[2020-10-19 16:21] BincyJ opened #452 "Spike[40]: DCS Workflow - Identify required APIs"
Explore the Gitea React Toolkit functions for the DCS workflow outlined. List all APIs interaction. Identify the existing and new ones needed.
Determine how to integrate all APIs.

Need:
Spidel's diagram
Map it to the API calls
See what's in/not in GRT

https://docs.google.com/document/d/1VCofTKOxQXZIjrXhYlsztlHPD6fCKDbOHQeCv61JWqg/edit

[2020-10-19 18:44] cckozie commented on #160
Tested in Katalon tCC tN Test Column Options

[2020-10-19 20:48] cckozie commented on #444
Katalon tests in tCC tN Test Copy OrigLangQuote

[2020-10-20 11:47] mandolyte commented on #235
General requirements are [here](https://docs.google.com/document/d/1xKNMj3cfSFO_DqDeE3axcMTvcINVmqqbiq7CDk1A0qU/edit)

[2020-10-20 13:34] ancientTexts-net commented on #397
@elsylambert  @cckozie -- thank you.
This might be a condition we haven't considered?  I have a recommended fix.

Please see below:

The FIRST failure gets the `403 Forbidden` error (as expected)
since the gitea auth token is expired now:

But after logging in, we get an error that the `sha` (checksum) for the file has changed.

I have a recommendation for fix

[2020-10-20 14:09] ancientTexts-net commented on #321
Turns out the behavior described in this issue is "normal" for markdown-to-html conversion:

http://demo.showdownjs.com/

If you end the line with two spaces, it formats the text the way requested in this issue.
This behavior is because ending a line with two spaces is markdown's way of declaring a <br/> break

https://www.markdownguide.org/basic-syntax/#line-breaks

[2020-10-20 14:10] ancientTexts-net commented on #321
perhaps we can add a filter to make it "nicer" for RCL users

[2020-10-20 14:54] ancientTexts-net commented on #322
@elsylambert  @birchamp  @BincyJ

I have debugged the problem here.  Discrepancy between RCL and how the app handles resource links internal to the app

I would like to claim this issue.  assigning me

[2020-10-20 15:12] #60 closed

[2020-10-20 15:21] #62 closed

[2020-10-20 16:13] ancientTexts-net opened #454 "Review/Merge Mark's Proskomma changes to SR-RCL"

[2020-10-20 17:32] ancientTexts-net commented on #397
GOOD CATCH @elsylambert , @cckozie
great job

[2020-10-20 18:23] elsylambert commented on #397
- User logs in session 1>Makes changes> Not saved.
- User logs into another session (Session 2) but does not edit the file.
- User goes back to session 1 and clicks on Save>Login prompts comes up and on Login, the changes are saved.

[2020-10-20 21:18] cckozie opened #455 "v1.0.5-rc.6 opens tN files with the blue bar and repo chips scrolled out of view"
(this caused Katalon scripts to fail)

tA and tW both open properly in both develop and production

In v1.0.5-rc.6 tN files opens like this:
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/a9dfb11e-6ed4-4e0f-8f23-aeb9b4851f0b)

In v1.0.4 (production)  tN, tA, and tW files open like this:
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/8053c1ed-

[2020-10-20 22:03] cckozie commented on #397
v1.0.5-rc.6
The login prompt is displayed when the error condition is met. The problem with the save then failing when the user attempts a login has been moved to another issue.

[2020-10-20 22:06] cckozie opened #456 "Error when savings during user re-login after user's token was deleted when a second session was opened"
This issue was moved from

[2020-10-20 22:08] cckozie commented on #456
- Logged in to tcCreate(session 1)- made some edits>did not save the changes.
- opened another tab and opened the tcCreate app and made edits>save>changes are saved.
- went back to session 1> click save> Got the login screen with the message that the connection was lost  and re-logged in and got cant save message.
![Screen Shot 2020-10-16 at 10.45.55 AM.png](https://images.zenhubusercontent.com/5d

[2020-10-20 22:09] cckozie commented on #456
This might be a condition we haven't considered?  I have a recommended fix.

Please see below:

The FIRST failure gets the `403 Forbidden` error (as expected)
since the gitea auth token is expired now:

But after logging in, we get an error that the `sha` (checksum) for the file has changed.

I have a recommendation for fix

[2020-10-21 14:32] cckozie opened #457 "Anomaly with new Save button visibility"
There is a case where the Save button is enabled but after clicking it the button is not disabled. (Assume file is not save either)
1. Open a tN file
2. Add a character to one of the editable fields
3. Note that the Save button becomes enabled
4. Do NOT click the Save button
5. Erase the change made in step 2
6. Note that the Save button remains enabled indicating there have been changes
7. Click

[2020-10-21 17:08] richmahn commented on #359
1. We can know that there is a merge issue, both when making a pull with the API, querying the pull and attempting to merge.

2. Same lines and adjacent lines show up as conflict because diff goes by content and not line numbers.

3. A immediate option is to use [Github Desktop](https://desktop.github.com) and train people how to set up the repo, change the branch and do a merge of master into tha

[2020-10-21 17:10] #359 closed

[2020-10-21 17:14] mandolyte commented on #235
Technical design is [here](https://docs.google.com/document/d/1__uJl2KFn8pv2aGQyAukyr34RNZrMXsVPe9g7pzGCmg/edit#).

[2020-10-21 17:20] ancientTexts-net commented on #365
![image.png](https://images.zenhubusercontent.com/5ec297799c61301f66b0725c/5bffdb58-661b-4d60-bc91-6b5d85532fd9)

filter issue

[2020-10-21 17:44] elsylambert opened #458 "undo not working in text editor"
undo not working in text editor. ctrl+ z does not work.

[2020-10-21 17:45] elsylambert commented on #458
should be fixed in rc7.

[2020-10-21 18:55] cckozie commented on #331
Tested in TCC Test Multiple Sessions

[2020-10-22 13:48] cckozie commented on #455
Tested in TCC tN Test Column Options

[2020-10-22 14:42] cckozie commented on #437
Tested in tCC tA Test Block Quotes and Sections

[2020-10-22 15:15] BincyJ opened #459 "Save Issue (BCS)"
Pastor Sam and a couple others in BCS are facing an issue of save. When they edit text and click Save, possibly hit the button a couple of times which results in the error message shown below. The file does not get saved and text is lost.

![image.png](https://images.zenhubusercontent.com/5e84ee777ce69e38edc9290e/5ea4fae8-b993-4133-99ed-b5b82b5482ea)

Vipin to share the Inspect element details to

[2020-10-22 15:17] BincyJ opened #460 "Jonah issue (BCS)"
Unable to open the Jonah tN. The app crashes each time file is clicked.

https://git.door43.org/translationCore-Create-BCS/hi_tn/src/branch/master/manifest.yaml

[2020-10-22 15:46] birchamp commented on #459
@ancientTexts-net can you look into this so we can define it better?

[2020-10-22 16:56] birchamp commented on #460
@mandolyte please add what you find out about this.

[2020-10-22 18:09] elsylambert commented on #459
@klappy @ancientTexts-net
Is this log helpful? Tried it on a slow 3G Connection
![Screen Shot 2020-10-22 at 2.08.11 PM.png](https://images.zenhubusercontent.com/5d02efb2f425650e637abe10/60c20a02-d701-48de-9707-98542009e3f1)

[2020-10-22 18:14] cckozie commented on #459
I tested all the way down to 500kbps download, 5kbps upload, 20 seconds latency. Saving a tN change took ~4 minutes, but it was successful.

[2020-10-22 19:50] ancientTexts-net commented on #322
Regarding the state issue with scripture not loading after adding custom resources:

I have tracked the issue back to August 20, differences between v1.0.2 and v1.0.3

https://github.com/unfoldingWord/scripture-resources-rcl/compare/v1.0.2...v1.0.3

[2020-10-22 23:01] cckozie commented on #440
Tested in tCC Test App Crashes

[2020-10-23 16:59] RoyalSix commented on #321
https://deploy-preview-33--markdown-translatable.netlify.app/

[2020-10-23 20:44] ancientTexts-net commented on #322
![image.png](https://images.zenhubusercontent.com/5ec297799c61301f66b0725c/4ff70f82-6697-4322-a6bf-f8e2fe6ec630)

[2020-10-26 15:21] mandolyte opened #463 "Crash on pagination (on develop branch, not master)"
To reproduce:
- go to: https://develop--tc-create-app.netlify.app/
- login
- org: select unfoldingWord
- resource: select translation notes
- language: select english
- file: select Ruth

When page is populated (rows 1 to 25),
- click to go to next page (rows 26 to 50),
- click to go to next page again

The page crashes. Contents of console messages will look like this:
![image](https://user-image

[2020-10-26 15:30] elsylambert commented on #463
When the next button is clicked the first time, the Target side text is messed up. As soon as you reach chapter 2, the app crashes.
![Screen Shot 2020-10-26 at 11.25.09 AM.png](https://images.zenhubusercontent.com/5d02efb2f425650e637abe10/78ef43e1-a619-4707-8962-4e1b03288107)

[2020-10-26 16:28] cckozie commented on #463
Test in Katalon tCC Test App Crashes

[2020-10-26 16:28] cckozie commented on #365
Tested in tCC Test App Crashes

[2020-10-26 17:07] BincyJ opened #464 "SPIKE[40]: DCS POC - Merge on Save"

[2020-10-26 17:53] cckozie opened #465 "App does not alert user when a 404 or 403 error is encountered"
v1.0.5-rc.6
1. Login to tC Create
2. Open a tN project
3. Login to a second tC Create session using the same username
4. Return to the first session
5. Open the drawer
6. Select a file to open
Note that the spinner just keeps spinning and the console displays  two 404 errors and one 403 error
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/55e796c2-71ac-4225-af52-585868d

[2020-10-26 21:37] RoyalSix commented on #440
Fixed by #461

[2020-10-26 22:26] cckozie commented on #358
Tested in Katalon tCC tN Test Copy OrigLangQuote

[2020-10-26 22:29] cckozie opened #469 "A single click highlights an original language word when it is directly adjacent to a highlighted word"
v1.0.5-rc.6
Movie at [https://app.zenhub.com/files/191973535/a854ebfa-5912-4066-ab09-971d71dce3b9/download](https://app.zenhub.com/files/191973535/a854ebfa-5912-4066-ab09-971d71dce3b9/download)
1. Open a tN project
2. Scroll to a check that has an original language word highlighted
3. Single click on a word adjacent to the highlighted word
4. Note that the clicked on word is now also highlighted
5

[2020-10-27 13:04] #428 closed

[2020-10-27 13:04] #320 closed

[2020-10-27 13:05] #331 closed

[2020-10-27 16:19] ancientTexts-net commented on #365
Crashing is fixed.

I see strange behavior when I move to later pages:
Intro still shows up at top

1. open a tsv
2. click to another page
3. notice: book intro still shows at top of page

![image.png](https://images.zenhubusercontent.com/5ec297799c61301f66b0725c/a98c18fa-e91f-45df-b29d-e1767454eef3)

[2020-10-27 16:20] ancientTexts-net commented on #365
@elsylambert  @cckozie  @RoyalSix    ^^

[2020-10-27 16:43] ancientTexts-net commented on #424
HTML is garbled if PREVIEW mode turned off

![image.png](https://images.zenhubusercontent.com/5ec297799c61301f66b0725c/590f02f3-5635-4182-bb6d-04fff56aff2a)

[2020-10-27 16:48] ancientTexts-net commented on #424
@elsylambert  @cckozie

Can you please help me see what's going on in RCL?
http://localhost:6060/#/Translatable?id=translatable-1

- turn off preview
- turn off blocks/sections
- edit
- turn on preview
- NOTICE: loses some content

[2020-10-27 17:08] ancientTexts-net commented on #465
I think we can reuse our "SAVE RETRY" logic here

[2020-10-27 17:29] elsylambert commented on #424
@ancientTexts-net  Cant open the link(local Host). Can you please send the link to RCL?

[2020-10-28 14:27] ancientTexts-net commented on #424
Thank you @RoyalSix  , @elsylambert  :

https://deploy-preview-35--markdown-translatable.netlify.app/

As of now the only issues I see are that the FIRST time you edit the markdown document (with sections & blocks OFF), it sends cursor to the bottom of the file

[2020-10-28 15:01] cckozie commented on #425
Found that it is exposed as a checkbox

[2020-10-28 15:01] #425 closed

[2020-10-28 15:50] RoyalSix commented on #424
@ancientTexts-net I am not seeing that behavior on the example you sent https://deploy-preview-35--markdown-translatable.netlify.app/#/Translatable?id=translatable-1

[2020-10-28 16:28] cckozie commented on #420
This one has an id attribute, but it is related to two different elements
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/9b6c1405-90ce-4a81-9f9c-4fc7c884d143)

[2020-10-28 16:59] cckozie commented on #420
If I load a Titus tN project and identify some elements using Katalon Attributes, then load an Ecclesiastes project using the drawer, then reload the Titus project using the drawer, the original elements are no longer findable using Katalon Attributes. I must switch to using Xpath to find them. In some situations, Xpath is unable to locate a single element, but finds multiple elements instead.
It

[2020-10-28 17:05] elsylambert commented on #424
https://deploy-preview-35--markdown-translatable.netlify.app/- Turn Off the toggle for Blocks and the text goes blank.

[2020-10-28 17:27] BincyJ commented on #460
@mandolyte have you had a chance to take a look at it?

[2020-10-28 17:42] ancientTexts-net commented on #420
we met today; as I understand status:

- aria-label was added to datatable translatable Save & Preview
- Ecclesiastes ID is OK (we recommend use xpath with [@id='.....'])

- devs still need to add "target" and "source" to datatable cell (possibly a parent container)

[2020-10-28 18:55] cckozie opened #474 "Page elements that have and id attribute"
This one has an id attribute, but it is related to two different elements. I can't find anyway in Katalon to distinguish between them.
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/9b6c1405-90ce-4a81-9f9c-4fc7c884d143)

[2020-10-28 19:11] cckozie commented on #474
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/c9a7067b-3265-4a01-9774-1ac0b80b5368)

[2020-10-28 19:29] elsylambert commented on #415
Tested in Automated script by test-tCCreate/ Parallel Scripture Viewer.

[2020-10-28 19:30] elsylambert commented on #322
Tested in Automated script by test-tCCreate/ Add New Resource

[2020-10-28 19:40] elsylambert commented on #338
This button currently redirects to the Organization's Website. If an Organization does not have a website, the page is blank.

[2020-10-28 20:05] mandolyte commented on #460
@BincyJ No, but I just tried and snapped the log message. Appears to be related to this function `getColumnsFilterOptions`, with which I am not familiar.

I'll take a look tomorrow. In the meantime, @ancientTexts-net @RoyalSix is this a familiar function? Probably a data issue with the TSV file, but it obviously just shouldn't crash!

![image](https://user-images.githubusercontent.com/1289437/9749

[2020-10-28 20:20] cckozie opened #475 "Icons with missing tooltips"
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/22e9e476-d222-42dd-bdf8-efcfae541a20)

![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/2da048db-c4ed-4f78-9fbb-dcff8ff8110f)

[2020-10-28 20:29] mandolyte commented on #460
@BincyJ I notice that the manifest is marked invalid. The book of Jonah is missing, as is Ruth. These are the only two OT books in this repo. The manifest is causing the CV app to hang... so I can't run the validation on Jonah.

Who can we ask to update the manifest?

[2020-10-29 08:05] RoyalSix commented on #437
https://deploy-preview-35--markdown-translatable.netlify.app/

[2020-10-29 08:13] RoyalSix commented on #463
https://github.com/unfoldingWord/tc-create-app/pull/461

[2020-10-29 14:02] #265 closed

[2020-10-29 14:05] birchamp commented on #334
@mandolyte  How important is this?  What's the impact?

[2020-10-29 14:06] birchamp commented on #335
@mandolyte why is this needed?

[2020-10-29 14:07] birchamp commented on #336
@mandolyte What will this impact?

[2020-10-29 14:11] birchamp commented on #391
@BincyJ Did you ask Jobby about this?

[2020-10-29 14:17] birchamp commented on #393
@elsylambert Can you re-test?

[2020-10-29 14:25] birchamp commented on #456
@ancientTexts-net Please share your fix here.

[2020-10-29 14:47] birchamp commented on #460
@richmahn can you add the OT to the https://git.door43.org/translationCore-Create-BCS/hi_tn/src/branch/master/manifest.yaml ?

[2020-10-29 14:48] birchamp opened #477 "Error instead of crash on a missing book in a TN manifest."
See issue #460

[2020-10-29 15:16] birchamp commented on #469
@RoyalSix Do we want to allow users to click to highlight words and update the original language field?

[2020-10-29 15:22] birchamp commented on #475
@mandolyte I believe you're looking into a regression on tooltips you added.  Were these particular icons above ones that already had tooltips?

[2020-10-29 15:53] birchamp commented on #382
Stakeholders said that "A possible pop-up to view content of the link would be nice to have."

This has been determined to be too expensive because it would require tC Create to open multiple files and render a new markdown translatable window.

[2020-10-29 16:22] birchamp commented on #243
Idea for displaying org and language:![Screen Shot 2020-10-29 at 12.21.23 PM.png](https://images.zenhubusercontent.com/5cf53901e39e5f33e3e129fa/e763dd28-6ab4-40db-9f28-6d33ffa9dce8)

[2020-10-29 16:29] birchamp commented on #465
@ancientTexts-net can you elaborate on how the 'save retry' logic would work here?

[2020-10-29 16:51] elsylambert commented on #393
moving to watchlist as Section button might get fixed with rc.7. will retest after that.

[2020-10-29 17:20] ancientTexts-net commented on #465
thanks:

if we detect a 403, we can reuse the way we "pop up" the modal with the login prompt

we already do this on the SAVE action,
but we could do this behavior on the LOAD action too

[2020-10-29 18:53] birchamp commented on #375
@elsylambert So this is blocking one of your scripts? Is that correct?

[2020-10-29 19:09] elsylambert commented on #375
@birchamp Yes. ;)

[2020-10-30 01:24] mandolyte commented on #334
If we never upgrade to latest version of that 3rd party component, we'll be fine except for these annoying messages in the console log. Near term, not too important.

[2020-10-30 01:25] mandolyte commented on #335
We are using React in a way that is permitted at the moment, but may stop working in the future. Near term, not too important; just annoying messages in the console log.

[2020-10-30 01:27] mandolyte commented on #336
The property name is wrong, but it seems to guess it correctly... for now.

[2020-10-30 01:31] mandolyte commented on #475
No, I don't think these were there when I was doing the original tooltip work. So these can be added.

[2020-10-30 18:53] elsylambert commented on #338
Tested in Test Case- Link to Organization page

[2020-11-02 13:22] PhotoNomad0 opened #485 "Create a Bible Reference Navigation RCL for use in tc-create 2.0, etc."
initial design spec are in https://docs.google.com/document/d/1dEYW59IGqiU2S94G7DJYdOiglIQzxqL00l_g2lLqC7c/edit?ts=5f99d09c# :

**Bible Reference RCL**

- Testament/Book/Chapter/Verse navigation
- Previous and next for Book/Chapter/Verse
- Drop-down selection for each
- Typeable
- UI and headless UI library (https://react-table.tanstack.com/docs/overview#what-is-a-headless-ui-library)
- May also h

[2020-11-02 13:44] mvahowe commented on #485
If the USFM has \v1-2, and the UI is on "verse 1", what does "next verse" do? I can't see a safe answer to this question since, basically, the UI would be misleading the user. If "next" is v3, where is v2? If "next" is v2, with identical content to v1, doesn't that look like a bug? If \v1-2 is displayed as "verse 1", why wouldn't the user delete the part of the translation that is not in v1?

[2020-11-02 15:09] #485 closed

[2020-11-02 15:09] PhotoNomad0 commented on #485
Issue moved to [unfoldingWord/bible-reference-rcl #1](https://github.com/unfoldingWord/bible-reference-rcl/issues/1) via [**ZenHub**](https://www.zenhub.com/)

[2020-11-02 20:17] elsylambert commented on #338
Looks good in GiteaReactToolkit v1.3.11 and works as expected.

[2020-11-03 03:12] RoyalSix commented on #424
Issues confirmed fixed:
 - `Turn Off the toggle for Blocks and the text goes blank.`
 - `As of now the only issues I see are that the FIRST time you edit the markdown document (with sections & blocks OFF), it sends cursor to the bottom of the file`
 - `HTML is garbled if PREVIEW mode turned off`
 - `Adding a line feed in block quote text changes '>' to '&gt;' when Preview is enabled`

[2020-11-03 03:15] RoyalSix commented on #365
Issues confirmed fixed [here](https://5fa0967635343500ec6e7a78--tc-create-app.netlify.app/):
 - `Intro still shows up at top`
 - `App Crashes after filter`
 - `BUG:Filter crashes the app. Initially reported as ID duplicated and now deleted.`

[2020-11-03 03:37] RoyalSix commented on #415
Confirmed issues fixed [here](https://5fa0967635343500ec6e7a78--tc-create-app.netlify.app):
 - ` "Expand All Scripture " toggle does not work now.`
 - `Parallel Scripture viewer missing in the develop branch`

[2020-11-03 03:41] RoyalSix commented on #463
Confirmed issues fixed [here](https://5fa0967635343500ec6e7a78--tc-create-app.netlify.app/):
 - `Crash on pagination (on develop branch, not master)`
 - `When the next button is clicked the first time, the Target side text is messed up. As soon as you reach chapter 2, the app crashes.`

[2020-11-03 03:41] RoyalSix commented on #437
Confirmed issues fixed [here](https://5fa0967635343500ec6e7a78--tc-create-app.netlify.app/):
 - `Target section goes blank when Section/Blocks are toggled`

[2020-11-03 03:44] RoyalSix commented on #440
Confirmed issues fixed [here](https://5fa0967635343500ec6e7a78--tc-create-app.netlify.app/):
 - `Search functionality: App crashes on Search in tN`

[2020-11-03 03:45] RoyalSix commented on #444
Confirmed issues working [here](https://5fa0967635343500ec6e7a78--tc-create-app.netlify.app/):
 - `Text from the scripture pane should be copied/pasted as plain text`

[2020-11-03 03:49] RoyalSix commented on #321
Confirmed issues working [here](https://5fa0967635343500ec6e7a78--tc-create-app.netlify.app/):
 - `Typing a new line with > doesn't save as two lines`

[2020-11-03 17:05] ancientTexts-net commented on #365
Thank you @RoyalSix  -- which PR(s) include(s) these most recent changes please?

[2020-11-03 18:13] elsylambert commented on #322
https://5fa0967635343500ec6e7a78--tc-create-app.netlify.app/ The given Resource link(https://git.door43.org/ru_gl/ru_rlob) loads fine for TIT, Ruth and 3JN but this makes all other books fail loading cause they cannot find the newly added resource.

[2020-11-03 18:19] cckozie commented on #322
Here is a screenshot of what is displayed in tC when a verse has no text in a resource.
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/5c0e7bc2-6f92-4ab0-b706-ee8e448ec5b4)

[2020-11-03 20:33] richmahn commented on #460
@mandolyte Manifest being invalid just means it doesn't meet the Catalog Next manifest.yaml schema, as we wanted to make sure issued and modified fields had valid dates, as well as contributors be an empty array, not null. Fixed that and added Jonah & Ruth.

[2020-11-03 20:52] mandolyte commented on #460
@richmahn Thanks!
@BincyJ the CV app now works on Jonah at the BCS Hindi repo.

Was this a CV app issue? Perhaps it should be moved there?

OK to close??

[2020-11-03 21:27] ancientTexts-net commented on #415
Testable in `v1.0.5-rc.7`

https://deploy-preview-488--tc-create-app.netlify.app/

@elsylambert
@cckozie

@BincyJ
@birchamp

[2020-11-03 21:27] ancientTexts-net commented on #321
Testable in `v1.0.5-rc.7`

https://deploy-preview-488--tc-create-app.netlify.app/

@elsylambert
@cckozie

@BincyJ
@birchamp

[2020-11-03 21:28] ancientTexts-net commented on #424
Testable in `v1.0.5-rc.7`

https://deploy-preview-488--tc-create-app.netlify.app/

@elsylambert
@cckozie

@BincyJ
@birchamp

[2020-11-03 21:28] ancientTexts-net commented on #365
Testable in `v1.0.5-rc.7`

https://deploy-preview-488--tc-create-app.netlify.app/

@elsylambert
@cckozie

@BincyJ
@birchamp

[2020-11-03 21:29] ancientTexts-net commented on #338
Testable in `v1.0.5-rc.7`

https://deploy-preview-488--tc-create-app.netlify.app/

@elsylambert
@cckozie

@BincyJ
@birchamp

[2020-11-03 21:30] ancientTexts-net commented on #463
Testable in `v1.0.5-rc.7`

https://deploy-preview-488--tc-create-app.netlify.app/

@elsylambert
@cckozie

@BincyJ
@birchamp

[2020-11-03 21:30] ancientTexts-net commented on #437
Testable in `v1.0.5-rc.7`

https://deploy-preview-488--tc-create-app.netlify.app/

@elsylambert
@cckozie

@BincyJ
@birchamp

[2020-11-03 21:31] ancientTexts-net commented on #440
Testable in `v1.0.5-rc.7`

https://deploy-preview-488--tc-create-app.netlify.app/

@elsylambert
@cckozie

@BincyJ
@birchamp

[2020-11-03 21:34] ancientTexts-net commented on #444
@RoyalSix

@elsylambert

I still see HTML paste in v1.0.5-rc.7
not sure I understand DOD here

https://deploy-preview-488--tc-create-app.netlify.app/

[2020-11-03 21:39] birchamp commented on #460
@richmahn tC Create crashed when opening Jonah

[2020-11-03 21:43] mandolyte commented on #460
Still crashes... the error in the console indicates an issue with column filters. As I recall, there are several current issues being worked in this space. Perhaps it can be tested in one of those previews.

Here is the console error:
![image](https://user-images.githubusercontent.com/1289437/98043734-ba03c600-1df3-11eb-8ab7-01d7a66dc5b7.png)

[2020-11-03 21:46] cckozie opened #489 "id attribute has been removed"

[2020-11-03 21:46] birchamp commented on #460
@mandolyte production tC Create crashes?

[2020-11-03 21:53] cckozie opened #490 "Multiple attributes have been removed from tA section text"
Original capture of element
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/75da1f7c-b9f0-4eb8-a5f9-ecb4c6b114f1)

Latest capture of element (from https://5fa0967635343500ec6e7a78--tc-create-app.netlify.app/) 1.0.5 rc-6+
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/458d7355-461d-45a0-99f1-ebeec7ba7959)

[2020-11-03 22:04] cckozie opened #491 "id attribute is related to two different elements"
This one has an id attribute, but it is related to two different elements. I can't find anyway in Katalon to distinguish between them.
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/9b6c1405-90ce-4a81-9f9c-4fc7c884d143)

[2020-11-03 22:07] cckozie commented on #489
This one has an id attribute in production, but not in develop

![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/c9a7067b-3265-4a01-9774-1ac0b80b5368)

![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/780398b5-e731-414c-9023-1114659fda81)

[2020-11-03 23:38] elsylambert commented on #415
Looks good in Preview. Parallel Scripture viewer works as expected and the Expand All Scripture toggle works fine.

[2020-11-03 23:55] elsylambert commented on #424
Looks good in Preview.https://deploy-preview-488--tc-create-app.netlify.app/

[2020-11-04 00:01] elsylambert commented on #338
Looks good in Preview https://deploy-preview-488--tc-create-app.netlify.app/

[2020-11-04 00:05] elsylambert commented on #365
Not seeing filter crash in the preview https://deploy-preview-488--tc-create-app.netlify.app/

[2020-11-04 00:07] elsylambert commented on #463
Not seeing Crash on Pagination in Preview https://deploy-preview-488--tc-create-app.netlify.app/

[2020-11-04 00:08] elsylambert commented on #437
Not seeing the issue in the Preview https://deploy-preview-488--tc-create-app.netlify.app/

.

[2020-11-04 00:09] elsylambert commented on #440
Not seeing the crash on Search in Preview. https://deploy-preview-488--tc-create-app.netlify.app/

[2020-11-04 14:10] mandolyte commented on #460
@birchamp Yes, with production - I mention this to point out that the manifest fix did not help.

[2020-11-04 14:46] birchamp commented on #460
@mandolyte so now that the manifest is updated can the CV app check it?

[2020-11-04 14:53] mandolyte commented on #460
Yes! there are 314 tN errors, with 4 in the "red" level.

Cecil

On Wed, Nov 4, 2020 at 9:46 AM birchamp <notifications@github.com> wrote:

[2020-11-04 14:54] birchamp commented on #460
Can you do a screencast of running that check and jumping to a specific error in DCS and we'll send it to Vipin with the link to the CV app.

[2020-11-04 15:11] mandolyte commented on #460
I don't know if I have any way to make a screencast. Could annotate some
screenshots and put them into a PDF... would that work?

On Wed, Nov 4, 2020 at 9:55 AM birchamp <notifications@github.com> wrote:

[2020-11-04 15:50] ancientTexts-net commented on #415
Testable in `develop`, v `1.0.5-rc.7`

https://develop--tc-create-app.netlify.app/

[2020-11-04 15:51] ancientTexts-net commented on #415
Testable in `develop`, v `1.0.5-rc.7`

https://develop--tc-create-app.netlify.app/

@elsylambert
@cckozie

@birchamp
@BincyJ

[2020-11-04 15:51] ancientTexts-net commented on #321
Testable in `develop`, v `1.0.5-rc.7`

https://develop--tc-create-app.netlify.app/

@elsylambert
@cckozie

@birchamp
@BincyJ

[2020-11-04 15:51] ancientTexts-net commented on #424
Testable in `develop`, v `1.0.5-rc.7`

https://develop--tc-create-app.netlify.app/

@elsylambert
@cckozie

@birchamp
@BincyJ

[2020-11-04 15:51] ancientTexts-net commented on #365
Testable in `develop`, v `1.0.5-rc.7`

https://develop--tc-create-app.netlify.app/

@elsylambert
@cckozie

@birchamp
@BincyJ

[2020-11-04 15:51] ancientTexts-net commented on #338
Testable in `develop`, v `1.0.5-rc.7`

https://develop--tc-create-app.netlify.app/

@elsylambert
@cckozie

@birchamp
@BincyJ

[2020-11-04 15:51] ancientTexts-net commented on #463
Testable in `develop`, v `1.0.5-rc.7`

https://develop--tc-create-app.netlify.app/

@elsylambert
@cckozie

@birchamp
@BincyJ

[2020-11-04 15:51] ancientTexts-net commented on #437
Testable in `develop`, v `1.0.5-rc.7`

https://develop--tc-create-app.netlify.app/

@elsylambert
@cckozie

@birchamp
@BincyJ

[2020-11-04 15:51] ancientTexts-net commented on #440
Testable in `develop`, v `1.0.5-rc.7`

https://develop--tc-create-app.netlify.app/

@elsylambert
@cckozie

@birchamp
@BincyJ

[2020-11-04 16:52] mandolyte commented on #460
@ancientTexts-net @birchamp Jonah in Hindi at BCS still crashes on the latest develop deployment.
https://develop--tc-create-app.netlify.app/

[2020-11-04 17:48] RoyalSix commented on #444
Pasting with preview mode on removes formatting @ancientTexts-net
That is the behavior I am seeing in the preview

[2020-11-04 18:00] RoyalSix opened #497 "Cannot read property 'split' of undefined at a.filterLogic"
This is a random bug that is happening in tc-create-app when scrolling down the page. Not sure what is causing it, but its making the app crash so patching it.

[2020-11-04 18:03] cckozie opened #498 "tN now opens with Rows per Page set to 10 when it used to be 25"
v1.0.5-rc.7
Open any tN project and note the Rows per Page
Probably not a big deal for most users, but does break automation scripts

[2020-11-04 18:15] RoyalSix commented on #497
<img width="1792" alt="Screen Shot 2020-11-04 at 10 15 02 AM" src="https://user-images.githubusercontent.com/16184018/98152481-a48bac00-1e86-11eb-988c-728f5cfb2bcd.png">

[2020-11-04 18:45] birchamp commented on #438
@RoyalSix Does issue #444 fix this so we don't need to replace copy/paste?

[2020-11-04 21:39] cckozie commented on #365
Looks good in v1.0.5-rc.7

[2020-11-04 21:51] cckozie commented on #463
Looks good in v1.0.5-rc.7

[2020-11-04 21:52] cckozie commented on #440
Looks good in v1.0.5-rc.7

[2020-11-04 21:57] cckozie commented on #437
Looks good in v1.0.5-rc.7

[2020-11-04 21:59] elsylambert commented on #415
Tested in Katalon script by test-tCCreate/ Parallel Scripture Viewer. Looks good in V 1.0.5-rc 7

[2020-11-04 22:01] cckozie commented on #338
v1.0.5-rc.7
Clicking on the link for the org translate_test takes me to https://git.door43.org/translate_test which I assume is correct

[2020-11-04 22:05] elsylambert commented on #424
Not seeing this issue in translationCore Create - v1.0.5-rc.7

[2020-11-04 22:06] cckozie commented on #415
Looks good in v1.0.5-rc.7

[2020-11-04 22:07] elsylambert commented on #365
Not seeing the issue in translationCore Create - v1.0.5-rc.7.

[2020-11-04 22:20] cckozie commented on #321
Looks good in v1.0.5-rc.7

[2020-11-04 22:24] cckozie commented on #424
Looks good in v1.0.5-rc.7

[2020-11-04 22:29] elsylambert commented on #338
Tested in Katalon Test Case- Link to Organization page and it works as expected in translationCore Create - v1.0.5-rc.7.

[2020-11-04 22:30] elsylambert commented on #463
Not seeing the issue in translationCore Create - v1.0.5-rc.7.

[2020-11-04 22:38] elsylambert commented on #440
Not seeing the issue in translationCore Create - v1.0.5-rc.7.

[2020-11-04 22:39] elsylambert commented on #437
Not seeing the issue in translationCore Create - v1.0.5-rc.7.

[2020-11-04 22:40] elsylambert commented on #321
Not seeing the issue in translationCore Create - v1.0.5-rc.7.

[2020-11-04 22:42] elsylambert commented on #458
undo is working fine in translationCore Create - v1.0.5-rc.7.

[2020-11-04 22:42] elsylambert commented on #393
Not seeing the issue in translationCore Create - v1.0.5-rc.7.

[2020-11-04 23:23] PhotoNomad0 commented on #338
That is correct as far as my understanding.

Sent from my iPad

[2020-11-05 00:01] mandolyte opened #499 "Content Validation - On Demand"
This issue covers implementation of invoking content validation on-demand.

[2020-11-05 00:03] mandolyte commented on #235
Connected this spike to issue for CV on-demand;
Will also connect to CV on open/save and on edit (per row, on blur event)

[2020-11-05 00:07] mandolyte opened #500 "Content Validation: on-open"
This issue covers invocation of Content Validation when a file is opened and when a file is saved.

[2020-11-05 00:09] mandolyte opened #501 "Content Validation: on edit (via on blur event)"
This issue covers per row validation on UTN resources as the user edits.

[2020-11-05 18:58] birchamp opened #503 "SPIKE: Offline caching"
Investigate how to add offline caching layer before auto saving to the user's branch

[2020-11-05 22:07] mandolyte commented on #503
At a high level are you thinking along these lines:
- When a user saves, write to a "to be saved" cache all the data plus details on where to save it (fex, the branch name)
- Implement a background thread that monitors the "to be saved" cache, maybe checking once a second
- If anything is there, it does the save and records whether was successful or not.
  - On success, it deletes it so it won't s

[2020-11-06 14:53] cckozie opened #505 "Some of the formatting is different in target than in the source in tA projects"
v1.0.5-rc.7
Is this because the source has changed since it was copied to the target?
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/0ec40a88-76f2-439b-973e-23352e571782)

[2020-11-06 16:08] birchamp commented on #505
@cckozie can you fix the link above? Are you seeing this after you delete your branch?

[2020-11-09 14:56] cckozie opened #507 "Unable to add new lines and duplicated blocks at the bottom of tA blocks"
translationCore Create - v1.0.5-rc.7
This happens both in preview and non-preview mode
Movie at [https://app.zenhub.com/files/191973535/8484057a-2b35-4e45-80be-e9e1e869e7c1/download](https://app.zenhub.com/files/191973535/8484057a-2b35-4e45-80be-e9e1e869e7c1/download)
1. Open a tA project
2. Open one of the blocks
3. Position the cursor at the bottom of the block
4. Press the Enter/Return key
5. N

[2020-11-09 15:22] elsylambert opened #508 "Text Editor becomes unresponsive when field is cleared completely using delete/backspace key"
- Open a tA article and click on an edit block to start editing.
- Using the keyboard -delete or backspace keys, clear the text in the editor box.
- Note that when you completely clear the text, the # shows up. Clear #  and then the text from the next block gets rendered into the cleared edit box, which cannot be cleared then. The app becomes unresponsive.
.![Screen Shot 2020-11-09 at 10.13.27 AM.

[2020-11-09 16:01] mandolyte commented on #500
@BincyJ @birchamp Since we know now that users are creating content manually, the highest priority has shifted to validating content when a file is initially opened. This will ensure that any critical formatting errors do not crash tc-create.

Here is my understanding of the requirements for CV-on-open:

### Only critical errors should be processed

This has the advantage of minimizing the slow do

[2020-11-09 16:19] elsylambert commented on #508
Found this issue by Katalon script- undo text in editor

[2020-11-10 14:41] birchamp commented on #500
@mandolyte @BincyJ -

Here's what I propose:
"There are critical errors in this file. Continuing to open this file may result in a blank screen or severe error, but no data will be lost. Are you sure that you want to continue?"   Then we give them two options:
* View errors
* Continue to open file

"View errors" takes them a new tab with the validation results.

[2020-11-10 16:49] elsylambert commented on #508
When the text block is cleared completely, the next block is moved up and for the whole article , one block moves up to the top.

[2020-11-10 19:21] birchamp commented on #508
So I don't mind the text getting out of sync with the blocks **as long as** the user can get them back in sync. We need to allow translators to delete a block to move the text up if the text is out of line to begin with.  @Elsy says that the app becomes unresponsive. That *is* a real problem. @cckozie Are you seeing it become unresponsive in production?

[2020-11-10 20:18] elsylambert commented on #508
@birch The original issue which I labelled as QA fail is a problem. When the text is cleared completely from the Header Block it displays # in non-preview mode and when you try to clear that #, it copies the text from the next block. At this point the app becomes unresponsive. This is not happening in Production.

[2020-11-10 20:20] cckozie commented on #508
@birchamp - Yes, as Elsy stated, I am not seeing it become unresponsive in Production.

[2020-11-10 23:39] ancientTexts-net commented on #497
can we please get together regarding this unit test?

![image.png](https://images.zenhubusercontent.com/5ec297799c61301f66b0725c/2ea5e320-a8c1-4c77-a4ba-4742c3524abb)

i cannot get it to work for some reason

[2020-11-10 23:39] ancientTexts-net commented on #497
![image.png](https://images.zenhubusercontent.com/5ec297799c61301f66b0725c/3b3f7151-384c-44f3-a9c5-e4bf31820290)

[2020-11-10 23:42] ancientTexts-net commented on #507
here's the behavior I see:

C:\Users\ZPennington\AppData\Local\Temp\557e1d2d-88d0-4eeb-9cc2-72539bcd6171.gif

@RoyalSix  maybe unblocking tomorrow ?

[2020-11-11 00:09] ancientTexts-net commented on #507
I narrowed this down to `markdown-translatable` 1.2.5

![image.png](https://images.zenhubusercontent.com/5ec297799c61301f66b0725c/2ddd288a-967f-440a-b627-1a95acd550ec)

[2020-11-11 00:25] ancientTexts-net commented on #507
deploy preview is here:

https://deploy-preview-509--tc-create-app.netlify.app/

[2020-11-11 04:38] cckozie opened #510 "There are highlighting errors in tN for Titus 1:15, id n3wk"
The problem may be that the tsv has occurrence set to 1 when maybe it should be set to 2.
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/13472fb9-7759-4e0b-aadf-369fe5f7a9c7)

![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/4804c18c-3d6a-4778-ae89-5f39375f5e7c)
tC has more data:
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c

[2020-11-11 14:33] elsylambert commented on #507
https://deploy-preview-509--tc-create-app.netlify.app/ Verified in the link- Able to add new lines at the bottom of Blocks.

There is an issue - Autofill /duplicated blocks when we type at the end of a block. This does not happen with every block. After some investigation, found that if there is a text which does not start with a md character (# or >) the blocks gets duplicated and autofilled.

[2020-11-11 15:03] cckozie commented on #505
@birchamp The link is fixed, but so far we have been unable to recreate the repo after I deleted it.

[2020-11-11 15:03] elsylambert commented on #505
@birchamp  I see this behaviour in Org- translate-test but not on the Organization - unfoldingword.

[2020-11-11 15:22] mandolyte commented on #500
@BincyJ @birchamp A summary and a finding...

Based on conclusions in this issue:

- We will go with a model dialog box
- The box will show high priority errors
  - include the message and other info needed to understand the error
  - the "line" number with link to open DCS to location
- Provide two buttons:
  - Close which will not advance the stepper
  - Continue which will advance the stepper

[2020-11-11 15:39] BincyJ opened #512 "DCS Workflow"

[2020-11-11 15:58] cckozie commented on #505
The formatting was correct after deleting and recreating the repo. Closing this issue.

[2020-11-11 15:58] #505 closed

[2020-11-11 16:29] birchamp opened #513 "Clearing a header adds a hashtag to the field"
Clearing a header completely inserts a hashtag to the text field.

[2020-11-11 16:44] cckozie opened #514 "Double clicking on κατ’ only highlights κατ, so when pasted in original language quote, no highlighting occurs"
v1.0.5-rc.8

[2020-11-11 16:49] birchamp opened #515 "SPIKE: Investigate automated notification of changes to element attributes"

[2020-11-11 19:02] BincyJ opened #516 "Initialization into the app"

[2020-11-11 19:43] BincyJ opened #517 "User wants to submit changes to master file"
As a user I want to be save edits to a file and  submit my changes to master so that I can ensure that other translators can see my work.

Case 1: If I select submit, there are no conflicts, I should get an alert message 'Are you sure?'before actual submission.
Case 2: If I select submit, there are conflicts:
 a) tC Create will programattically fix it.
b) If tC Create cannot programmatically fix t

[2020-11-11 19:52] BincyJ opened #518 "Admin App - Conflict resolution"
As an admin, I should be able to view the conflicts between latest master repo and a user branch.

[2020-11-12 16:06] elsylambert commented on #508
In the Preview- https://deploy-preview-509--tc-create-app.netlify.app/ Not seeing the # but Save is not working. Save button does not get enabled when the changes are made to the file.

[2020-11-12 16:09] elsylambert commented on #513
In Production- # appears when you clear the text box by first selecting the whole text using a mouse and then hitting delete>on blur.
App is responsive.

In Develop rc 7- # appears after you clear the text box using keyboard key- delete(Mac)/backspace

[2020-11-12 16:12] #94 closed

[2020-11-14 00:04] cckozie commented on #510
This one is a little more complex

![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/a0ed776e-d7f5-46aa-bc6c-1eb25e2972dc)

[2020-11-16 22:21] elsylambert opened #521 "Highlights are lost when Occurrence number is changed back from 0 to 1"
Highlights are lost when occurrence number is changed back from 0 to 1 or changed by removing the Occurrence Number and adding back.

[2020-11-16 22:41] elsylambert commented on #521
- Open tN and go to a note that has a highlight.
- Change the Occurrence number from 1 to 0. Highlight is removed as expected.
- Change the Occurrence number back to 1. Note that OriginalQuote cannot be highlighted.

[2020-11-17 21:58] cckozie commented on #510
In this example setting the occurrence to 2 changes to highlight the correct instance of Βόες, but does not solve the problem with the highlighted instance of Ἰωβὴδ.
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/82679cf2-77e3-46f7-af0a-b7de5c73e35a)

![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/00e9e7a2-2c65-4282-a6da-99fe8a4ce1ae)

[2020-11-18 15:45] birchamp opened #523 "Preview breaks when there is an empty line in between parent and children of a nested list."
This was found while translating a file in the translationWords repository.
In this file there is a list written like this:

 1. First item

    * First nested item
    * Second nested item

2. Second item

    * First nested item
    * Second nested item

...
When the software finds an empty line in between the parent item and the child item it breaks the preview making the child item cover the w

[2020-11-18 15:47] cckozie commented on #62
Tested in Katalon tCC tN Test Highlighting

[2020-11-18 15:48] birchamp opened #524 "Software keeps removing <sup></sup> tags when editing a file."
After editing any block in the file through the app it will randomly remove the <sup></sup> tags.

Quick temporal solution: add the <sup></sup> tags last. After the rest of the file is done editing.

[2020-11-18 15:55] birchamp opened #525 "Consecutive indented lines are misrendered"
In another file, there is a portion of the text written like this:
[code]

But it is rendered like this:

But **godliness** with **contentment** is great **gain**. (1 Timothy 6:6 ULT)

in this case it ignores the line breaks and renders all the consecutive indented lines as if they were just one indented line.

Quick temporal solution: add a line with a < symbol between each pair of indented lines

[2020-11-18 16:46] birchamp opened #526 "Consider using a markdown editing toolbar"
It would also be nice if something like this: https://github.com/OpusCapita/react-markdown 3) , could be added to the tCore Create app.

Some translators have had trouble understanding how to use Markdown to format text so adding a formatting menu like the one above would be very useful.

[2020-11-18 16:47] birchamp opened #527 "add indicator of block quote"
Use either coloring or a bar to show block quotes as opposed to indent.

[2020-11-18 21:17] cckozie opened #529 "Highlighting inaccuracies in tN's"
v1.0.5-rc.7
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/1b604778-4c40-4b47-9c92-52abb03a7c83)

[2020-11-18 21:45] cckozie opened #530 "OL book snippet with ellipsis is only partially highlighted"
v1.0.5-rc.7
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/8172c708-1073-49e1-8e90-5679a14973d1)

[2020-11-18 21:46] cckozie opened #531 "tN highlighting problems"

[2020-11-18 22:05] cckozie opened #532 "Strange symbol in Hebrew text in Ruth 1:8"
Seen in both production and v1.0.5-rc.7
Seen in both Chrome and Firefox
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/3f7bc2a8-2fce-47bf-b0b8-f2cd1d9007e5)

![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/c4ce2686-aa8d-443c-a0ca-30383abb78ec)

[2020-11-18 22:19] cckozie opened #533 "Font sizer does not change the size of the font in the parallel scripture pane"
This is the case in production and v1.0.5-rc.7

With font size at maximum:
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/0db89db3-145f-448e-98ec-81283d761403)

[2020-11-18 22:26] mandolyte commented on #532
What symbol are you referring to? I don't know Hebrew, so the only thing that stands out to me is the footnote symbol

[2020-11-19 15:41] #532 closed

[2020-11-19 15:41] cckozie commented on #532
Yes, it is the symbol for footnotes. Hadn't seen this before, and it's different than in our other apps, so wrote it up.
Closing this issue.

[2020-11-19 17:46] mandolyte commented on #518
# Issue 518 "SPIKE: Admin App - Conflict resolution"

- Issue: https://github.com/unfoldingWord/tc-create-app/issues/518
- Drive location for diagram: https://drive.google.com/file/d/1HQqLWeaTj6aLCzJrIGQCAfA-zgwcpjmh/view?usp=sharing_eip&ts=5fb3d6ec
- Workflow diagram: https://app.diagrams.net/#G1HQqLWeaTj6aLCzJrIGQCAfA-zgwcpjmh
- Rich's PoC work: https://unfoldingword.zulipchat.com/#narrow/stream

[2020-11-20 14:59] mandolyte commented on #518
Found an interesting website that converts curl commands into Javascript fetch():

This website converts curl commands into Javascript fetch:
https://kigiri.github.io/fetch/

For example, this:
[code]

becomes this:
[code]

[2020-11-20 16:47] BincyJ opened #536 "Validation - Opening a File"
When the user opens the file
Light check is performed ( ex: Repo exists, manifest file exists,etc)
If Light check passes, then open the file. c
If light check fails, then alert message needs to be displayed stating user to contact administrator.
Complete validation should be an option available to user 'on demand'.

[2020-11-21 00:03] cckozie commented on #530
v1.0.5-rc.7

[2020-11-21 00:09] cckozie commented on #529
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/86d538f7-4236-4cd6-bb8e-78becc8027ad)

[2020-11-21 00:13] cckozie commented on #529
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/8206b995-c22d-4e96-9663-cc98a7961f58)

[2020-11-21 00:20] cckozie commented on #529
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/17e75dd1-a510-4c22-ac13-d1e816150ee2)

[2020-11-22 12:50] mandolyte commented on #536
@BincyJ this is similar to #500 ; One difference is that the "light" checks can't work unless the file actually exists and can be opened. So if the file content is available to be checked, that means the repo, the file, and the manifest exist.

The repo exists check is done when a user selects a resource and language. If the repo for the selected resource, language, and org does not exist, then yo

[2020-11-24 22:22] ancientTexts-net commented on #507
Testable in `v1.0.5-rc.10`
https://develop--tc-create-app.netlify.app/

[2020-11-25 13:45] ancientTexts-net commented on #507
Testable in translationCore Create - `v1.0.5-rc.10`
https://develop--tc-create-app.netlify.app/

@elsylambert  @cckozie

[2020-11-25 13:45] ancientTexts-net commented on #420
Testable in translationCore Create - `v1.0.5-rc.10`
https://develop--tc-create-app.netlify.app/

@elsylambert  @cckozie

[2020-11-25 13:45] ancientTexts-net commented on #508
Testable in translationCore Create - `v1.0.5-rc.10`
https://develop--tc-create-app.netlify.app/

@elsylambert  @cckozie

[2020-11-25 13:45] ancientTexts-net commented on #322
Testable in translationCore Create - `v1.0.5-rc.10`
https://develop--tc-create-app.netlify.app/

@elsylambert  @cckozie

[2020-11-25 14:05] elsylambert commented on #322
translationCore Create - v1.0.5-rc.10. Looks good. Able to add the Resource by using a URL or a relative path. The app does not hang when a book does not have the resource. It shows blank in scripture pane in such case.

Tested in Automated script by test-tCCreate/ Add New Resource

[2020-11-25 14:07] elsylambert commented on #507
translationCore Create - v1.0.5-rc.10. Not seeing the issue in tA blocks. Able to add new lines at the end of a block and not seeing duplicated blocks.

[2020-11-25 14:14] elsylambert commented on #508
translationCore Create - v1.0.5-rc.10. Not seeing the App becoming unresponsive when the field is cleared completely.

[2020-11-25 14:24] elsylambert opened #545 "Edits are lost when typed in after a header is cleared completely using delete/backspace button"
- Clear the text using delete/backspace button.
- type -in new edits.
Case 1:
- Tab out/on blur edits are lost and blocks moved up.
Case 2:
- Click on save after step2. edits are lost and blocks moved up.

This is taken out from #508.

[2020-11-25 15:48] cckozie commented on #393
v1.0.5-rc.10
@elsylambert - This doesn't seem right, but I'm not sure if this is different than what you were seeing.
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/967c9457-a615-49f8-a1e1-d2abdf079c95)

![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/24ce3dc1-36c7-4fe7-a76b-9320a23e15ec)

[2020-11-25 15:54] cckozie commented on #507
Looks good in v1.0.5-rc.10

[2020-11-25 16:12] cckozie commented on #420
v1.0.5-rc.10
The aria-label has been added to the Preview button in tN, but it is missing on the enabled Save button.
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/abb01e49-e8c1-49ef-823e-b623d477b45e)

[2020-11-25 16:14] cckozie opened #546 "aria-label is still missing on the enabled Save button in tN projects"
v1.0.5-rc.10
Moved here from #420
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/abb01e49-e8c1-49ef-823e-b623d477b45e)

[2020-11-25 16:36] cckozie commented on #322
I am seeing some issues in v1.0.5-rc.10
1. If the pasted path doesn't exist or is not a valid repo, there is no indication to the user that something is wrong. Nothing happens when the add icon is clicked and there is no explanation of why.
2. I am unable to enter a URL using the keyboard. Only some keys actually work. Try typing in ru_gl/ru_rlob (or pretty much any other path) rather than pasting

[2020-11-25 17:37] cckozie commented on #508
v1.0.5-rc.10
I'm not seeing the app becoming unresponsive or significant differences in the way deleting text is working as compared to Production, but do see another anomaly where a > is left in a field where the text was deleted by highlighting and clicking Delete.
[https://app.zenhub.com/files/191973535/0b422bca-b727-4e34-badd-394ec9ddb2e6/download](https://app.zenhub.com/files/191973535/0b422b

[2020-11-25 17:40] cckozie opened #547 "Deleted text in tA is replaced with >"
v1.0.5-rc.10
Delete a line of indented text by highlighting and clicking Delete. Moved here from #508
[https://app.zenhub.com/files/191973535/0b422bca-b727-4e34-badd-394ec9ddb2e6/download](https://app.zenhub.com/files/191973535/0b422bca-b727-4e34-badd-394ec9ddb2e6/download)

[2020-11-25 21:21] birchamp opened #548 "Add error message when add resource has a bad url."
There is no indication to the user when add resource encounters a bad url or invalid repository.

Notifications of errors should be added to the text field similar to:
![image.png](https://images.zenhubusercontent.com/5cf53901e39e5f33e3e129fa/d5d03e26-5aba-4d1a-8335-66cf2aba1c9f)
See this issue https://github.com/unfoldingWord/create-app/issues/34

Catch-all error message:  "Error: Could not add t

[2020-11-25 21:22] birchamp opened #549 "Allow users to enter the add resource URL using the keyboard."
I am unable to enter a URL using the keyboard. Only some keys actually work. Try typing in ru_gl/ru_rlob (or pretty much any other path) rather than pasting it. Only some keystrokes work.

[2020-11-25 21:25] birchamp commented on #322
@ancientTexts-net @cckozie
I've added issues #548 and #549 to cover the above.

In reference to adding URLs manually please see the end of this video :)
https://www.youtube.com/watch?v=2f453vD1-ew

[2020-11-27 20:55] mandolyte commented on #518
# An alternate view of the translation workflow (partial)

## Overview

In this alternate view, the translate process at a high level could be:

The translator:
- selects a file to translate or to update
- makes changes to the file
- save changes to the file
- this may continue for for some time
- proposes to replace the orginal with their file
- if discovered that someone else is also working wit

[2020-12-01 14:47] mandolyte commented on #518
@BincyJ @birchamp Because it seems that our users have a hard time dealing with Git, especially in how branches work, I created the above which hides those aspects and presents a book or article view of the translation tasks. But this would require some changes to tc-create that go beyond the scope of this spike. I might add it would make the code for resolving conflicts easier as well.

However,

[2020-12-01 14:57] mandolyte commented on #518
This document needs to be revised based on user preference for a reviewer...

[2020-12-01 15:43] mandolyte opened #556 "Content Validation upgrade and handle on demand for markdown"
At present only TSV (ie, tN) has the validation. This issue captures need to extend to markdown files.

Also, need to update code to use latest CV package. Some API calls appear to have changed.

[2020-12-01 15:57] #397 closed

[2020-12-01 15:57] #321 closed

[2020-12-01 17:28] elsylambert commented on #499
@mandolyte I fixed the content and then validated again. Is there any indication to the user if there are no content issues?

[2020-12-01 17:44] ancientTexts-net commented on #500
Reviewed with Cecil:

2 issues:

- TSV is not opening after validation (spinner)
- LICENSE.md is being validated in `en_tn` (should not be)

- no errors logged to console

[2020-12-01 18:05] #420 closed

[2020-12-01 18:07] #415 closed

[2020-12-01 18:08] #424 closed

[2020-12-01 18:10] #440 closed

[2020-12-01 18:17] #463 closed

[2020-12-01 19:04] cckozie commented on #499
Working on the project at https://qa.door43.org/translate_test/en_tn/src/branch/tc01-tc-create-1/en_tn_57-TIT.tsv
I opened the project and clicked on the Validate icon
The download file had these two rows:
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/c2d436e4-76b0-41be-b5a5-10693b0eb353)

I fixed the problem in row 3 (Unable to find original language quote in verse te

[2020-12-01 19:20] cckozie commented on #499
I loaded a Matthew project and clicked the Validate icon. It took 50 seconds to run the validator on Matthew on my fastest Mac. There was no indication that it was actually running during that time, and I was able to perform other operations in the project while it was running.
I then clicked the Validate icon again, and this time the icon and tooltip stayed "highlighted" and I was not able to per

[2020-12-01 19:41] cckozie opened #559 "Inconsistent user experience when using the on demand validator"
When a tN project is first loaded and the Validate icon is clicked, there is no indication that the validator is running and the user is free to perform other actions in the project.
When the Validate icon is clicked a second (or successive) time in the same project, the icon stays highlighted and the tooltip remains displayed and the user is prevented from performing any other actions until the d

[2020-12-02 17:50] #316 closed

[2020-12-02 17:58] birchamp commented on #325
@ancientTexts-net Please note that I added to the DOD. If the file doesn't have a language code, nothing should get stripped away.

[2020-12-02 20:39] birchamp opened #565 "Add next/previous file button"
Clicking next will find and open the next alphabetical md file.  The user will be prompted to save the current file if it hasn't been saved.

[2020-12-02 21:49] cckozie opened #566 "Validator seems to find the same errors after they've been fixed"
Use this project: https://qa.door43.org/translate_test/en_tn/src/branch/tc01-tc-create-1/en_tn_57-TIT.tsv
Movie here: https://drive.google.com/file/d/1NCBbNvj88y1aLpiHa-qXDxB14hmWGMiE/view?usp=sharing
Validation files here: [https://app.zenhub.com/files/191973535/80b16f36-67ee-4195-875e-7b91aad540b8/download](https://app.zenhub.com/files/191973535/80b16f36-67ee-4195-875e-7b91aad540b8/download)
To

[2020-12-04 16:49] elsylambert commented on #322
Tested in Automated script by test-tCCreate/ Add New Resource-
- Checks New resource by relative path
- Checks New resource by a URL.
- Checks if the other book crashes if the Resource is not available for that book.

[2020-12-07 15:19] #322 closed

[2020-12-07 15:20] #458 closed

[2020-12-07 15:21] #338 closed

[2020-12-07 15:23] #365 closed

[2020-12-07 15:27] #393 closed

[2020-12-07 15:28] #508 closed

[2020-12-08 16:46] cckozie opened #572 "Validator reports "Unable to find original language quote in verse text" even though tC Create shows it highlighted"
**DOD** (after much collaboration)
**Zero width spaces are stripped from the beginning and end of each cell in the in-memory data so that the validator does not report such situations as errors.**

 v1.1.0 (develop)
There must be something different in what the validator is check for vs what tC Create is looking for when comparing the original quote filed to the original language text.
UTF of word

[2020-12-08 20:06] cckozie opened #573 "Using multiple sessions causes tC Create to hang when loading a project"
v1.1.0 (develop)
1. Login and load a tN project
2. Open a new browser tab
3. Login with the same username as in step 1
4. Load a tN project
5. Return the browser tab from step 1
6. Open the drawer
7. Select a different tN project to load
8. Note the the infinite spinner is started...

[2020-12-08 20:46] cckozie opened #574 "The validator should probably ignore punctuation at the beginning and end of the original language quote"
v1.1.0 (develop)
Not a big deal, but the double quote is not really the beginning of a word.
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/bce884ec-e96f-46ef-aea1-df9ec6388677)

![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/60111773-e48c-4078-bc64-d3d0445c8f60)

[2020-12-08 22:50] cckozie opened #575 "App crashes with blank screen when paging forward in 2TI tN project"
v1.1.0 (develop)
I assume it is related to the many validation errors in 2TI similar to:
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/12456354-3ed3-4cb8-9351-1c3ec93d807a)
Not seeing this in production, although the file in production does appear to have extra tabs as well.

Here is the text of the project:
[https://app.zenhub.com/files/191973535/d3dac5a5-f1e5-4647-b8

[2020-12-09 15:03] mandolyte commented on #566
Here are my notes from this morning. This file is causing quite unbelievable problems. But I cannot reproduce them from scratch.

1. delete my branch at qa.door43.org/translate_test/en_tn/branches
	cecil.new-tc-create-1
2. login with tc-create-app (local host)
3. org=translate_test
4. resource=tranlation notes
5. language=English
6. file=book of titus

Results:
- first, my session is paused on deb

[2020-12-09 16:29] cckozie commented on #573
Unable to replicate on 12/09/20. Moving to watch list.

[2020-12-09 16:38] cckozie commented on #566
It appears that the problem is caused by something in line 4 (ID = rtc9). I replaced that line with line 4 from the master in qa, then added the " abc abc" extra text to the original quote string as it was in the failing file. Now when the validator is run after fixing that original quote, that problem no longer reported by the validator.

[2020-12-09 18:05] ancientTexts-net opened #576 "Hackthon Update RCLs for Server-Side Next.js Compatability"
Hackthon Update RCLs for Server-Side Next.js Compatability

[2020-12-09 18:05] #576 closed

[2020-12-09 18:54] RobH123 commented on #572
On a separate matter, I'm curious why excerpt shows undefined for those two rows (unexpected), but blank for others (expected). Presumably that's a fault in the CV package, although I couldn't find an obvious bug. But hard to envisage how it could be a bug in the app???

[2020-12-09 19:50] RobH123 commented on #572
What version of the CV package is this using? I couldn't replicate those errors [here](https://unfoldingword.github.io/uw-content-validation/#/Book%20Package%20Checker%20Demo?id=bookpackagecheck), including the above trying to load a Greek verse for front:intro which doesn't even have a OrigQuote. Admittedly that demo link uses the latest CV package (in progress) and the latest content files, so i

[2020-12-09 20:00] RobH123 commented on #574
Ah, is that a " straight quote? So this is a consequential error. Presumably there's another error for that line mentioning the bad quote character. But I'll fix the 620 error to ignore that.

[2020-12-09 21:47] cckozie commented on #574
Here's a similar one for 621 error in Romans. The target original quote is \u1f40\u03be\u03b5\u1fd6\u03c2 \u03bf\u1f31 \u03c0\u03cc\u03b4\u03b5\u03c2 \u03b1\u1f50\u03c4\u1ff6\u03bd\u002c \u1f10\u03ba\u03c7\u03ad\u03b1\u03b9 \u03b1\u1f37\u03bc\u03b1. Is it the ellipsis in the original text that is causing the problem?
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/c1c5c7

[2020-12-10 19:06] ancientTexts-net opened #577 "Hackathon: Update RCLs for Server Side Next.js"
Hackathon: Update RCLs for Server Side Next.js

[2020-12-14 12:43] mandolyte commented on #526
I suggest we also prohibit edits in HTML mode. Round trips back to Markdown result in losses (slight but annoying re-arranging of the Markdown).

If it worked like this very edit box and like Zulip, then HTML would only be a "preview".

I played with the component suggested above and I don't see any HTML preview available. May need to consider other similar components that are out there.

[2020-12-14 15:14] cckozie opened #582 "Question on validator reporting unmatched quotes"
v1.1.0 (develop)
Here is the validator report when run on this Colossians project: https://qa.door43.org/translate_test/en_tn/src/branch/tc01-tc-create-1/en_tn_52-COL.tsv
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/d809a3c9-bbfd-4d62-988d-390db417af19)

After changing the curly double quotes “” to the straight ones from the English keyboard, the validator shows these

[2020-12-14 15:16] cckozie commented on #566
There is another example of this problem in issue #582.

[2020-12-14 23:06] cckozie commented on #582
This was user error!!!!!

[2020-12-14 23:06] #582 closed

[2020-12-15 14:52] #411 closed

[2020-12-15 15:29] birchamp commented on #574
@cckozie Do you know if tC ignores the punctuation?

[2020-12-15 16:52] cckozie commented on #574
@birchamp - It looks like tC is somewhat inconsistent in relation to highlighting punctuation at the start or end of the snippet.
And as noted elsewhere, the original language snippet highlighting sometimes varies between tC and tC Create.

![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/d89ef8d9-4a45-4bcd-b131-b39564bea820)

![image.png](https://images.zenhubusercontent

[2020-12-15 17:09] cckozie opened #584 "The validator reports wrong number of tabs on lines that don't exist in the target file"
Deleted rows shouldn't produce errors. If deleted rows *must* produce errors, it should be a very low priority error, and the description should include: "This row may have been deleted intentionally."

---------------
v1.1.0 (develop)
The file is at: https://qa.door43.org/translate_test/en_tn/_edit/tc01-tc-create-1/en_tn_55-1TI.tsv

![image.png](https://images.zenhubusercontent.com/56e1a9316caf56

[2020-12-15 19:59] richmahn commented on #452
A active listing of CURL commands needed to for creating repos, adding/updating files, and creating PRs is in:

https://repl.it/@richmahn/dcs-api-resolve-conflicts#setup.js

and

https://repl.it/@richmahn/dcs-api-resolve-conflicts#resolve.js

Where the former creates a PR with merging master into the the user branch, and the later, if no conflicts, merges that PR, otherwise handles conflicts and m

[2020-12-15 20:45] richmahn commented on #452
API calls not implemented by GRT but are API endpoints in Gitea:

- [ ] All PR CRUD API endpoints (https://git.door43.org/api/swagger#/repository/repoListPullRequests)

[2020-12-15 20:47] richmahn commented on #464
Merge on Save without conflict: https://repl.it/@richmahn/dcs-api-merge-poc-merge-no-conflicts (written in bash)

Merge on Save, has conflicts, resolve conflicts, update user branch: https://repl.it/@richmahn/dcs-api-resolve-conflicts

[2020-12-15 22:26] birchamp opened #585 "Merge Conflict RCL"
A RCL for resolving merge conflicts.  This is to be a simple one by one interface, but designing this as headless should be considered.

__________________
tS uses this interface to present conflicts to the user:

![Screen Shot 2020-12-15 at 4.54.45 PM.png](https://images.zenhubusercontent.com/5cf53901e39e5f33e3e129fa/ca021dc4-1841-47b4-87b7-692c75fa7368)

[2020-12-16 04:31] ancientTexts-net commented on #444
Works with `yalc` in tc-create-app

![444-highlight.gif](https://images.zenhubusercontent.com/5ec297799c61301f66b0725c/157d3520-28e4-4a94-87c3-044a9f6b3a96)

[2020-12-16 04:34] ancientTexts-net commented on #444
compare to PROD

![444-prod-notwork.gif](https://images.zenhubusercontent.com/5ec297799c61301f66b0725c/8e4d9d42-1299-4294-8dae-d3affe426ce5)

[2020-12-16 14:47] birchamp commented on #513
Need to evaluate if this is necessary in order to align sections.

[2020-12-16 14:54] birchamp commented on #577
@ancientTexts-net add thorough documentation on this with diffs

[2020-12-16 14:57] #452 closed

[2020-12-16 14:59] #464 closed

[2020-12-16 15:00] birchamp commented on #518
@birchamp we need to decide if user-chapter branches are the correct solution to DCS workflow.

[2020-12-16 15:17] birchamp commented on #585
@ancientTexts-net this should be assumed to be headless until proven otherwise. per @klappy

[2020-12-16 18:34] cckozie opened #586 "Add a unique identifier to tC Create develop builds"
As a QA tester I would like develop builds to always have a unique identifier so that I can have greater confidence about when the app has changed.
Currently adding any identifier (e.g. rc number) is done manually so it is possible for new builds to get created and QA not having any way to distinguish that. It would be very helpful to QA if we were always assured of knowing when the develop build

[2020-12-16 18:44] cckozie commented on #575
I am no longer able to replicate this problem even when using the actual file text that was present when I wrote up the issue. I am moving this temporarily to the watch list because it needs some automation test scripts written for it.
I am also adding an issue to have a unique identifier added to the develop builds because it seems like the code must have changed even though we had no indication

[2020-12-16 19:12] mandolyte commented on #584
@cckozie The target file is shorter than the source... I didn't expect that. But easy to fix. I sent a message to @ancientTexts-net about the fix. All the other permutations (target has extra rows, target is missing rows within) are already covered.

It may be of general interest for everyone to know that the "in memory" representation of the data is a combination of both source and target, aligne

[2020-12-16 21:00] cckozie opened #587 "Add the ability to insert a missing column (field) within a row (check) in tC Create"
v1.1.0 (develop)
project at: https://qa.door43.org/translate_test/en_tn/src/branch/tc01-tc-create-1/en_tn_56-2TI.tsv
tsv file at: [https://app.zenhub.com/files/191973535/7258a001-bc49-456e-8ca6-9fb8ce4e06e8/download](https://app.zenhub.com/files/191973535/7258a001-bc49-456e-8ca6-9fb8ce4e06e8/download)
This project has several checks (rows) where the source Support Reference is "empty" and the targ

[2020-12-16 21:28] cckozie opened #588 "The validator incorrectly reports unexpected trailing space(s)"
v1.1.0 (develop)
project is at: https://qa.door43.org/translate_test/en_tn/src/branch/tc01-tc-create-1/en_tn_56-2TI.tsv
text file at: [https://app.zenhub.com/files/191973535/e0142393-0d25-4e5b-9078-f2faaf7461f0/download](https://app.zenhub.com/files/191973535/e0142393-0d25-4e5b-9078-f2faaf7461f0/download)

![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/ac0807ff-c1cd-4f5

[2020-12-17 16:21] cckozie commented on #499
Tested in tCC tN Test Validation

[2020-12-17 17:08] elsylambert opened #590 "ID field attribute for text boxes does not works as expected"
![Screen Shot 2020-12-17 at 12.10.06 PM.png](https://images.zenhubusercontent.com/5d02efb2f425650e637abe10/12e8ea4d-d1d9-4cc0-9674-00d9fe35390b)

id attribute for text boxes in TA/TW articles changes when text is edited in the box.
For e.g, tW article>Almighty> the header text box has id= almighty, but when the text is edited in the box, say. Almighy God, the id also changes to id= almightygod.

[2020-12-17 17:41] elsylambert commented on #590
Found that the id remains the same now after the edits i.e id=almighty, but the element is not found by katalon anymore.

[2020-12-17 20:00] cckozie opened #591 "The rendering of markdown text is potentially confusing"
v1.1.0 (develop)
The way that tC Creates renders markdown text is potentially confusing to users. Following is one example...more to come.
1. The validator reports that the OrigQuote for the check with ID m352 in Ezra contains 3 dots instead of an ellipsis. When the cursor is moved to that location and the arrow key is then used to move it, it appears that it is actually an ellipsis character so t

[2020-12-17 22:32] cckozie commented on #572
I'm seeing the same problem in the project at: https://qa.door43.org/translate_test/en_tn/src/branch/tc01-tc-create-1/en_tn_15-EZR.tsv

tsv text file here: [https://app.zenhub.com/files/191973535/c53dd36a-9663-436f-8aed-0a5c6b92a95b/download](https://app.zenhub.com/files/191973535/c53dd36a-9663-436f-8aed-0a5c6b92a95b/download)

The validator reports lots of priority 913 errors, but I don't see any

[2020-12-22 17:57] ancientTexts-net opened #596 "ResourceLinks Escaped Incorrectly"
Editing _OccurrenceNote_ in preview (html) mode causes RC links to be escaped incorrectly.

Occurs in PROD (1.0.5)

1. open TN
2. edit OccurrenceNote in preview mode. (Edit anything in the block)
3. click outside of the field (necessary in 1.0.5)
4. toggle preview off
5. NOTE: the rc link syntax is bad now

e.g.,
`“I, John the elder, am writing” (See: [[rc://en/ta/man/translate/figs-explicit]])`

[2020-12-23 15:58] elsylambert opened #597 "Unable to save after fixing the double spaces in tN"
translationCore Create - v1.1.0-rc.1
Ran the Validator in 2Jn.
- Got the error message that the text has double spaces.
- Removed the double spaces in Preview mode.
- Save button is not enabled on Blur and hence not able to save.

[2020-12-23 17:56] elsylambert opened #598 "Change of Verbiage on Content Validation file"
The error message says "Link to TA should also be in SupportReference" when Support Reference field is empty and there is a tA link in the Occurrence notes and Vice versa("Link to TA should also be in OccurrenceNote" when the Reference is there but no tA article link in Occurrence notes).

The message should be something like "Support Reference field is empty while the Occurrence Notes have a tA L

[2020-12-28 23:33] RoyalSix commented on #586
@cckozie @elsylambert
https://5fea650543bf880007015349--tc-create-app.netlify.app/

If you check the side drawer there is now an entry with the unique build number

[2020-12-28 23:42] RoyalSix commented on #586
@unfoldingWord/devs I would like to get your opinion on this implementation

[2020-12-28 23:51] elsylambert commented on #586
@RoyalSix "Developer makes a change" meaning the new develop build or when the changes are done in one of the RCLs? Does the number change without having to change the rc-build?

[2020-12-28 23:54] PhotoNomad0 commented on #586
It looks good to me.  Was hard to get my head around at first.  Good work!

[2020-12-29 15:33] cckozie opened #600 "Validator reports "Unable to find original language quote in verse text" even though the OrigQuote exactly matches the Hebrew snippet"
v1.1.0-rc.1
Project is at: https://qa.door43.org/translate_test/en_tn/src/branch/tcc001-tc-create-1/en_tn_15-EZR.tsv
TSV file at: [https://app.zenhub.com/files/191973535/650ea9ae-0b5b-4140-8234-9c93b3c8ceaf/download](https://app.zenhub.com/files/191973535/650ea9ae-0b5b-4140-8234-9c93b3c8ceaf/download)
Validation file at: [https://app.zenhub.com/files/191973535/3395197f-45ae-4a71-8d2e-71d62cc9cf67/

[2020-12-29 15:40] cckozie opened #601 "The validator incorrectly reports a leading space in the OrigQuote"

[2020-12-29 15:50] cckozie commented on #601
v1.1.0-rc.1
Project is at: https://qa.door43.org/translate_test/en_tn/src/branch/tcc001-tc-create-1/en_tn_15-EZR.tsv
TSV file at: [https://app.zenhub.com/files/191973535/650ea9ae-0b5b-4140-8234-9c93b3c8ceaf/download](https://app.zenhub.com/files/191973535/650ea9ae-0b5b-4140-8234-9c93b3c8ceaf/download)
Validation file at: [https://app.zenhub.com/files/191973535/3395197f-45ae-4a71-8d2e-71d62cc9cf67/

[2020-12-29 16:01] cckozie commented on #574
Similar issue exists when the quote ends with an ellipsis. e.g. Romans line 227
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/2877d1a3-d351-4434-bdd4-b04586d27c81)

[2020-12-29 18:15] cckozie opened #602 "All stepper icons should be grayed on logout page"
v1.1.0-rc.1
None of the stepper icons are active when the user is on this page, so they should all be gray.

From inside a project, click on the X in the blue header banner, then click on the Login icon.
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/24f7053d-a437-40db-a838-afd94f3d1df1)

[2020-12-29 22:38] cckozie opened #603 "The validator should not report 786 (Link to TA should also be in SupportReference) errors on "front:intro" rows"
v1.1.0-rc.1
In this example there are actually 7 different links in the row so it would be impossible to satisfy the validator even if a Support Reference were supplied.
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/54e0ef61-560f-4342-9bf6-bbfc7f3a9cb3)

[2020-12-29 23:04] cckozie opened #604 "Misleading error message from validator for 143 errors"
v1.1.0-rc.1
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/0ba285d5-7217-42fa-9e43-ee84150aa05c)

![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/6a173053-bfac-4703-92c6-aafb57b83223)

[2020-12-30 16:15] cckozie opened #605 "tC Create displays rows that are not in the tsv file"
v1.1.0-rc.1
File at: https://qa.door43.org/translate_test/en_tn/raw/branch/tcc001-tc-create-1/en_tn_55-1TI.tsv
I don't know how this project got created or corrupted (if it is), or if tC Create should better deal with this type of situation.
Maybe there should be some error message displayed when the number of rows in the target file differs from the number of rows in the source file.

Last rows i

[2020-12-30 17:09] cckozie opened #606 "The validator should not report a 786 error when there are multiple links in the occurrence note and one of them is referenced in SupportReference"
v1.1.0-rc.1

If there are multiple article links in the occurrence note and one of them is referenced in the SupportReference, then the validator should not report as errors the other links that are not referenced in SupportReference.

![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/e8671f2c-3504-4e90-8a37-b8c1aaadc57b)

![image.png](https://images.zenhubusercontent.com/

[2020-12-30 21:57] cckozie opened #607 "The validator should report an error if the occurrence number is greater than the number of occurrences of the string in the verse text"
v1.1.0-rc.1
To replicate:
1. Open a tN project
2. Find a check with a single highlighted word (optional)
3. Change the occurrence number to 1 greater than the number of occurrences of the highlighted word in the verse text
4. Run the validator
5. Note that the validator did not report an invalid occurrence error
6. Change the occurrence number to 11
7. Run the validaor
8. Note the 792 Invalid occu

[2020-12-31 15:55] elsylambert opened #608 "Title attribute is missing from the Collapse Chapter button in tNotes"
Attribute:title is missing for Collapse chapter button.

![Screen Shot 2020-12-31 at 10.55.19 AM.png](https://images.zenhubusercontent.com/5d02efb2f425650e637abe10/2bf49fdc-b0ee-4268-bd7f-9b009f41b546)

[2021-01-02 05:19] RoyalSix commented on #586
@elsylambert "Developer makes a change" means anytime new code is committed to github. So it will increment regardless of the type of build.

But this system is built in a way that if the developers need to reset the number it's very easy to do so by just changing the number to 0 and committing the change to github.

[2021-01-04 04:35] RobH123 commented on #588
I can see the trailing space in the source file @cckozie : https://qa.door43.org/translate_test/en_tn/blame/branch/tc01-tc-create-1/en_tn_56-2TI.tsv#L35

[2021-01-04 04:40] RobH123 commented on #601
Cutting the quote from https://qa.door43.org/translate_test/en_tn/blame/branch/tcc001-tc-create-1/en_tn_15-EZR.tsv#L4 and pasting into https://www.fontspace.com/unicode/analyzer#e=INeV1rzigaDXkda04oGg16nXgdaw16DWt9aj16og15DWt9eX1rfWl9eqINec1rDigaDXm9ao15XWudeo1rbXqdeB1pkg157Wttaj15zWttea1rAg16TWvNa416jWt9aU16E, I can see the leading space @cckozie .

[2021-01-04 14:54] ancientTexts-net opened #609 "Use latest content-validation library 0.9.2++"
Use latest content-validation library 0.9.2++

- resolve issues in tc-create-app
- regression test

[2021-01-04 14:59] ancientTexts-net commented on #609
See also issue Robert's PR # 71

https://github.com/unfoldingWord/uw-content-validation/pull/71

[2021-01-04 15:17] cckozie commented on #588
@RobH123 - Yeah, I'm seeing it there now too. Not sure what's going on here unless it was caused by updating qa from production or misfiring of my tired brain synapses. I'll look into it further.

[2021-01-04 15:32] cckozie commented on #601
@RobH123 - Yeah, I see it there too. Sending my brain in for a checkup:)

[2021-01-04 15:32] #601 closed

[2021-01-04 15:36] mandolyte commented on #596
This issue reminds of a thought I've had several times over the past few months. Why do we permit editing in both Markdown and HTML? Issues like this on show that bi-directional translations are not lossless... which means we will always be fighting battles like this.

Github, Zulip, etc. only allow you to view the HTML (see preview button on this very input box!).

If that is the best practice, s

[2021-01-04 15:44] #588 closed

[2021-01-04 16:19] cckozie commented on #566
No longer seeing this problem in v1.1.0-rc.1

[2021-01-04 16:57] elsylambert commented on #566
Not seeing this issue in translationCore Create - v1.1.0-rc.1.

[2021-01-04 17:49] cckozie commented on #499
Passing this as the validator is now available. Problems with the validator are written up on other issues.

[2021-01-05 20:53] richmahn opened #613 "Ordered & Unordered Bullets together cause formatting issue when editing"
This is from Dima:

[code]
![bug in article love](https://user-images.githubusercontent.com/2839925/103697567-160ed600-4f6e-11eb-9ab9-c65a97551678.png)

It appears that even in the English, when it gets to these nested bullets that it messes the layout up.

[2021-01-06 04:13] elsylambert commented on #613
It gets fixed into correct format when the Block is toggled to be NOBlocks and the issue reappears when toggled back to Blocks.

[2021-01-06 04:36] elsylambert opened #614 "Compare Branch/Master giving 500 error on DCS in develop(qa.door43)"
![Screen Shot 2021-01-05 at 11.27.24 PM.png](https://images.zenhubusercontent.com/5d02efb2f425650e637abe10/5b4a015e-1bcf-451c-b222-fa243d47cb44)

![Screen Shot 2021-01-05 at 11.24.38 PM.png](https://images.zenhubusercontent.com/5d02efb2f425650e637abe10/0079e5e5-f501-45ca-bb41-39e90bdb8497)

[2021-01-06 12:53] mandolyte opened #618 "Need to let users set validation levels."
Approach:
- add to drawer menu
- use radio buttons for three levels of checks to be filtered: high, medium, low
- high is 800 and above
- medium includes high (600 and above)
- low is essentially all notices (zero and above)
----------------
Default is to be set to high.

[2021-01-06 15:33] birchamp commented on #572
@mandolyte @RobH123 Can you give some insight as to what's happening here?

[2021-01-06 15:36] birchamp commented on #574
@RobH123 @cckozie Could we compromise on this by reducing the priority number?

[2021-01-06 15:38] birchamp commented on #587
@cckozie does the validator catch this?

[2021-01-06 15:39] birchamp commented on #600
@cckozie  is this a dup with #572 but a different text?

[2021-01-06 15:44] birchamp commented on #603
@RobH123 can you address the question above?

[2021-01-06 15:47] birchamp commented on #604
@RobH123 I assume the standard for this is the abbreviation? So should the error read, "Bible book abbreviation is not found in the link"?

[2021-01-06 15:51] birchamp commented on #605
@cckozie this is the current expected behavior for rows that are missing/deleted in the target.  We have had discussions with users on a better way to represent this, but the feature has not been planned #402

[2021-01-06 15:53] birchamp commented on #606
@cckozie @RobH123 I'm transferring this issue to the validator repo

[2021-01-06 16:48] elsylambert commented on #614
Not seeing this issue in the latest develop  v1.1.0-rc.3 , neither in Production.

[2021-01-06 16:48] #614 closed

[2021-01-06 18:36] cckozie commented on #600
@birchamp - I really don't know what is causing the error(s), so I am not sure if it is the same problem. They seemed enough different to me to create separate issues, but I have no objection to combining them if that is preferred.

[2021-01-06 18:38] birchamp commented on #497
@ancientTexts-net possible line ending issue between Linux and Windows

[2021-01-06 18:40] cckozie commented on #605
@birchamp - I'm not sure if this is the same as #402. It may be, but when I first discovered this tC Create was creating new rows with IDs that were duplicates of others in the file. It also causes the validator to report "wrong number of tab errros" which is incorrect.

[2021-01-06 18:47] birchamp commented on #586
@mandolyte take another look at this to see if we can update the RC number directly.

[2021-01-06 19:01] cckozie commented on #574
@birchamp - I haven't done an extensive check of all places this error is identified, but I only remember seeing this error show up when it is a situation the user probably is not going to change. In general, I think we should not report things as errors that the user does not want to fix and would rather not see.
If you show me some use cases where the user may regard this as an error that they a

[2021-01-06 19:05] birchamp commented on #409
@ancientTexts-net most fields should be hidden by default.

[2021-01-06 19:05] cckozie commented on #587
@birchamp - The validator usually catches this because the OrigQuote value is not found in the original text or is empty. It will also find it if it thinks the occurrence number is invalid.

[2021-01-06 19:14] birchamp opened #621 "SPIKE [10]: Re-think the formatted markdown editing."
Investigate other markdown editors. Demonstrate improved maintainability.

[2021-01-06 20:25] cckozie opened #622 "When the user deletes text using doubleclick-Delete or inserts text using paste, the Save icon is not enabled until the onblur event"
Issue:
---
The save icon should be enabled after every change.

DoD:
---
Any change to the text enables the save button.

Details:
---
v1.0.5 and v1.1.0-rc.3
This is still a problem in v1.1.0-rc.4 build 19-6e50a4c, and it forces the user to click outside of the field when pasting in the original language quote.

[https://app.zenhub.com/files/191973535/d6206818-926d-484f-bc76-736d22eceaad/download]

[2021-01-06 21:11] birchamp commented on #609
@ancientTexts-net Does this need to be handled for this sprint?

[2021-01-06 21:49] cckozie opened #623 "Validation priority options should only be displayed on pages that allow validation"
v1.1.0-rc.3

The validation level selection options are currently displayed on all pages, including all pages in the stepper and all supported resource types.

[2021-01-06 22:38] elsylambert commented on #597
Not seeing this issue in v1.1.0-rc.3. Able to remove double spaces and save the changes.

[2021-01-06 22:40] elsylambert commented on #455
Looks good in v1.1.0-rc.3.

[2021-01-07 14:48] cckozie commented on #444
Looks good in v1.1.0-rc.3 on Mac. Need to test in Windows.
Not seeing highlighting now in OrigQuote.
Not seeing weird formatting when doing copy/paste into OrigQuote.

[2021-01-07 15:00] elsylambert opened #627 "Content validator : notice disabling failing"
More [ ]( ) links than valid Bible links - this should not be displayed in the csv file.

[2021-01-07 15:52] cckozie opened #628 "There are problems when using copy/paste in tC Create on Windows"
v1.0.5 (production) and v1.1.0-rc.3

1. Copy/paste from bolded text to overwrite bolded text also inserts a line feed
2. After removing the line feed and then clicking on bolded text, the entire pasted to text box gets bolded

https://images.zenhubusercontent.com/191973535/f615b66e-502c-422c-ab04-3be9403e682b/2021_01_07_09_24_40.mp4

[2021-01-07 16:07] cckozie opened #629 "If bolded text gets copied into the OrigQuote field, then subsequent pastes into that field will also be bolded."
v1.1.0-rc.3

![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/d99a804c-8b94-48e1-9d44-a18d78543455)

https://images.zenhubusercontent.com/191973535/3e2cbbd5-ac51-497b-9cca-fb55dd827b89/20210107100251771.mp4

[2021-01-07 16:17] cckozie commented on #500
@mandolyte - Can you add some of the problems that are considered "critical errors" so I have a better idea of how to test this?

[2021-01-07 16:20] cckozie commented on #559
Looks good in v1.1.0-rc.3

[2021-01-07 16:22] cckozie commented on #455
Looks good in v1.1.0-rc.3.

[2021-01-07 17:35] cckozie opened #630 "Validation errors 450 and 950 seem to be in conflict with each other. Every tA link will generate one of those two errors."
v1.1.0-rc.3

If a tA link is formatted as [[rc://en/ta/man/translate/figs-abstractnouns]], the validator reports a 450 error with the Message of "tC cannot yet process '*' language code"

When that link is "fixed" to be formatted as [[rc://*/ta/man/translate/figs-abstractnouns]], the validator reports a 950 error with the Message of "Resource container link should have '*' language code"

Thus, th

[2021-01-07 17:37] elsylambert commented on #559
Looks good in translationCore Create - v1.1.0-rc.3.

[2021-01-07 17:40] elsylambert commented on #596
Not seeing this issue in translationCore Create - v1.1.0-rc.3. Able to edit Occurrence Notes without mangling the RC link.

[2021-01-07 17:59] cckozie opened #631 "The validator does not report some improperly formatted tA links"
v1.1.0-rc.3

![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/8c4255df-643f-41b1-8c0a-02f29e273125)

The validator reports no errors for ID c7me
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/07eb7317-2b4d-45cb-9e9c-60958927a9fc)

[2021-01-07 18:06] birchamp commented on #630
@RobH123 any insight on this?

[2021-01-07 18:08] birchamp commented on #627
@elsylambert is the same as uw-content-validation#122 ?

[2021-01-07 18:18] elsylambert commented on #627
@birchamp Yes, the same as  uw-content-validation#122.

[2021-01-07 18:26] elsylambert commented on #500
"LICENSE.md is being validated in en_tn (should not be)"
It does validate License.md and Readme.md in v1.1.0 rc3 @mandolyte

[2021-01-08 14:07] mandolyte commented on #572
Unable to replicate at this point (lots has changed since this was originally written). At present, there are no high priority notices at all in the book of Titus.

@birchamp @cckozie -- suggest we close this one.

[2021-01-08 14:17] ancientTexts-net opened #633 "Hyperlinks []( format being changed"
Grant Ailie found a problem with tC Create automatically changing `[](...)` hyperlinks
For example you can see the issue in Ezra 1:3

DOD: Hyperlinks will NOT be automatically changed by tC Create

![image.png](https://images.zenhubusercontent.com/5ec297799c61301f66b0725c/19a170ab-eeeb-428e-a31a-113e5c25e764)

[2021-01-08 14:23] mandolyte commented on #587
It would take some work, but tc-create-app could be changed to accept the most damage file possible and then user could use tc-create itself to fix it.

The basic idea is this:
- based on resource, we know what the header row should be. So create a target array with just the headers present.
- for each data row in the input, do:
- create an empty row of the correct size
- copy the input values int

[2021-01-08 14:36] mandolyte opened #634 "Add ids to the CV radio buttons"

[2021-01-08 14:41] mandolyte commented on #500
I answered this, but probably in another issue? At any rate, if you don't see let me know. I'll hunt it down and put here as well.

[2021-01-08 16:01] birchamp opened #635 "Allow QA to test the final production build"
Currently the workflow requires a new build for production. This means that the production build is not what QA tested.  We need to find a way to either use the commit hash as the build number or restrict access to the production build until it's ready to be released.

[2021-01-11 00:50] RobH123 commented on #630
The CV package had a bug whereby the disabling of notices for the entry point used by tC-Create wasn't working properly. (The disabling code itself was working properly in the [demos](https://unfoldingword.github.io/uw-content-validation/#/Book%20Package%20Checker%20Demo?id=bookpackagecheck).) I'm hoping this is fixed in v1.0.1 of the package but don't have confirmation of that yet.

FYI, the appa

[2021-01-11 12:35] mandolyte commented on #585
# TSV and row ids
As I understand things, our TSV files are not normal in the following ways:
1. Each row has a key (row id). The implications of this are enormous. Examples (using source and target language to represent a file in the master branch:
- if source has a key that the target does not, that means a row has been deleted
- if target has a key that the source does not, that means a row has

[2021-01-11 12:49] mandolyte commented on #409
Working branches for new TSV format are always named "newFormat".

Here is the manifest entry for Titus:
[code]

Link to Titus: https://qa.door43.org/unfoldingWord/en_tq/src/branch/newFormat/TIT_tq.tsv

[2021-01-11 14:16] mandolyte commented on #409
Here is an example of the annotation:
[code]

Here is what it should look like in preview mode:

What position and responsibility does an overseer have in God’s household?

[2021-01-11 14:31] mandolyte commented on #409
@BincyJ @birchamp I have expanded on the requirements and have tagged others for confirmation for parts of it.

The TQ TSV format only uses three columns:
- Reference
- ID
- Annotation
(@RobH123 -- true?)

So in tc-create, only three columns should be available. Alternatively, if they are available, then it should be an error for them to have content. (@RobH123 -- true?)

The annotation columns is

[2021-01-11 15:45] elsylambert opened #637 "CV should not report "Resource container link should have '*' language code""
As per my conversation with Robert,"* "instead of "en" notices are still not being disabled properly. We should not see those error messages in the Validation file.

[2021-01-11 15:46] elsylambert commented on #630
written up #637.

[2021-01-11 15:57] richmahn commented on #585
Any time there is a conflict, without using git we always, programmatically, have to:

a) make a new branch based on master master (ternary branch, a temp branch that will become the user branch in d.) ,

b) get all the changes the user made and the lines they didn't change (resolving conflicts here)

c) apply those lines to the master branch copy and commit,

d) delete old user branch and rename

[2021-01-11 23:17] RobH123 commented on #637
Can anyone confirm what version of the CV package this is failing on? (I thought this was fixed on v1.0.1 but maybe not???)

[2021-01-11 23:28] RobH123 commented on #409
Ideally the `\n` should be converted to a newline in the new TSV reading function. See https://en.wikipedia.org/wiki/Tab-separated_values#Conventions_for_lossless_conversion_to_TSV

(Putting in <br> or whatever ideally is part of md -> HTML conversion.)

[2021-01-11 23:33] RobH123 commented on #409
I would suggest something in a log @mandolyte if there's something in an unexpected column and then ignore it. It shouldn't happen (with present data), however, we don't want it to fail if someone puts something in there. (Remember there's lots of ways for humans to edit / mess-up files.)

But in general, I think most of your assumptions above are correct.

[2021-01-12 00:06] elsylambert opened #638 "CV reports errors - unknown book names due to misspelled book names in the program data file"
![Screen Shot 2021-01-11 at 1.40.46 PM.png](https://images.zenhubusercontent.com/5d02efb2f425650e637abe10/ae530ef3-a9d9-491e-badd-f8ff50306c2c)

[2021-01-12 00:13] elsylambert commented on #618
Looks good in translationCore Create - v1.1.0-rc.3.
High- shows up 800 and above
Medium - 600 and above
All- shows all.

[2021-01-12 00:20] elsylambert commented on #444
Looks good in translationCore Create - v1.1.0-rc.3. Able to paste unformatted text from scripture pane to Original Quote box. In Preview mode, pasting preserves the formatting. Works as expected.

[2021-01-12 14:53] cckozie commented on #500
v1.1.0-rc.3
@birchamp - Are these good enough?

This is the error displayed when the header is missing:
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/88a0bd0d-579d-4985-a674-bc3d3bec3ce1)

This is the error displayed when there is a tab missing in one of the rows:
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/7b47e612-501b-4962-ba72-c5e39eb

[2021-01-12 15:45] birchamp commented on #500
@mandolyte are these coming from the CV app or are they internal to TCC?

[2021-01-12 15:51] birchamp commented on #572
@cckozie do you want to retest this before we close it?

[2021-01-12 16:25] birchamp commented on #574
@RobH123 can you give us an example here?

[2021-01-12 17:19] cckozie commented on #584
I changed the title to clarify that wrong number of tabs is reported when the lines don't exist in the target file.
In the project cited, there are more rows in the source file than the target. For each of this "missing" rows, the validator reports "Wrong number of tabbed fields (expected 9)". I suppose that is technically correct, but probably confusing to the user. I think reporting it as missin

[2021-01-12 17:35] birchamp commented on #618
@cckozie I added the default as High to the description

[2021-01-12 17:36] cckozie opened #639 "The app hangs if the user tries to add the Book on rows where it is missing"
DoD: Users are able to translate deleted rows or translate new content.

=============
v1.1.0-rc.3
The file is at: https://qa.door43.org/translate_test/en_tn/_edit/tc01-tc-create-1/en_tn_55-1TI.tsv
The book, chapter, verse are missing because the target has fewer rows than the source.
1. Load the file
2. Scroll to near the end where the parallel scripture pane is blank and the book, chapter, verse

[2021-01-12 18:06] cckozie commented on #572
Still seeing in v1.1.0-rc.3
The project is at https://qa.door43.org/translate_test/en_tn/src/branch/tcc001-tc-create-1/en_tn_57-TIT.tsv
Note the highlighting in ID xyz8
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/3d874efc-ba5e-4524-ada3-d3dd522dd485)

And the validation error on that row (the zero-width space error is new, so maybe that is the problem.
![image.png](h

[2021-01-12 19:00] RobH123 commented on #637
I think from [here](https://github.com/unfoldingWord/tc-create-app/blob/develop/package.json#L32) which @mandolyte helpfully pointed me to, I can see that it's not yet using v1.0.1 where this is hopefully fixed.

[2021-01-12 19:44] cckozie commented on #597
v1.1.0-rc.3
Save is not enabled until on blur, but am not able to save.

[2021-01-12 20:56] cckozie opened #640 "The validator is inconsistent in reporting double spaces"
v1.1.0-rc.3
Scenario A:
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/96d54bc6-63f6-4a1f-9353-d5ad4d557fcd)

![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/82f6593e-0cdc-4185-b6fe-fc21c577c51c)

Scenario B:
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/d35afd78-b76d-4108-8193-4abdd3dc85a2)

![image.png](https://i

[2021-01-12 23:53] RobH123 commented on #574
As mentioned above, I think this was a consequential error resulting from not using the correct quote marks. And I think I fixed the CV package about a month ago to prevent that. But I'm not sure what needs to be done now to confirm that with a passing test? Was the initial test something than can be replicated now @cckozie ?

[2021-01-13 14:15] ancientTexts-net commented on #577
gitea-react-toolkit:

![image.png](https://images.zenhubusercontent.com/5ec297799c61301f66b0725c/683ae1f0-64cc-4f22-9d09-6f31d7bb3c88)

[2021-01-13 14:16] ancientTexts-net commented on #577
scripture-resources-rcl

![image.png](https://images.zenhubusercontent.com/5ec297799c61301f66b0725c/a81bceae-2892-4920-98ac-ff35871e3043)

![image.png](https://images.zenhubusercontent.com/5ec297799c61301f66b0725c/1567c36a-7a3f-40f5-b793-5c6ef398c8b7)

[2021-01-13 14:17] ancientTexts-net commented on #577
datatable-translatable

![image.png](https://images.zenhubusercontent.com/5ec297799c61301f66b0725c/73b62a32-4814-47e0-a953-dd86a7f8961a)

![image.png](https://images.zenhubusercontent.com/5ec297799c61301f66b0725c/ef4f9b33-3965-4378-8463-6b93e6ed5b9a)

[2021-01-13 14:23] cckozie commented on #500
v1.1.0-rc.3
Today I encountered the app hanging while running this validator.
I used an open session for a tN project that I had started last night
I opened the drawer and selected a Luke tN project, enabled the ID and OrigQuote columns, and then searched for an ID
I opened the drawer and selected a Romans project, then clicked on the main screen
The on-open validator started and then hung
Is this

[2021-01-13 15:08] elsylambert opened #644 "Source goes empty when Book/chapter/verse is removed at the target side"
Source goes empty when Book/chapter/verse is removed at the target side

[2021-01-13 15:10] elsylambert opened #645 "Save settings for column setting in tN"
Nice to have Feature: Save settings for column setting in tN
Currently, we have defaults checks in the columns in tN to display columns.

[2021-01-13 15:27] ancientTexts-net commented on #633
I believe the root cause is that the ORIGINAL EZR file has the invalid link.

compare Ezra 3:8 (ID = ckj4)
This link works fine in tC Create.
![image.png](https://images.zenhubusercontent.com/5ec297799c61301f66b0725c/a05fe999-0c24-4e96-aeca-1c9645866e85)

See Ezra 1:3 for invalid hyperink:
![image.png](https://images.zenhubusercontent.com/5ec297799c61301f66b0725c/5219cd62-630e-4329-bf62-4d9a014b32

[2021-01-13 15:53] birchamp commented on #500
@mandolyte materialUI alert. Indicate something bad happened and then a button to close the file. Use https://material-ui.com/components/alert/.  We will need to give the user a link to where they can edit the file.

[2021-01-13 15:58] cckozie opened #646 "On-open validator hangs when opening Romans tN"
v1.1.0-rc.3
Today I encountered the app hanging while running this validator.
1. I used an open session for a tN project that I had started last night
2, I opened the drawer and selected a Luke tN project, enabled the ID and OrigQuote columns, and then searched for an ID
3. I opened the drawer and selected a Romans project, then clicked on the main screen
The on-open validator started and then hun

[2021-01-13 16:20] birchamp commented on #577
@ancientTexts-net have someone review this with you.

[2021-01-13 16:36] birchamp commented on #500
@cckozie So this is a QA fail since new code needs to be written for these notices, correct?

[2021-01-13 16:38] elsylambert commented on #500
@birchamp Yes, this needs to be moved out of IN QA

[2021-01-13 18:39] mandolyte commented on #572
@ancientTexts-net  @cckozie Looking at this and found the following:
- If you bring up the file fresh and add ID original quote
- Go to that row (xyz8)
- Click at the end of the string εὐσέβειαν
- Then a click of left arrow arrow one time appears to do nothing; if you do it a second time it does
- So there is a zws at the end of the string just like the validator reports
- However as soon as you c

[2021-01-13 22:46] cckozie commented on #574
@RobH123 - In tC Create v1.1.0-rc3 the validator does not report any 620 errors on any New Testament book. It is still reporting 621 errors when the snippet is followed by a hyphen or ellipsis (may be others too). Romans is currently showing three 621 errors.

[2021-01-13 23:28] elsylambert commented on #644
- In a tN project>open a file> select the columns selection for Books/chapter/verse /Id to be displayed.
- Remove the text from either of the Books/chapter/verse /Id fields and tab out.
- Note that the source side goes empty on all the fields.
- Type-in back the data that was cleared in step 2. the Source is populated back again.

[2021-01-13 23:54] RobH123 commented on #574
Ah, I think I see now @cckozie: This issue covers two different errors and I only fixed one (consequential 620 error due to invalid " straight quote mark at beginning of word). But I didn't realise that the UGNT contains FOUR eliipsis characters and will first check with the content team to make sure that they're not outliers before changing the checking code.

[2021-01-14 15:52] ancientTexts-net commented on #572
Compare, see:

https://github.com/unfoldingWord/markdown-translatable/pull/40/files

@mandolyte

[2021-01-14 16:21] cckozie commented on #646
I ran into this again this morning when attempting to open Ezra. I was again using an existing session in which I had successfully opened other books. Same error showing in the console. When I started a new session Ezra opened as expected, and the view on DCS is properly formatted as tsv.

[2021-01-14 16:31] mandolyte opened #650 "Github Actions Deprecation change"
This issue addresses a Github Action Workflow command that has been deprecated.

Is not a testable code change.

[2021-01-14 18:06] RobH123 commented on #574
Ok, Alan Bunning confirmed that the four ellipsis characters in the UGNT are iindeed ntentional. This bug will be fixed in uw-content-validator v1.0.2. Thanks for catching it @cckozie .

[2021-01-18 17:33] ancientTexts-net commented on #586
Running PR 73 locally gets this error:

![image.png](https://images.zenhubusercontent.com/5ec297799c61301f66b0725c/2f4de4b1-e30f-4a1d-b05c-d201bb3927c9)

[2021-01-18 21:34] ancientTexts-net opened #653 "USFM Spaces"
tC Create does not correctly render spaces outside of a USFM word tag /w /w*

Reported by Joel
This issue causes a problem in tN when OT origQuotes include Hebrew (Masoretic) punctuation (sof pasuq; paseq; etc.)

![image.png](https://images.zenhubusercontent.com/5ec297799c61301f66b0725c/0d4aa002-aa88-4edd-8c29-cca33aac9c71)

![image.png](https://images.zenhubusercontent.com/5ec297799c61301f66b0725

[2021-01-20 14:20] birchamp commented on #500
@mandolyte @cckozie - The error should say:

This file cannot be opened by tC Create. Please contact your administrator to address the following error(s).

[2021-01-20 14:21] birchamp opened #658 "Allow user to easily copy error on open"
Add a button to the on open error to copy the full text, including links, to the clipboard.

[2021-01-20 14:30] birchamp commented on #500
Added stakeholder requested feature to have a button to copy the error text #658

[2021-01-20 15:04] birchamp commented on #514
@cckozie what is the expected behavior here?

[2021-01-20 15:57] birchamp opened #660 "Add OBS Study Notes"
Add OBS Study Notes Support

[2021-01-20 15:58] birchamp opened #661 "Add OBS Study Questions in TSV"
Add support for OBS Study Questions in TSV
https://git.door43.org/unfoldingword/en_obs-sq (currently newformat branch)

[2021-01-20 17:25] mandolyte commented on #409
@birchamp @RobH123 Quick question... currently the new TSV format for tQ files is not saved in master branch. They are in a branch named "newFormat". My question is whether I can assume that the new format branch will be merged into master and that is where tc-create should look for them.

[2021-01-21 12:42] mandolyte opened #662 "Material UI component name change"
Deprecation needs to be handled.

![image.png](https://images.zenhubusercontent.com/5e8cb99214ac08760f0cb72b/ffe3a386-69d4-4908-a9ab-abd26a268888)

[2021-01-21 12:50] mandolyte commented on #325
@ancientTexts-net Noticed these lines in `Translatable.js`. These conditions and assumptions are not valid for tN as long as the language code is part of the filename.
[code]

[2021-01-21 12:54] mandolyte commented on #325
Originally I was assigned to this but was unable to make it work. Never did figure out why. I looked up my branch so you can see what I was thinking of doing:
https://github.com/unfoldingWord/tc-create-app/compare/bugfix-cn-325-lang-id-in-trans-filename

@ancientTexts-net Of course, you can read all my notes above in this issue made as I discovered things.

[2021-01-21 15:24] birchamp opened #665 "Add TQ markdown"
Allow the user to translate TQ as markdown.

[2021-01-21 15:26] birchamp opened #666 "Add OBS-TQ"
Allow the user to translate TranslationQuestions for OBS https://git.door43.org/unfoldingWord/en_obs-tq

[2021-01-22 15:07] elsylambert commented on #597
This issue has resurfaced in translationCore Create - v1.1.0-rc.4 build 18-e095e04.  Save is not enabled(Neither on Edit nor On Blur) when double space is removed in Preview mode, hence not able to save.

[2021-01-22 16:23] elsylambert commented on #637
Not seeing this error report in translationCore Create - v1.1.0-rc.4 build 18-e095e04. Looks good.

[2021-01-22 21:04] elsylambert opened #668 "Content Validator reports error for "Unexpected non-break space character" which user cannot see and fix"
Unexpected non-break space character error- Priority-581: This error reports nbsp character which cannot be seen or detected in normal or Preview mode and user cannot fix it except removing the complete reported text and typing back again.
![Screen Shot 2021-01-22 at 10.52.05 AM.png](https://images.zenhubusercontent.com/5d02efb2f425650e637abe10/11c73834-8781-477b-8d34-5e06361a526c)

[2021-01-25 22:19] cckozie commented on #586
Now seeing translationCore Create - v1.1.0-rc.4 build 18-e095e04.

[2021-01-25 22:28] cckozie commented on #634
This is what Katalon is seeing. It looks like the combination of name, type, and value would uniquely identify the radio buttons, but I'm not seeing a unique id field.
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/b65f4ca6-2baa-41a6-ac55-952d7b1b41a1)

[2021-01-25 22:33] cckozie commented on #637
Looks good in v1.1.0-rc.4 build 18-e095e04

[2021-01-25 23:05] mandolyte commented on #634
Looks like the "id" ended up on a parent <label> element.

[image: image.png]

Here is the "high" element expanded. To test, do you need to identify the
<input> element?
[image: image.png]

Cecil

On Mon, Jan 25, 2021 at 5:28 PM cckozie <notifications@github.com> wrote:

[2021-01-26 18:57] mandolyte opened #674 "Run Time error on using use-deep-compare-effect"
This NPM component now throws an error if only primitives are in the dependency list.

The error is for one or more useEffect() functions (4 total) used in gitea-react-toolkit 's useFile.js.

[2021-01-27 02:19] mandolyte commented on #409
@klappy Wondered if you have any advice on the following findings...

Whereas I have the 7 column TSV version for tQ working, I have not been successful in making the round trip from file -> to md in the datatable -> to html ->  (some edits) -> to md -> saved file.

I have found a number of places that all seem to impact the md from/to html (and perhaps back to DCS?). They are:
- datatable-transla

[2021-01-27 05:18] klappy commented on #409
Ideally we need to identify the proper separation of concerns. Where should the filter exist? Is it something that the UI cares about? Or is it something that the outer layers interacting with reading and saving the file should deal with? What tests can we create and at what point is it valuable for us to know that this is handled? When we write the tests that fail, then we can ensure it is handle

[2021-01-27 13:40] mandolyte commented on #409
:-) I'll take that as encouragement to study how that part of the code actually works. So far, I've just been guessing, testing, and failing.

For posterity, my notes will be [here](https://git.door43.org/cecil.new/journals/src/branch/master/DataTable-Markdown-translatable.md)

[2021-01-27 13:49] mandolyte commented on #409
@birchamp So I had some thoughts about https://github.com/unfoldingWord/tc-create-app/issues/621 while trudging thru the code... Perhaps that would be a nice research project for the create 2.0 team. Some ideas:
1. Is only active, one instance at a time. Why? this gets around the problem noted before that you will run out of memory quickly if hundreds of instances are running.
2. The above implies

[2021-01-27 20:42] cckozie commented on #500
@birchamp
This now functions properly and the text is as requested. Instead of a "button to close the file", there is an "X". Is that good enough?
![image](https://user-images.githubusercontent.com/8171759/106051231-cd01fb80-60ad-11eb-9950-5d31531eabe0.png)

[2021-01-27 21:28] cckozie commented on #572
I am still seeing this problem in v1.1.0-rc.4 build 18-e095e04. The zws does not appear in the string when I copy from tCC (in either preview or md mode) and paste into a unicode converter.
![image](https://user-images.githubusercontent.com/8171759/106055219-b611d800-60b2-11eb-9ed4-c211502e2264.png)

![image](https://user-images.githubusercontent.com/8171759/106055308-d04bb600-60b2-11eb-9cd0-c1ab1

[2021-01-27 21:43] RobH123 commented on #572
Am I being waited on to contribute in this thread? Have you run your source file through the [Content Validator demo](http://localhost:6060/#/File%20Checker%20Demo?id=filecheck)? Do you think it's giving false alarms? (I'm having trouble reading between the lines above to see what people are thinking is the problem.)

[2021-01-27 23:09] ancientTexts-net commented on #572
@RobH123 @cckozie

I believe the current thinking is that tC Create is adding the NBSP

[2021-01-27 23:09] ancientTexts-net commented on #572
@RobH123 Thank you

[2021-01-27 23:20] ancientTexts-net commented on #572
Thank you @cckozie

Did you create this TSV in version `v1.1.0-rc.4 build 18-e095e04` please?
or is it a remnant from a prior version?

Thank you

[2021-01-27 23:20] ancientTexts-net commented on #572
I ask this because I am unable to reproduce

![image.png](https://images.zenhubusercontent.com/5ec297799c61301f66b0725c/d0e95a38-c3f0-4530-b1d4-5eb132f035c7)

[2021-01-28 00:59] cckozie commented on #572
@ancientTexts-net That tsv has been around for a quite a while. I don't know when  it was created, but it was long  before rc4.

[2021-01-28 14:03] cckozie commented on #500
Tested in tCC tN Test On-Open Validator

[2021-01-28 16:43] ancientTexts-net commented on #572
here are the 3 codepoints making up the ZWSP at the end of the origQuote column for xyz8

![image.png](https://images.zenhubusercontent.com/5ec297799c61301f66b0725c/86b26b85-6649-4145-8c89-98b797883c48)

[2021-01-28 16:43] ancientTexts-net commented on #572
@mandolyte  ^^

looking into it

[2021-01-28 21:18] cckozie opened #676 "Load projects to the point where the user left off"
In tC the user is always returned to the point they were when they last used the project/tool. It would be nice if tC Create would do the same. (Picked up from Jane Bussard during Orlando breakout)

[2021-01-29 16:57] elsylambert commented on #586
translationCore Create - v1.1.0-rc.4 build 19-6e50a4c seeing that the build number changes with code change as expected.

[2021-01-29 17:24] elsylambert commented on #634
Medium and Above--
![Screen Shot 2021-01-29 at 12.22.31 PM.png](https://images.zenhubusercontent.com/5d02efb2f425650e637abe10/37b6c01c-7409-4ee4-b979-4f1864512d8c)
High--
![Screen Shot 2021-01-29 at 12.22.10 PM.png](https://images.zenhubusercontent.com/5d02efb2f425650e637abe10/2d0c563b-c7a5-439e-ae2e-0b290e5f57bf)
All--
![Screen Shot 2021-01-29 at 12.21.38 PM.png](https://images.zenhubusercontent.

[2021-01-29 18:26] elsylambert commented on #661
translationCore Create - v1.1.0-rc.4 build 19-6e50a4c.
The source text Answers overflows to the target side.
![Screen Shot 2021-01-29 at 1.24.52 PM.png](https://images.zenhubusercontent.com/5d02efb2f425650e637abe10/4789898f-f7d9-461b-8812-aa40f6c8056c)

[2021-01-29 19:23] elsylambert commented on #660
translationCore Create - v1.1.0-rc.4 build 19-6e50a4c. Study Notes for OBS looks good. Not seeing any critical issues.

[2021-02-01 16:04] cckozie opened #677 "Inconsistent handling of problems when selected repo does not exist."
I have not worked with OBS Study Notes before. When I selected my org, obs-sn, then English, I received the following error message:
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/007624c5-2869-43ce-ac5c-c9679190a689)

I then logged out and back in, then repeated the process. This time it allows me to select and individual file before giving me the same message.

[2021-02-01 16:28] cckozie commented on #660
v1.1.0-rc.4 build 19-6e50a4c
There is a problem with the links in obs-sn. I'm writing this up here since there is not any requirements spelled out for this issue. I suspect the problem may be in the content, but being sent back to the login page after clicking on the "Back to our site" or the browser back button does not seem very user friendly.

When clicking on a link in the source side of obs-s

[2021-02-01 16:45] cckozie commented on #630
v1.1.0-rc.4 build 19-6e50a4c
The content validator is no longer reporting 450 errors.
It does still report 950 errors.

[2021-02-01 16:47] mandolyte commented on #661
Findings:
1. In HTML mode, with blocks turned on, the text overflows and does not wrap within the cell.
2. In HTML mode, the numbered lists do not increment.
3. This resource type (obs-sq) uses a tab character to indent the answer under the question. However, a tab character cannot be entered by tc-create; we may need to do some data migration and re-training of users before implementing.
4. In ma

[2021-02-01 16:55] cckozie opened #678 "Add more navigation options"
v1.1.0-rc.4 build 19-6e50a4c

As we heard in the tools and content breakout in Orlando, the current navigation options in tC Create are insufficient for the users to work efficiently. Here are some suggested improvements:
Add the navigation tool currently being implemented in tCC 2.0
Add << and >> to the bottom ribbon to go to the beginning/end
Add a page field to the bottom ribbon to allow the us

[2021-02-01 19:19] cckozie opened #679 "Book reference links do not work correctly"
The links on both the target and source side should look like links but should not be clickable.

**DoD:** Clicking a link on either side does nothing.

--------------
v1.1.0-rc.4 build 19-6e50a4c (Moved here from #660)
There is a problem with book reference links. I don't know what the cause of the not found error is, but being sent back to the login page after clicking on the "Back to our site"

[2021-02-01 19:36] cckozie commented on #660
v1.1.0-rc.4 build 19-6e50a4c
There really aren't any requirements defined in this issue, but I'm seeing inconsistencies between this type of project and others. I suspect these may be content problems. @birchamp - Do we care about these differences at this time?

1. The naming of the resource is inconsistent with all other resource types
![image.png](https://images.zenhubusercontent.com/56e1a9316c

[2021-02-01 19:46] cckozie opened #680 "Warn users when they are leaving a changed project without first saving it"
v1.1.0-rc.4 build 19-6e50a4c

When a user has unsaved changes in a file and then selects a different file from the drawer or clicks the X in the blue header bar, it would be good to warn them as such and give them the opportunity to save their work.

[2021-02-01 21:23] cckozie commented on #633
v1.1.0-rc.4 build 19-6e50a4c
I am unable to test because both well formed and badly formed links give a 404 type error when clicked.

[2021-02-01 21:26] cckozie commented on #497
v1.1.0-rc.4 build 19-6e50a4c
I have not seen, and am not seeing, any app crashes when scrolling so I'm not really able to verify the "fix".

[2021-02-01 21:30] elsylambert commented on #630
v1.1.0-rc.4 build 19-6e50a4c.

The reported issue no longer exists.

[2021-02-01 21:31] elsylambert commented on #497
v1.1.0-rc.4 build 19-6e50a4c.

Not seeing the reported issue while scrolling down the page.

[2021-02-02 13:01] birchamp commented on #660
@cckozie I don't know why the titles are so inconsistent but the users are much more concerned with having access.  We can ask at the Sprint Review if this needs to change.   I do think that the literacy levels of the typical OBS reader vary more than the TA reader, so perhaps that's the difference in font size??

[2021-02-02 13:12] birchamp commented on #584
@ancientTexts-net, @RobH123, @cckozie This needs to be fixed prior to release.  We've told users that high priority errors will most likely break tC, so they are going to work to hunt these down. Training has taught GLs to delete notes that don't apply to them, so teams are already deleting rows in their notes.

[2021-02-02 14:13] birchamp commented on #500
@mandolyte @cckozie -

- The x needs to be bigger if it's not too much effort.  Or you could make it bigger by making it bold: **Close   X**
- The box should be either:
  - modal
  - closed by any action outside of the box (clicking the menu, or the close file button).

[2021-02-02 14:24] cckozie commented on #584
I am failing this based on Birch's comment above, but we need clarification on what "fixed" means, both for the CV as well as the tCC app.
Should the CV not report errors where target rows are missing?
Does tCC need to show the parallel scripture and book, chapter, verse for those rows?
Are there other requirements?

[2021-02-02 14:29] mandolyte commented on #584
The PR for this was merged into master a couple of weeks ago. And it fixes the problem reported on in this issue (more rows in source than in target).

Deleted rows, per se, should not be a problem... is it?

So yeah, needs definition... not sure what needs to be done.

[2021-02-02 15:50] cckozie commented on #634
Discussed with the devs so they better understand what we're seeing.

[2021-02-02 15:51] elsylambert commented on #633
translationCore Create - v1.1.0-rc.4 build 19-6e50a4c.
the link is not changed by tcCreate as reported. Now the link is displayed correctly but it does not link properly to the verse which is written up in

[2021-02-02 15:53] elsylambert commented on #633
Based on our discussion with Zach, I am moving this issue to QA done. The link problem will be tracked/handled by #679.

[2021-02-02 15:55] cckozie opened #682 "The header font on OBS Study Questions is much larger than what is used in tA"
I assume this is really a content problem.
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/d34e0790-f762-42b4-9140-d1df82d721c9)

![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/11dec96c-50ed-498b-92da-1f198e413022)

[2021-02-02 15:56] cckozie commented on #660
I pinged the content team to fix the resource name.
I created issue #682 to address the font sizing problem.
Otherwise it looks good in v1.1.0-rc.4 build 19-6e50a4c

[2021-02-02 16:21] birchamp commented on #584
@mandolyte @cckozie  Deleted rows shouldn't produce errors. If deleted rows *must* produce errors, it should be a very low priority error, and the description should say: "This row may have been deleted intentionally."

[2021-02-02 16:27] birchamp commented on #500
@mandolyte what is the effort needed of getting rid of the error box popping up for a new file or at least change the text in the box to say "Processing..."?

[2021-02-02 17:07] mandolyte commented on #500
Swapped out the material ui "Alert" component for the "Dialog" (modal) component. Same one as used for the validating process message. Behaves the same but you must click the Close button to continue. The click action clears the error messages and so the dialog no longer appears between file choices. Here is how it looks:

![image](https://user-images.githubusercontent.com/1289437/106635604-0ecbef

[2021-02-02 17:34] mandolyte commented on #584
And with the PR for this, no errors will be reported for fewer rows in
target than source (ie, deleted rows).

If you find otherwise, let me know.

Cecil

On Tue, Feb 2, 2021 at 11:21 AM birchamp <notifications@github.com> wrote:

[2021-02-02 17:51] cckozie commented on #584
My bad on the 988 error. It looks like the CV no longer reports this error as of 1/22/21. It looks like I tested it when it showed up in QA prior to that and it was still broken.
Looks good now in v1.1.0-rc.4 build 19-6e50a4c

[2021-02-02 19:40] cckozie commented on #605
v1.1.0-rc.4 build 19-6e50a4c
When there are missing rows in the target file, tC Create displays them at the bottom without scripture, reference, and with the wrong ID. The ID displayed appears to be the ID of a random row elsewhere in the source file.
In this example I deleted the row with ID "k1sa" from the target file. Note that tC Create duplicates a "random" row after the last row in the targe

[2021-02-02 20:00] cckozie commented on #402
You may want to work on #605 as part of this.

[2021-02-03 14:00] mandolyte commented on #572
vi to the rescue... I cloned this repo and switched to the tcc001-tc-create-1 branch. Then I brought up the file in vi and there are *two* zwsp characters at the beginning of the orig quote on row id m2jl:
![image](https://user-images.githubusercontent.com/1289437/106757355-3c23a680-65fe-11eb-9745-ba6baea1b6df.png)

[2021-02-03 14:01] mandolyte commented on #572
And for row rtc9:
![image](https://user-images.githubusercontent.com/1289437/106757479-61b0b000-65fe-11eb-803f-f2bf6a6dc760.png)

[2021-02-03 14:22] mandolyte commented on #572
Note: I cannot detect these in either HTML or Markdown modes in tc-create. But they apparently are in memory.

Env 1: using https://develop--tc-create-app.netlify.app/ at v1.1.0-rc.4 build 19-6e50a4c
Test 1: make a change to m2jl not in the orig quote field and save the file. Is it still there?
Result 1: yes, still there.
Hypothesis: the filters are filtering out the zwsp to/from html, but not upd

[2021-02-03 14:23] mandolyte commented on #572
@ancientTexts-net See above testing I did this morning. Do you agree with the proposal?

[2021-02-03 16:15] BincyJ opened #684 "Remove OBS Study Question resource"
Only the markdown resources of OBS (tN, tQ, SN) to be included in the related. OBS Study questions to be removed.

[2021-02-03 16:39] BincyJ commented on #661
removed it from 1.1 build . Blocked for stakeholder definition

[2021-02-04 15:21] ancientTexts-net commented on #674
@elsylambert @cckozie

In this case, the whole app would crash with error about `use-deep-compare-effect with primitives`

We do not believe this happens any more (build 20-936fafa)

![image.png](https://images.zenhubusercontent.com/5ec297799c61301f66b0725c/f2cad9c1-df05-491e-8ddf-03a15af27180)

[2021-02-04 16:43] mandolyte commented on #572
@cckozie @birchamp @BincyJ @elsylambert @ancientTexts-net

Zach and I have found a way to fix this. However, "fix" depends on the definition of done.
- The original description in this issue is about the validator reporting apparently spurious errors about not finding original language quote.
- We determined that the root cause is ZWSP characters in the data that the validator is using (which come

[2021-02-04 16:54] mandolyte commented on #684
I believe we decided to leave the pure markdown OBS resource types. The only one having issues is the study questions which is in some formatted markdown that tc-create cannot support (uses indentation blocks that can only be done in markdown mode)

[2021-02-04 16:55] cckozie commented on #572
@birchamp @BincyJ @elsylambert @ancientTexts-net
I think I'm OK with just fixing it so the validation error does not show up as long as that fix doesn't break other situations where the ZWS is needed but is not processed by the validator (if that situation even exists).

[2021-02-04 18:46] RobH123 commented on #572
What? If we want the CV error not to show up, easier just to remove that check from the CV package. But then, we should write in the file spec for other users of our data: *This field may or may not have (invisible) zero-width spaces in it which any processing software should ignore. (Also take care that these characters don't limit the results of global searches if you're using a general-purpose

[2021-02-05 16:02] ancientTexts-net commented on #572
https://git.door43.org/cecil.new/journals/src/branch/master/tc-create-app/tc-create-app.572.md

[2021-02-05 23:26] elsylambert commented on #584
translationCore Create - v1.1.0-rc.4 build 20-936fafa. CV no longer reports wrong number of tabs error when one row is removed from the target file, as expected.

[2021-02-05 23:28] elsylambert commented on #674
translationCore Create - v1.1.0-rc.4 build 20-936fafa works fine without crash.

[2021-02-08 15:11] ancientTexts-net commented on #572
Should be available in v1.1.0-rc.6 build 21-ad9123a
https://develop--tc-create-app.netlify.app/

@elsylambert , @cckozie

Thank you :)

[2021-02-08 15:11] ancientTexts-net commented on #500
Should be available in v1.1.0-rc.6 build 21-ad9123a
https://develop--tc-create-app.netlify.app/

@elsylambert , @cckozie

Thank you :)

[2021-02-08 15:11] ancientTexts-net commented on #597
Should be available in v1.1.0-rc.6 build 21-ad9123a
https://develop--tc-create-app.netlify.app/

@elsylambert , @cckozie

Thank you :)

[2021-02-08 19:47] cckozie commented on #684
@birchamp - These are the OBS resource in v1.1.0-rc.6 build 21-ad9123a. Are those the ones we want?
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/b66f4efb-c254-4959-a6d3-db1010945b25)

[2021-02-08 19:55] cckozie commented on #597
Still unable to save in v1.1.0-rc.6 build 21-ad9123a
https://images.zenhubusercontent.com/191973535/8bfc2e56-2e72-4816-a6ee-ee16624de725/597.mp4

[2021-02-08 21:22] cckozie commented on #572
The validator no longer reports this as an error in v1.1.0-rc.6 build 21-ad9123a

[2021-02-08 21:30] cckozie opened #689 "Blank resources list after clicking the X in the blue header bar"
v1.1.0-rc.6 build 21-ad9123a
I opened a Titus tN file and ran the validator. I then clicked on the X in the blue header bar to select a different project and found the resource list to be blank.
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/9e13b967-67d0-4904-b290-2e564238e193)

[2021-02-08 21:41] cckozie opened #690 "Console errors when opening tQ"
v1.1.0-rc.6 build 21-ad9123a
Whenever I choose a new tQ file I get these errors. If I go back and choose one that I've already opened, then I do not see the errors.
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/5dc78133-161a-4307-a931-fd18c2a5b0ce)

[2021-02-08 21:54] cckozie commented on #665
Seems to be working fine in v1.1.0-rc.6 build 21-ad9123a

[2021-02-09 03:58] elsylambert commented on #665
translationCore Create - v1.1.0-rc.6 build 21-ad9123a. en_tq in markdown format is working fine.

[2021-02-09 04:16] elsylambert commented on #500
translationCore Create - v1.1.0-rc.6 build 21-ad9123a. On-open Content Validation is working fine : displays the error message as expected.![Screen Shot 2021-02-08 at 11.12.02 PM.png](https://images.zenhubusercontent.com/5d02efb2f425650e637abe10/6d62aa49-52f4-4405-8736-56d5a815123a)

[2021-02-09 04:20] elsylambert commented on #684
translationCore Create - v1.1.0-rc.6 build 21-ad9123a. en_obs-sq OBS Study questions is removed as expected. The other resources which uses Markdown format looks good and can be part of 1.1.0 Release.

[2021-02-09 04:21] elsylambert commented on #572
Not seeing this error report by CV in translationCore Create - v1.1.0-rc.6 build 21-ad9123a.

[2021-02-09 13:58] birchamp commented on #689
@cckozie should this go in the QA watchlist?

[2021-02-09 14:32] birchamp commented on #677
@mandolyte does this relate to your issue scripture-resources-rcl#78 ?

[2021-02-09 14:41] cckozie commented on #689
@birchamp - I'd rather not put it there as I like to use that lane for things I expect to get resolved in the not to distant future. I suspect this is a problem we're not very likely to see again, but wanted to document it incase it does reappear. I'm fine with moving it to the icebox if you'd prefer to get it out of new issues.

[2021-02-09 14:47] birchamp commented on #646
@cckozie can you retest this now that #500 is in QA done?

[2021-02-09 15:04] cckozie commented on #646
@birchamp - Sure, but since it's not been reproducable, I probably won't be willing to close it even if I don't see the problem.

[2021-02-09 15:33] cckozie commented on #646
Still a problem in v1.1.0-rc.6 build 21-ad9123a
Although it looks like the app is hung since the file doesn't load, the user is able to get passed the problem by clicking the X in the blue header bar.

To recreate:
1. Log in to tCC and open a tN project
2. Log in to a new/different session using the same credentials, and choose an org
3. Go back to the session in step 1
4. Open the drawer
5. Selec

[2021-02-09 15:33] mandolyte commented on #689
I tried several times to replicate, but could not. Then I looked closer at the error message on the screenshot. There are 8 name resolution errors, one per resource type. This is followed by 8 low level HTTP or Network errors:
- 4 name resolution errors
- 4 server not found errors

Hypothesis: the server briefly offline/unavailable

[2021-02-09 15:43] mandolyte commented on #690
These are normal. The browser adds these messages to the console when our code tries to get a branch that doesn't exist yet. When this error is returned, our code will then create it. As far as I know, there is no way to suppress these.

[2021-02-09 16:31] birchamp commented on #469
@mandolyte this is specific to 'kai' this doesn't happen with other words.  Doesn't even have to be adjacent. Just Kai'

[2021-02-09 17:03] mandolyte commented on #679
## Replicate Issue
1. run: https://develop--tc-create-app.netlify.app/
2. login as tcc001 and get to obs-sn resource and select: `content/01/01.md`
3. scroll down to the heading "God's Spirit".
4. there find a couple of obs references (24:08) and (42.10).
5. these two have (invalid) URLs:
	1. https://develop--tc-create-app.netlify.app/24/08
	2. https://develop--tc-create-app.netlify.app/42/10

The

[2021-02-10 04:46] elsylambert opened #691 "Order of the files in TQ should be in Chronological order instead of Alphabetical order"
To be consistent with other resources : Order of the files in TQ should be in Chronological order instead of Alphabetical order.
![Screen Shot 2021-02-09 at 11.46.06 PM.png](https://images.zenhubusercontent.com/5d02efb2f425650e637abe10/8f8b5464-2807-4e0a-9704-ed7495a835e6)

[2021-02-10 04:50] elsylambert commented on #666
Looks good in translationCore Create - v1.1.0-rc.6 build 21-ad9123a. Except for the font sizes not seeing any issues.

[2021-02-10 14:18] ancientTexts-net commented on #597
Should be testable in `translationCore Create - v1.1.0-rc.7 build 22-ebe4a7c`
https://develop--tc-create-app.netlify.app/

[2021-02-10 14:18] ancientTexts-net commented on #597
Should be testable in `translationCore Create - v1.1.0-rc.7 build 22-ebe4a7c`
https://develop--tc-create-app.netlify.app/

@cckozie @elsylambert @mandolyte

[2021-02-10 14:53] cckozie commented on #597
Looks good in v1.1.0-rc.7 build 22-ebe4a7c
When in markdown mode the Save button is immediately enabled after removing the extra space.
When in preview mode, the Save button is enabled after the on-blur event after removing the extra space.

[2021-02-10 14:57] cckozie commented on #666
Looks good in v1.1.0-rc.7 build 22-ebe4a7c

[2021-02-10 14:57] elsylambert commented on #597
Looks good in translationCore Create - v1.1.0-rc.7 build 22-ebe4a7c. Able to save after removing the double spaces..

[2021-02-10 15:19] ancientTexts-net commented on #679
FYI this issue already exists for other resources (e.g., old **tA** resources)

![image.png](https://images.zenhubusercontent.com/5ec297799c61301f66b0725c/b793482d-7c3b-4635-ad4d-4334cc9db647)

[2021-02-10 15:29] BincyJ commented on #684
@cckozie the issue requirement has been update. Let me know if any further action needed. Thanks!

[2021-02-10 16:32] birchamp commented on #690
There way be a way make these look cleaner.

[2021-02-10 17:01] elsylambert opened #694 "Save button is not enabled on a delete or backspace key"
It appears that the save button is enabled on two conditions:

- If a graphic character keypress is made (ie, space, letters, etc.; but not delete or backspace).
- On blur will capture any change made, including delete only changes.

[2021-02-10 17:12] elsylambert commented on #668
translationCore Create - v1.1.0-rc.7 build 22-ebe4a7c. CV no longer shows this error-Priority 581.

[2021-02-10 17:14] #668 closed

[2021-02-10 17:40] cckozie opened #695 "Blank screen after selecting a tN file"
v1.1.0-rc.7 build 22-ebe4a7c
I had an open session from about an hour ago in which I was working on a tN
After testing an RCL, I returned to that session, clicked the X in the blue header bar, chose tN then JUD. The file didn't load, instead I saw what is in the screen shot. I then opened the drawer and chose Titus. Now it's working properly.
![image.png](https://images.zenhubusercontent.com/56e1a

[2021-02-10 18:30] cckozie opened #696 "Users should not be able to drag and drop pictures in OBS"
v1.1.0-rc.7 build 22-ebe4a7c

Users are able to drag and drop OBS images which causes them to be removed from the project.

[2021-02-10 21:32] ancientTexts-net commented on #638
Robert says It would have been incorporated in v1.0.2 released 16 Jan. (See the Versions tab here.)
https://www.npmjs.com/package/uw-content-validation

[2021-02-11 00:17] ancientTexts-net commented on #638
This is pushed as a WIP PR
so it won't be merged yet

but preview is here

https://deploy-preview-697--tc-create-app.netlify.app/

[2021-02-11 00:29] elsylambert commented on #638
Preview looks good. Not seeing the error. Thanks @ancientTexts-net

[2021-02-11 12:40] mandolyte commented on #409
This issue can be unblocked now. The next few posts here will be to document what the new spec requires us to implement.

The new spec is [here](https://forum.door43.org/t/draft-parascriptural-tab-separated-value-format-specification-v2/502)

[2021-02-11 12:58] mandolyte commented on #409
This post has the general requirements that govern all TSV formats
- [ ] The new TSV repos will include the OBS material. They will be treated like another bible book with the id "OBS".
- [ ] The filenames in the repos will be of the form BBB_xx.tsv, where 'BBB' is the book id (including OBS) and xx is the two letter abbreviation of the resource type.
- [ ] The resource abbreviations are: tn, tq,

[2021-02-11 13:39] mandolyte commented on #409
For TQ and SQ:

These TSV files have FIVE columns: Reference, ID, Tags, Question, Response.

Since these are identical, one set of changes will work for both.

[2021-02-11 13:49] mandolyte commented on #409
These changes cannot be deployed into production until:

1. Production cuts over to the new format. Since these two resource types are fairly stable, this can be done independently, but it must be done first.
2. (optional) The changes to the content validator to support the new formats is ready. NOTE: at this writing, on Translation Notes have a validation function; thus tc-create can move forward

[2021-02-11 16:05] mandolyte commented on #695
Just a quick note. I tried to replicate as follows:
- in one tab, went to 2PE tN
- in second tab, did the same
- returned to first tab and went backward from Rev to 1JN without issue

Tested with: v1.1.0-rc.7 build 22-ebe4a7c

[2021-02-11 16:39] mandolyte commented on #469
Do you know of other words that like κατ᾽ that end with an apostrophe?

[2021-02-11 22:01] birchamp opened #698 "Release 1.1.0"
Need release process steps. @ancientTexts-net

[2021-02-12 13:03] mandolyte commented on #469
Note1: other cases can be found by:
[code]

Thus in Rev 1:12, which has this:
[code]

The word μετ’ has the same behavior.

@birchamp FYI

[2021-02-12 14:06] birchamp opened #699 "Allow the user to change the version of the source text"
As a checker/editor I want to be able to see a previous version of the source text so I can check the translated resource against the same source it was translated from.

[2021-02-17 15:22] cckozie opened #704 "The validator should not report "Row ID should start with a lowercase letter" errors"
v1.1.0
Validation file: [https://app.zenhub.com/files/191973535/bbaf46a1-adf5-4a47-b0b4-9c6c2923aef4/download](https://app.zenhub.com/files/191973535/bbaf46a1-adf5-4a47-b0b4-9c6c2923aef4/download)

I don't think there is any way for the user to change the source ID field. If that is so, it seems undesirable to suggest that they modify the target ID field. Would the app even know how to handle it i

[2021-02-17 16:04] cckozie opened #705 "A trailing space in the GLQuote field, as reported by the validator, is in the file but is not visible in tC Create either in normal or markdown mode"
v1.1.0
csv file here:[https://app.zenhub.com/files/191973535/4ce7628e-f472-424f-b3a3-6279930c90d8/download](https://app.zenhub.com/files/191973535/4ce7628e-f472-424f-b3a3-6279930c90d8/download)

Since the space does not show in the app, there is no obvious way for the user to remove it.

![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/4cce9f87-b03d-49b6-aa07-fdebccc9ed44

[2021-02-17 16:27] cckozie opened #706 "Problems are caused by non-breaking spaces in the OrigQuote field"
v1.1.0
csv at: [https://app.zenhub.com/files/191973535/2e81a815-00c7-49fb-a8f4-28f27a4b6968/download](https://app.zenhub.com/files/191973535/2e81a815-00c7-49fb-a8f4-28f27a4b6968/download)

The validator reports unexpected non-breaking spaces in the OrigQuote field and unable to find original language quote, but the user is not able to see what is causing the problem or any easy way to fix it. The

[2021-02-17 16:46] cckozie opened #707 "The validator reports errors on scripture reference links that are correctly formatted"
v1.1.0

csv file at: [https://app.zenhub.com/files/191973535/e98f630a-5ebf-4ae6-853c-9329e1c83918/download](https://app.zenhub.com/files/191973535/e98f630a-5ebf-4ae6-853c-9329e1c83918/download)

The validator reports this error, but the link works correctly in tC.

![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/a76bb8b7-bd78-4e84-92ed-fc6d8624a59d)

![image.png](https:/

[2021-02-17 17:46] cckozie opened #708 "It may be better for the validator to report 'No space after ” character' rather than 'Misplaced ” character'"
v1.1.0
csv file at: [https://app.zenhub.com/files/191973535/e7716d33-a27c-4b5e-8de5-e9f6d6fefd2f/download](https://app.zenhub.com/files/191973535/e7716d33-a27c-4b5e-8de5-e9f6d6fefd2f/download)

It took me a while to figure out what was wrong in the occurrence note. It would also be helpful to have the validator report the Char Pos of the problem.

![image.png](https://images.zenhubusercontent.com/

[2021-02-17 18:10] cckozie opened #709 "The meaning of the validator's message 'Unable to find duplicate original language quote in verse text' is unclear"
v1.1.0
I think the problem here (also reported by the validator) is that the occurrence number (11) is invalid.
I suspect the unclear message may mean that the validator is looking for the 11th instance of the original quote, but can't find it. If that is the case, it seems that the 'Invalid occurrence field' error should be enough to describe the problem.

![image.png](https://images.zenhubuserco

[2021-02-17 19:41] mandolyte commented on #704
@RobH123 thoughts?

These look suspiciously like they were entered by hand

[2021-02-17 19:53] RobH123 commented on #704
Yes, it's common for current users to edit TSV files with software like spreadsheet editors or code editors, and so they make up IDs and are not always aware of the spec for that field @mandolyte .

[2021-02-18 17:35] cckozie opened #710 "Question regarding what values the validator should consider as valid in the SupportReference field"
Currently tC will show checks with any value in the SupportReference field as long as all categories are checked on the tN card.
The validator currently reports these kind of errors related to that field. Note that for ID a93c the SupportReference value is not one of tC's "expected" categories but does not show as an error, and the one on ID gsb7 does show as an error. Is it correct to assume that

[2021-02-18 17:48] cckozie opened #711 "Validator reports "Unexpected trailing word-joiner" in OrigQuote field, but the quote is highlighted and the word-joiner is not visible in tC Create"
v1.1.0
This is another example of where it is not obvious to users how they might fix the problem. Should tC Create also be stripping word-joiners like we did with zero width spaces?

![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/e3fe4bee-5688-455f-89a5-7f35ff2ab1c7)

![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/de1a26ce-761f-4574-bbaf-c40

[2021-02-19 16:28] birchamp opened #713 "POC: Admin App"
1. [x] Prove that we can do a high level health check on a BP repos
2. [x] Prove that we can programmatically create a new repo with the correct manifest
3. [x] Prove that we can programmatically rename repos
4. [x] Prove that we can determine if TQ repo is old markdown or new TSV
5. [x] ~~Prove that we can convert an old TQ repo into a TSV.~~

Admin does a health check of files prior to assigning

[2021-02-19 19:54] cckozie opened #714 "Validator reports unable to find OrigQuote in verse text, but the text is highlighted and there is no visible problem in tC Create"
v1.1.0
I compared the unicode of the Source, Target, and Hebrew from the scripture pane and they all match. Not sure why the validator thinks this is an error.

![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/683a6731-ded4-4402-bc3d-c103c7940a7a)

![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/4492f0a8-210e-4270-9792-9e95df46ac8a)

[2021-02-19 20:25] cckozie commented on #714
Another example of the same thing, except in this one the validator also reports an unexpected non-breaking space character which I am unable to find in the DCS repo.
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/371bda7a-af3d-4211-8be9-4686c677f6d6)

![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/ce813b5f-7d23-4e46-aabd-a861a4170a34)

![ima

[2021-02-22 17:27] cckozie commented on #574
It appears that this have been fixed in v1.1.0. I am no longer seeing the 620 error in Luke or the 621 error in Romans.

[2021-02-22 17:52] cckozie commented on #708
Here is another example:
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/ceb49d45-a9d9-401a-906f-4c904a39bb67)

![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/291788cc-ee4e-4395-9f44-7b5492956676)

[2021-02-24 14:01] mandolyte commented on #713
The Content Validation App gets part way down this path. So for org = `translationCore-Create-BCS` and language = `kn` the "repo validation report" shows:
![image](https://user-images.githubusercontent.com/1289437/109011432-dc5d7000-767e-11eb-9d50-3d54ba1929dc.png)

@birchamp

[2021-02-24 14:14] birchamp commented on #545
@elsylambert can you retest this? I suspect it's still an issue

[2021-02-24 14:25] mandolyte commented on #236
Note: when scrolling down in the file, the bar does not scroll off page. But when scrolling up, it does.

[2021-02-24 14:44] birchamp commented on #710
@RobH123 can you take a look at this and explain what's going on here?

[2021-02-24 17:33] birchamp opened #717 "Display toolbar on scroll up for TSVs"
The toolbar should be displayed when the user scrolls up on a TSV.

Scrolling down the toolbar disappears.

![tC Create 2021-03-16 09-36-21.png](https://images.zenhubusercontent.com/5cf53901e39e5f33e3e129fa/70d834a1-fe38-4abb-86b5-68c774df5530)

Scrolling up makes it appear.
![tC Create 2021-03-16 09-36-50.png](https://images.zenhubusercontent.com/5cf53901e39e5f33e3e129fa/a5add12e-5d14-40ad-9d08-c

[2021-02-24 17:33] birchamp commented on #717
needs def @birchamp

[2021-02-24 17:43] birchamp opened #718 "SPIKE [8]: Parallel scripture viewer needs to handle reference ranges in the Reference field of the current record"
What impact does a verse range in the TSV Reference column have on the application?

A TSV record can refer to a reference range (multiple verses). We need to come up with a solution that will show all the verses in the range. The preferred solution will work for both tC Create and gatewayEdit.

Here's a mockup in gatewayEdit:
![CleanShot 2022-08-04 at 09.44.04.png](https://images.zenhubuserconten

[2021-02-24 22:00] RobH123 commented on #710
There is a limited list of TA articles that Perry has given which are allowed to be in the SupportReference column. The content validator checks against that list. (Priority 788 notices)

It also expects all SupportReference entries to be actual TA articles -- so findable in the TA repo. (Priority 88x notices as long as link fetching isn't disabled by an option flag)

It also expects all SupportRe

[2021-02-25 17:38] cckozie commented on #498
I added a test for this (as well as tests for all rows/page options) to tCC tN Test Columns Options and renamed it to tCC tN Test Columns and Page Rows.

[2021-02-26 13:44] ancientTexts-net opened #719 "BSA Propogate OnClick from Verse up to Book View"
BSA needs to trigger a user action based on "onClick" on a `Verse` object.

1. propogate `reference` object down from Book --> down to the `Verse` object
2. implement a `referenceSelectedContext` to manage state for the selected reference
3. wire up onClick to set the referenceSelectedContext state
4. implement a demo (Verse.md)

DoD: the Verse.md demo can do "something" with the referenceSelected

[2021-02-26 22:29] ancientTexts-net commented on #469
saving these changes for posterity in case we need to re-activate onClick one day?

![image.png](https://images.zenhubusercontent.com/5ec297799c61301f66b0725c/7c406675-cc9a-4e99-967c-daa3585109fc)

[2021-02-27 01:06] ancientTexts-net opened #723 "Dependabot issues"
there's a few dependabot issues in the "in review" lane.
assuming they were actionable now :)

[2021-03-01 14:51] birchamp commented on #714
@cckozie I'm assuming the occurrence is 0 or 1, correct?

[2021-03-01 14:58] cckozie commented on #498
tN opens with 25 rows in v1.2.0-rc.2 build 28-4717783

[2021-03-01 15:22] elsylambert commented on #498
translationCore Create - v1.2.0-rc.2 build 28-4717783. By default. the page opens with 25 Rows per page. The other options 10, 50, 100 are working fine too.

[2021-03-01 15:25] elsylambert commented on #375
translationCore Create - v1.2.0-rc.2 build 28-4717783. X button is added to the Mange version modal. looks good.

[2021-03-01 15:33] cckozie opened #730 "Only active links should appear as links"
v1.2.0-rc.2 build 28-4717783
This scripture references appear as links, but they do not behave as links. This may cause users to think the app is broken.
![image](https://user-images.githubusercontent.com/8171759/109519549-f5946100-7a70-11eb-8cd2-a925322f3788.png)

[2021-03-01 15:36] elsylambert commented on #679
translationCore Create - v1.2.0-rc.2 build 28-4717783. Links appears like links but are not clickable, works as per the Dod.

[2021-03-01 15:49] cckozie commented on #469
Not seeing the problem in v1.2.0-rc.2 build 28-4717783
I'll add a test for it in tCC tN Test OrigLangQuote

[2021-03-01 16:11] cckozie commented on #714
@birchamp - Yes, the occurrence is '1' as in the screenshot:)

[2021-03-02 04:51] elsylambert commented on #469
translationCore Create - v1.2.0-rc.2 build 28-4717783. Not seeing this issue. Single click is not activated and hence, not highlighting a word in the scripture viewer.

[2021-03-02 15:12] #437 closed

[2021-03-02 15:12] #507 closed

[2021-03-02 19:49] birchamp commented on #574
This was fixed by unfoldingWord/uw-content-validation#128 and unfoldingWord/uw-content-validation#68

[2021-03-02 19:50] #574 closed

[2021-03-02 22:51] cckozie commented on #679
Clicking links do nothing in v1.2.0-rc.2 build 28-4717783
Added tests for this to tCC tA Test Block Quotes and Sections

[2021-03-03 14:39] elsylambert commented on #719
@ancientTexts-net Please add more details on how this can be tested in the app.

[2021-03-03 15:43] ancientTexts-net opened #735 "Queries for XPath for Automated Testing"
Define [N] queries for automated testing

- Identify top [N] cases for automated testing selections.
- Cookbook the "preferred" queries for the top [N] cases.
- Recommend/prefer xpath ? aria-label & id.
- Recommend/prefer wildcard /**/div[aria-label='....   ??

Example cases:
- find Nth TSV target row
- find TSV target row by text
-
-
-

[2021-03-03 15:52] birchamp commented on #710
@cckozie does the above answer these questions sufficiently?

[2021-03-03 16:28] birchamp commented on #325
@ancientTexts-net don't use ensurefile for multiple checks

[2021-03-03 16:30] birchamp commented on #325
Check en prefix, then ensurefile noprefix

[2021-03-03 18:44] cckozie commented on #710
@birchamp - So I think what I'm hearing is that it is working as designed. I think it would be good/helpful for us (QA) to have the list of tA articles that are valid for the SupportReference field.
I also think it would be better to specify unable to find tA **article** rather than unable to find tA **link** for the 88xx error messages.

[2021-03-03 21:23] RobH123 commented on #710
Here's the code for valid SR fields @cckozie:
               supportReference.startsWith('figs-')
                    || supportReference.startsWith('grammar-')
                    || supportReference.startsWith('translate-')
                    ||supportReference.startsWith('writing-')
                    || supportReference === 'guidelines-sonofgodprinciples'
This came from Zulip -- but it would

[2021-03-03 22:27] elsylambert commented on #545
Not an issue in translationCore Create - v1.2.0-rc.2 build 28-4717783.

[2021-03-03 22:27] #545 closed

[2021-03-03 23:40] cckozie commented on #710
Thanks @RobH123 !

[2021-03-04 13:55] birchamp commented on #325
@RobH123 needs to weigh in on the new filename scheme before we can continue.

[2021-03-04 15:17] #723 closed

[2021-03-04 16:12] cckozie opened #737 "On-open validator reports errors on ru tN tsv files"
v1.2.0-rc.2 build 28-4717783

file here: [https://app.zenhub.com/files/191973535/1f76977a-78ed-4a04-9d49-822cf417fbec/download](https://app.zenhub.com/files/191973535/1f76977a-78ed-4a04-9d49-822cf417fbec/download)

![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/51025293-5564-46b4-8094-2019b0f42836)

Log in and select the Russian tN project for Titus.
Note that the on-op

[2021-03-04 16:25] #444 closed

[2021-03-04 16:25] #455 closed

[2021-03-04 16:25] #497 closed

[2021-03-04 16:25] #499 closed

[2021-03-04 16:25] #500 closed

[2021-03-04 16:25] #559 closed

[2021-03-04 16:25] #566 closed

[2021-03-04 16:25] #572 closed

[2021-03-04 16:25] #577 closed

[2021-03-04 16:25] #584 closed

[2021-03-04 16:25] #586 closed

[2021-03-04 16:25] #596 closed

[2021-03-04 16:25] #597 closed

[2021-03-04 16:25] #618 closed

[2021-03-04 16:25] #630 closed

[2021-03-04 16:25] #633 closed

[2021-03-04 16:25] #634 closed

[2021-03-04 16:25] #637 closed

[2021-03-04 16:25] #650 closed

[2021-03-04 16:25] #660 closed

[2021-03-04 16:25] #665 closed

[2021-03-04 16:25] #666 closed

[2021-03-04 16:25] #674 closed

[2021-03-04 16:25] #684 closed

[2021-03-04 16:25] #698 closed

[2021-03-04 19:48] cckozie commented on #737
Tested in tCC tN Test On-Open Validator

[2021-03-04 20:22] cckozie opened #738 "Clicking on Language in the stepper only works when stepper is on the Select File page"
v1.2.0-rc.2 build 28-4717783 (although I think this has been around forever)

To replicate:
Open any project
Click on the X in the blue header bar
Note that the Language icon is enabled but clicking on it has no effect
Click on the Organization icon and select and organization
Note that the Language icon is enabled but clicking on it has no effect
Choose a resource, then note that the Language ico

[2021-03-04 20:26] cckozie opened #739 "The stepper icons should only be enabled (non-grayed) when they are clickable"
v1.2.0-rc.2 build 28-4717783 (although I think this has been a problem forever)

To replicate:
Log in and open any project
Click on the X in the blue header bar
Click on the Login icon
Note that the Organization and Language icons still appear active, but clicking on them has no effect.

[2021-03-04 20:26] cckozie commented on #739
dup of 602

[2021-03-04 20:26] #739 closed

[2021-03-04 22:00] birchamp commented on #325
@ancientTexts-net

 After a lot of deliberation, it was determined that it is preferable to keep the names as is and wait until the conversion to the 7 column format is done.  The converter will be written to change the file name as well.

[2021-03-05 18:52] birchamp commented on #710
uw-content-validation#154 addresses "specify unable to find tA article rather than unable to find tA link for the 88xx error messages."

[2021-03-05 19:05] birchamp commented on #706
@RobH123 do non-breaking spaces in the OrigL quote break anything?

[2021-03-05 19:09] birchamp commented on #705
@RobH123 what's the risk here when the field has a trailing space?

[2021-03-05 19:18] birchamp commented on #695
@cckozie how consistent is this? Are you unable to navigate to subsequent books every time you close a TN file?

[2021-03-05 19:20] birchamp commented on #691
This will be fixed when we convert to TSV.

[2021-03-05 19:28] birchamp commented on #640
@RobH123 Cecil said you were working on a new version of the validator, do you know if this is already being addressed?

[2021-03-05 19:43] birchamp commented on #631
@RobH123 do you have an issue addressing this?

[2021-03-05 19:49] birchamp commented on #627
closing this as it's a duplicate

[2021-03-05 19:49] #627 closed

[2021-03-05 19:58] birchamp commented on #609
@mandolyte do you know if we've updated the validation?

[2021-03-05 20:00] birchamp commented on #604
@RobH123 do you know if this has been addressed?

[2021-03-05 21:00] mandolyte commented on #609
Yes. We are at 1.x now

[2021-03-05 21:37] cckozie commented on #695
@birchamp It is consistent in that if I open a second session with the same username as an active session, when I return to the first session some books will load and others will not (just the gray screen with console message). The results are the same regardless of whether I try to load using the drawer or the Select Resource page.

@mandolyte - This is the message I received after pasting the ur

[2021-03-05 22:37] birchamp commented on #600
@RobH123 can you take a look at this?

[2021-03-08 02:14] RobH123 commented on #706
From what I've been able to determine, there's NO GOOD REASON to have non-break spaces in any of our materials, and certainly not in snippets when it's NOT in the original text.

Does it break any of our software @birchamp? Maybe not if defensive code has been written to try to fix it under the surface? (For me, I'd still recommend fixing the source of the problem which is 1/ why allow a NB-space

[2021-03-08 02:20] RobH123 commented on #705
Maybe none @birchamp if there's also a space there in the original. It's just unnecessary (sloppy?) and being pretty-much invisible, just another unnecessary/confusing thing for other potential users of our data to have to write defensive programming for.

[2021-03-08 02:32] RobH123 commented on #640
Sorry, I'm unsure what the poster is suggesting is right/wrong in all these scenarios. And the CV package works with the file data (markdown), irrespective of what the HTML formatter displays so the final post is not really relevant.

But yes @birchamp, I do try to update the code if I find a deficiency -- usually when I'm publishing a BP. But markdown has no single well-defined spec, so it's ofte

[2021-03-08 02:36] RobH123 commented on #631
[This](https://github.com/unfoldingWord/uw-content-validation/issues/135) seems to be the opposite.

I think [this](https://github.com/unfoldingWord/uw-content-validation/issues/126) is it @birchamp.

[2021-03-08 02:39] RobH123 commented on #604
Yes @birchamp . Fixed [here](https://github.com/unfoldingWord/uw-content-validation/commit/b4a5a1010d5d68b47e086617a24d8ba2a56612e8).

[2021-03-08 03:11] RobH123 commented on #600
Those two long hex strings are identical, so it obviously shouldn't produce an error for that. So something else must be going wrong.

Since it's from last year, I wonder if it could be retested @cckozie? Perhaps something has already been fixed somewhere? Ah, but I wonder about the leading space warning just above the highlighted one. Since the quote is from the very beginning of the book/verse,

[2021-03-08 14:55] cckozie commented on #600
@RobH123 @birchamp - I'll retest

[2021-03-08 15:02] cckozie commented on #600
@RobH123 @birchamp - In v1.2.0-rc.2 build 28-4717783 the validator is no long reporting this as an error. Closing the issue.

[2021-03-08 15:02] #600 closed

[2021-03-08 15:53] mandolyte commented on #737
@cckozie @birchamp

It isn't obvious what the issue is with the header. But here is the issue with line 199:
- in the past, we've had issues with a blank line at the end of the file
- thus in some cases we trim whitespace off the end of the file to prevent this from causing issues
- in the this issue, the file has empty columns on the last row.
- which means it ends with a bunch of tab characters.

[2021-03-09 14:59] cckozie commented on #575
This is tested as part of tCC tN Test App Crash on Paging when using NT books. Closing now.

[2021-03-10 16:47] mandolyte commented on #236
@ancientTexts-net At this time, there are two different ways this feature is working. This solution is one way and the TSV TN is another.

It was decided that:
- both should work the same way
- and markdown should work like TN

[2021-03-10 22:27] cckozie opened #741 "Which rows are to be displayed is calculated wrong when the user changes the rows/page"
v1.2.0-rc.2 build 28-4717783
I appears that the app is tracking what page should be displayed by multiplying the rows/page by the number of times the Next/Previous buttons have been clicked. This causes the wrong rows to be displayed when the user changes the rows/page unless the user is on the first page.
movie here:

[2021-03-10 22:46] cckozie opened #742 "The icon bar is significantly higher in tsv files than in md files"
Make the TSV Save Toolbar the same height as the MD Save Toolbar.  Or VERY close to it.

v1.2.0-rc.2 build 28-4717783
It looks like the bar is ~ 108 pixels high when in md files and 144 pixels high when in tsv files.
![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/c3bb148a-968b-4968-acd0-162b32397a6d)

[2021-03-11 12:39] cckozie opened #744 "Performance issues when paging by 50 and 100 rows per page"
DoD:
===
Paging should be under 10s for 100 rows.

Details:
===
v1.2.0-rc.2 build 28-4717783

The performance of paging degrades sharply when the rows/page is set to 50 or 100. Below are some actual timings for paging in the app. You'll notice that the **time per row** doubles when paging 50 rows, and almost doubles again when paging 100 rows, now taking **almost 1 second per row**.

## Processing

[2021-03-11 15:04] deferredreward opened #745 "duplicate tN to"
It would handy to be able to easily duplicate tNs which you could then just tweak for the current situation. Exodus is full of repetition and it would save time and create a much more consistent resource if we could do this. For instance, Exodus 4:21 first introduces Pharaoh hardening his heart, that phrase needs at least 2 tNs which will be mostly repeated verbatim 12x in the next several chapter

[2021-03-11 18:06] birchamp commented on #737
@mandolyte are you talking about a RCL that's simply a TSV parser? Or just modifications to how Datatable-translatable parses?

[2021-03-11 18:10] birchamp commented on #604
@cckozie Moving to QA.  @mandolyte Can you confirm that this fix is integrated into the app? If so can you move it to QA app?

[2021-03-11 18:30] birchamp commented on #705
@mandolyte @ancientTexts-net Since tC Create isn't showing the trailing space can we remove it from the actual text?

[2021-03-11 22:09] birchamp commented on #706
@jag377 I've seen a number of languages that require NB-spaces between words. The terms should be separated by a space but not wrap to be on separate lines.  For some reason I thought we used NB-Spaces in Hebrew as well.

[2021-03-12 02:13] mandolyte commented on #737
@birchamp Technically, it would not be an RCL since it would be pure code, no UI. So it would be like our USFM.js or uw-content-validation package.

Over time everything that needs to parse TSV in the spec compliant way could use instead of writing it ourselves each time. I can find several places in the codebase today where TSV is parsed, sometimes with slight differences. But none conform to wha

[2021-03-15 12:54] mandolyte commented on #737
I should note that this could be included in the gitea-react-toolkit (it will find a lot of use there anyway).

[2021-03-15 13:08] mandolyte commented on #639
@cckozie @birchamp

When I did the above, I see that the chapter and verse are for Titus 2:5, and it follows Titus 3:15 and is the last tN row in the file.

This leads me to guess that it may be a deleted row in the target. It would make sense (and I seem to recall something like this) that deleted rows in target are placed at the end of the source. So is this just a normal deleted target row?

If

[2021-03-15 13:12] mandolyte commented on #639
I did try a deleted (having never done one before) and saw a warning that there is no "undo" ... so it is permanent I guess.

[2021-03-15 13:20] mandolyte commented on #639
Sorry for all the comments... just keep thinking of things to try. I opened 3JN and deleted the very first row. It disappeared from the screen, but I found it at the end. And if I tried to edit anything on the target side, the same gray screen of death appears.

So perhaps the solution is to not show any deleted rows so this kind of attempt cannot be made?

@ancientTexts-net @cckozie

[2021-03-15 15:52] ancientTexts-net commented on #717
how does this look please?

@birchamp
@elsylambert
@klappy
@elsylambert
@cckozie

![717-scrollbar.gif](https://images.zenhubusercontent.com/5ec297799c61301f66b0725c/9345c1fa-a18c-4de2-8e49-9951c357b7a6)

[2021-03-15 16:01] elsylambert commented on #717
@ancientTexts-net looks good to me.

[2021-03-15 16:19] cckozie commented on #717
Are we willing to give up that much real estate to fix this problem?
Why does tsv use a different Save toolbar than md?

[2021-03-15 17:23] birchamp commented on #717
@ancientTexts-net I see the blue bar is permanent, but you can't have the toolbar with the save button hidden while scrolling down until the user scrolls up?

[2021-03-16 12:39] mandolyte commented on #717
@birchamp are you wishing for both the app bar and the toolbar to scroll off the top _when scrolling up_ and the re-appear one at a time when the user scrolls down?

This would be similar to how my Android phone (v11) works.

[2021-03-16 14:01] birchamp commented on #717
@ancientTexts-net @mandolyte  I've posted screens of what our goal is.  Sounds like we may not be able to do that.

[2021-03-16 20:37] cckozie commented on #639
Katalon tested in tCC Test App Crashes

[2021-03-17 12:35] #609 closed

[2021-03-17 12:40] birchamp commented on #737
@klappy thoughts on this idea?

[2021-03-17 15:27] #713 closed

[2021-03-17 15:28] ancientTexts-net opened #748 "Review/Merge dependabot suggestions"

[2021-03-17 15:53] birchamp commented on #635
@klappy @ancientTexts-net Can this be handled in Netlify? A production build that uses the production server but not fully released so QA can look at it first.

[2021-03-17 15:59] birchamp opened #749 "Release 1.1.1"
- [x] remove RC from the version number
- [x] create branch for version 1.1.1
- [x] Ping QA that release branch is ready for testing
- [x] PR from version branch to Master
- [x] Ping QA that release is live
- [x] tag release on Github
- [x] publish release note
- [x] Announce on forum.doo43.org

[2021-03-17 16:04] birchamp commented on #548
@birchamp make a link to mclean's issue.

[2021-03-17 21:53] ancientTexts-net commented on #717
![scrollbars-2.gif](https://images.zenhubusercontent.com/5ec297799c61301f66b0725c/55120a78-7d7d-4d8d-afd2-24a0a637df7c)

current status:

@birchamp @BincyJ @elsylambert @cckozie @mandolyte

[2021-03-17 21:53] ancientTexts-net commented on #236
![scrollbars-2.gif](https://images.zenhubusercontent.com/5ec297799c61301f66b0725c/55120a78-7d7d-4d8d-afd2-24a0a637df7c)

current status:

@birchamp @BincyJ @elsylambert @cckozie @mandolyte

[2021-03-18 03:40] elsylambert commented on #604
Not seeing this error in translationCore Create - v1.2.0-rc.2 build 28-4717783.

[2021-03-18 03:41] elsylambert commented on #719
@ancientTexts-net Please add the RCL link to be tested.

[2021-03-18 03:42] elsylambert commented on #638
Not seeing this error in translationCore Create - v1.2.0-rc.2 build 28-4717783.

[2021-03-18 13:14] ancientTexts-net commented on #410
https://forum.door43.org/t/parascriptural-tab-separated-value-format-specification-v2/870

[2021-03-18 13:19] ancientTexts-net commented on #410
Sample TSV:

https://git.door43.org/unfoldingWord/en_twl

[2021-03-18 14:04] elsylambert opened #751 "Need a feedback form similar to create 2.0"
Currently, the Report Bug link goes to the Git Repo.

[2021-03-18 14:16] birchamp commented on #639
@mandolyte please note that this is slated for 1.2

[2021-03-18 15:33] mandolyte commented on #410
We met on Thursday and brainstormed. Here are the ideas we came up with.

## A. Treat similar to TN

In this approach, the row bar has the TWL content and the source and target TW articles are loaded into two "dummy" columns.

Pros: familiar
Cons:
- there are two files being managed and so you can't makes edits to both
- would consume a lot of memory and would have excessive load times
- would sti

[2021-03-23 04:20] ancientTexts-net commented on #719
@elsylambert @cckozie
to test:

I. test "VERSE" component
https://scripture-resources-rcl.netlify.app/#/Verses%20?id=verse

1. click verse
Verify: popup alert shows.

2. click verse again
Verify: popup does NOT show (since verse selection doesn't change).

---

II. test "VERSES" component
https://scripture-resources-rcl.netlify.app/#/Verses%20?id=verses-1

1. click a verse
Verify: popup alert show

[2021-03-23 04:30] ancientTexts-net commented on #236
Zach Pennington: @Cecil New turns out, only markdown-translatable and tc-create-app need to change. With the new markdown-translatable, the APP includes fixes for both TSV and MD

[2021-03-23 04:31] ancientTexts-net commented on #717
PR for this is included in other issue:
https://app.zenhub.com/workspaces/tc-create-workspace-5f049cdbfa88090016bf043e/issues/unfoldingword/tc-create-app/236

[2021-03-23 04:54] ancientTexts-net commented on #742
The PR for this issue belongs to related issue:
https://app.zenhub.com/workspaces/tc-create-workspace-5f049cdbfa88090016bf043e/issues/unfoldingword/tc-create-app/236

See screenshot here:  toolsbars are the same size now:

![image.png](https://images.zenhubusercontent.com/5ec297799c61301f66b0725c/ad045e1a-0809-43b6-8429-4fc55ded854c)

[2021-03-23 05:36] ancientTexts-net commented on #548
@mandolyte
@PhotoNomad0

ready for testing:

http://localhost:6060/#/Parallel%20Scripture%20?id=parallelscripture

- open `ParallelScripture` demo
- click "Manage Versions" button; add an INVALID resource (e.g., "www.google.com")
Verify: red error message shows
- next, add VALID resource (e.g., `Door43-Catalog/hi/ulb/master/3jn`)
Verify: red error message disappears; & new resource shows

[2021-03-24 12:44] cckozie commented on #638
Errors not showing in v1.2.0-rc.2 build 35-01cd274

[2021-03-24 14:30] birchamp opened #756 "Fetch source files from Door43-catalog 'published' repo"
This issue was covered in #882

Currently, tCC opens the files in the master branch of the unfoldingWord organization. GL teams want to work from the published English text which has a specific version.

The source files should be pulled from the door43-catalog organization for every supported resource.
- [ ] TWL - Latest release from: https://git.door43.org/unfoldingWord/en_twl
- [ ] TA - https:/

[2021-03-24 15:29] birchamp opened #757 "SPIKE: Investigate opening both MD and TSV for the same resource"
If tCC swtiches to the new TSV format is there a way we can allow users to continue to work with MD?

[2021-03-24 15:35] birchamp opened #758 "SPIKE [12]: Changing source version"
Default source version should be latest published if nothing is specified in the manifest.
* Users want to know which version **each book** was translated from - not at the resource level.
* Users want to see the source side from the version that it was translated from.
* Admins want to be able to change the source version.

What are the effects of switching source versions?  Would it cause more m

[2021-03-24 15:38] birchamp opened #759 "SPIKE: How would we show users the changes between versions of the source files"
Some sort of display of the diff between versions in the source side

[2021-03-24 16:18] birchamp opened #760 "Add TWL resource"
See the spike here: tc-create-app#410

Users should be able to add and remove TW articles from a passage of scripture.

Display the TWL TSV and the associated scripture. Give them all of the same functions as a TN TSV file has.  Displaying the TW article itself is outside of the scope of this issue.

DoD: Users can edit, add, and remove records in a TWL resource.

[2021-03-25 12:59] cckozie opened #764 "The content validator hangs"
v1.1.1-rc.3 build 44-bde198f
Open any tN project and click on the validator icon

![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/47bb11b8-5219-49d4-9245-ec7e27f27f41)

[2021-03-25 14:14] ancientTexts-net commented on #764
Thank you @cckozie

FYI @mandolyte
I see eror `checkTN_TSVText` does not exist

[2021-03-25 16:14] cckozie commented on #236
v1.1.1-rc.3 build 44-bde198f
It is interesting that when scrolling up slowly the bar does not appear, but I think the current implementation is sufficient to pass this issue.

[2021-03-25 16:21] cckozie commented on #717
@birch - I can't find the final decision of the required behavior in this issue, so I want to verify that the Save icon bar should always remain in view in tsv files.

[2021-03-25 16:35] cckozie commented on #742
I am still seeing the same bar heights in v1.1.1-rc.3 build 44-bde198f

![image.png](https://images.zenhubusercontent.com/56e1a9316caf56c9d38d8df5/d5c15ee9-9c28-48d5-856b-d082fcee62c3)

[2021-03-25 16:43] cckozie commented on #719
I am seeing the expected behavior based on the tests documented above.

[2021-03-25 17:37] birchamp commented on #717
Yes that's correct. It's an improvement over the previous behavior even though it wasn't exactly what we wanted.

[2021-03-25 19:34] cckozie commented on #717
Words as expected in v1.1.1-rc.3 build 44-bde198f

[2021-03-26 19:31] birchamp commented on #590
@elsylambert is this still an issue?

[2021-03-29 12:56] elsylambert commented on #236
translationCore Create - v1.1.1-rc.3 build 44-bde198f.
Toolbar shows up while scroll up and gets hidden when scroll down. Works as expected.

[2021-03-29 13:00] elsylambert commented on #717
translationCore Create - v1.1.1-rc.3 build 44-bde198f.
Save toolbar is no longer hidden by the blue top bar and is visible while scroll up/down. Works as expected.

[2021-03-29 13:09] elsylambert commented on #719
Tested the above mentioned tests on the RCL and found to be working as expected.

[2021-03-30 04:41] elsylambert commented on #513
Not seeing this issue in Production translationCore Create - v1.1.0 build 23-603db56
and in Develop  v1.1.1-rc.3 build 44-bde198f

[2021-03-30 04:41] #513 closed

[2021-03-30 11:59] mandolyte commented on #646
@cckozie using `v1.1.1-rc.3 build 44-bde198f` I now have three tabs opened and am able to open new books from the drawer in all three. I noticed that the original comments mentioned that an existing session had been used from the previous day. Is that required in order to reproduce this?

[2021-03-30 12:05] cckozie commented on #646
@mandolyte - No, the old session is what I was using when I first saw the problem, but the process in my Feb 9 comment is the one I found to be repeatable to reproduce the problem.

[2021-03-30 20:17] cckozie commented on #764
The validator works correctly in  v1.1.1-rc.5 build 46-0da716b

[2021-03-31 11:31] mandolyte commented on #646
@cckozie I tried some variations this morning but still cannot reproduce the problem. Perhaps I should watch you reproduce it?

[2021-03-31 12:57] elsylambert commented on #742
Looks good in translationCore Create - v1.1.1-rc.5 build 46-0da716b

[2021-03-31 13:55] birchamp opened #773 "Rebrand to gatewayTranslate"
change branding and internal working name to 'gatewayTranslate'

- [ ] change repo name
- [ ] zenhub board and release names
- [ ] app title
- [ ] change Netlify address
- [ ] calendar events

[2021-03-31 15:11] BincyJ commented on #749
@BincyJ @birchamp release branch ready. To be pushed out on Monday along with release notes and publish to door43

[2021-03-31 15:39] BincyJ commented on #756
Need to explore the and design solution.

[2021-03-31 23:18] cckozie commented on #717
Added Katalon test for this issue to tCC tA Test Block Quotes and Sections

[2021-03-31 23:19] cckozie commented on #742
Add Katalon test for this issue to tCC tN Test Moving Rows

[2021-04-01 13:16] cckozie commented on #646
I've found this sequence to always cause the failure:
1. Close any open tC Create sessions
2. Start a new tC Create session
3. Log in and open a Titus tN project
4. Open a new tab and start a second tC Create session
5. Log in with the same user name as in step 3
6. Open a Revelation project in tN
7. Go back to the first tC Create session and open the drawer
8. Choose the 2Peter project
9. Note th

[2021-04-01 16:02] mandolyte commented on #646
@cckozie at this point, I believe this issue has nothing to do with validation. The code complains that there is an unhandled rejection from the server. The code is 403 "Forbidden". My hypothesis is that the second tab login is causing the first tabs login token to become invalid.

I think I can prove this by clicking the "keep me logged in" toggle. Then in the second tab it will take me straight

[2021-04-05 12:51] mandolyte commented on #662
NOTE: this is used by SectionTranslatable in the markdown-translatable package.

[2021-04-05 15:09] mandolyte commented on #646
@BincyJ @birchamp @cckozie @ancientTexts-net
Met with @richmahn and he says that gitea-react-toolkit currently will check for a token named "tc-create-app" (see image below). And if it finds it will delete it. This means that if you have two logins on two tabs or two browsers or two computers, then the second will overwrite the first. This explains the behavior seen in this issue. _Plus, since del

[2021-04-05 15:37] mandolyte commented on #756
@ancientTexts-net Thought I'd help with this spike by searching for the string `unfoldingword` in our code base. Turns out that I was probably too worried. Here is one that may need to change:

In GRT, `repositories.js`:
[code]

And of course that one place that definitely needs to change in tc-create itself is `state.defaults.js`:
[code]

[2021-04-06 05:44] ancientTexts-net commented on #662
Per deprecation notice at:
https://material-ui.com/api/expansion-panel/

[2021-04-06 18:24] birchamp commented on #521
I'm no longer seeing this @elsylambert. I'm adding a re-test tag.

[2021-04-06 19:44] birchamp commented on #525
@elsylambert I believe that this is fixed. Can you check it?

[2021-04-07 06:24] ancientTexts-net commented on #639
Sample from testing:

[https://app.zenhub.com/files/191973535/5dc19ae7-0c98-4607-9a4f-6cce7dcea384/download](https://app.zenhub.com/files/191973535/5dc19ae7-0c98-4607-9a4f-6cce7dcea384/download)

[2021-04-07 06:55] ancientTexts-net commented on #760
only problem is with tWL name

![image.png](https://images.zenhubusercontent.com/5ec297799c61301f66b0725c/d06f2f2d-47e1-4329-83ca-30564112ff51)

[2021-04-07 12:52] birchamp opened #785 "Release 1.2"
- [x] remove RC from the version number
- [x] create branch for version 1.2
- [x] Ping QA that release branch is ready for testing
- [x] PR from version branch to Master
- [x] Ping QA that release is live
- [x] Final Go ahead for publish from QA
- [x] tag release on Github v1.2
- [x] publish release note
- [x] Announce on forum.door43.org https://forum.door43.org/t/tc-create-1-x-release-notes/661

[2021-04-07 13:45] birchamp commented on #409
This is also waiting for the MD-TSV Converter to add TQ.

[2021-04-07 15:49] birchamp opened #786 "upgrade to the new Content Validator"
Update tCC to handle the calls to the new Validator and confirm TWL compatibility

[2021-04-07 15:53] birchamp opened #787 "Add on open validation for TWL"
When the user opens the TWL do initial validation like TN TSV does currently.

[2021-04-07 16:00] birchamp opened #788 "TSV parser RCL"
The goal of this RCL is to have a standardized parser for our TSVs.

DoD:
---
Once this is integrated into the application TNs should function the same as before.