[2022-04-19 19:34] elsylambert commented on #1207
Looks good in translationCore Create - v1.4.2 build 134-b098d13. Not seeing the Wrong number of tabbed fields error.

[2022-04-19 19:46] elsylambert commented on #1242
Looks good in translationCore Create - v1.4.2 build 134-b098d13.

[2022-04-20 13:19] mandolyte commented on #839
### Reproducing the problem

1. Open a TA document (nice in some ways because it puts a blue border around "blocks")
2. Turn off sections
3. Turn off blocks
4. Copy a few words from the middle of a paragraph on the source/left side
5. Paste into the target/right side in the middle of a paragraph
6. Before:
![image](https://user-images.githubusercontent.com/1289437/164238788-d4e3a6f0-a866-4798-a032

[2022-04-20 13:23] mandolyte commented on #839
The pasted text is pre-pended with a CRLF (Hex 0D and Hex 0A).

This will cause a new block to be created with our current markdown processor.

[2022-04-20 13:31] mandolyte commented on #839
**When does it work properly?**
- Always works correctly in HTML mode
- In markdown mode, only works correctly if shift-control-V is used

**When does it fail?**
Only in markdown mode using Ctrl-V (which includes "formatting" of source)

[2022-04-20 13:48] mandolyte commented on #839
Not a helpful article:
https://support.google.com/docs/thread/95597915/how-do-i-change-the-default-hotkey-ctrl-v-to-paste-plain-text-without-formatting?hl=en

[2022-04-20 14:16] birchamp opened #1249 "Add a way to easily produce smart quotes"
The content team has switched to smart quotes. Unmatched quotes fail in the validator and in tX(? @richmahn). The content team has requested an easier way to enter smart quotes. They have suggested a button, a keystroke, or auto-convert the straight quote.

[2022-04-20 15:28] birchamp opened #1250 "Save application settings"
This epic will capture all of the issues related to saving a user's settings similar to what gatewayEdit does.

Settings should be saved for:
MD vs Preview mode
Columns displayed in a resource type

[2022-04-20 15:30] birchamp commented on #1211
@elsylambert Looks like you saw this back in March, but this is for TN.  We'll wait and retest after #1243 has be tested.

[2022-04-20 15:34] birchamp commented on #1155
@elsylambert can you confirm if the incorrect / ends up in new row?

[2022-04-20 20:12] birchamp opened #1252 "Filters don't display the chapters and verses in order"
Note: TSV7 will negate any work on this.
Investigate MUI Datatable to see if filter drop downs can be sorted

**Steps to reproduce:**
Open Leviticus TN
Click filter
Scroll through the chapters and note that verse 8 is out of order and verse 21 is below 35.
 ![image.png](https://images.zenhubusercontent.com/5cf53901e39e5f33e3e129fa/d8c5fa09-1a97-4e4c-bdbd-1fde9e9462e2)

Can we present the user with

[2022-04-20 20:17] elsylambert commented on #1155
@birchamp , @mandolyte  and I saw this problem happening about 6days ago but I no longer see \ backslash inserted in  a new row or after editing the RC link in an existing row. However, it shows on the ADD and DELETE modal as in the snapshot in the issue description.
Interestingly, the problem is not seen in Production as well now.

[2022-04-20 21:23] mandolyte commented on #1249
Per https://www.lifewire.com/typing-quotes-apostrophes-and-primes-1074104

- Windows: alt+0147 and alt+0184
- Mac: option+[ and option+shift+[
- Or using HTML markup: &#8220; and &#8221;

The Mac way seems as short as anything we could invent.

For Windows Chrome would we consider a hot key extension to do this? There are a number of such available.

[2022-04-20 22:05] mandolyte commented on #1249
More: https://www.groovypost.com/howto/type-special-characters-chromebook-accents-symbols-em-dashes/

[2022-04-20 22:18] mandolyte commented on #1249
One idea might be to leverage the tsv parser package which already does encoding. For example, when saving a file, we could have these two rules:
- if a double quote is preceded by a space, then replace the quote with a left curly quote
- if a double quote is preceded by "not-a-space", then replace the quote with a right curly quote

This would done at encoding (saving) time; there is no need to d

[2022-04-20 22:53] mandolyte commented on #1249
Another idea: attach an onBlur function to all input areas which following the rules in previous posts updates the quotes.

I thought we had tried to do onBlurs as a solution in the past ... perhaps it can't be done with the 3rd party component we are using? Or perhaps we used the built-in pre and post regex stuff? (which might do the job even simpler)

[2022-04-21 14:59] birchamp commented on #1195
@mandolyte test after refactor

[2022-04-21 15:10] birchamp commented on #1249
Ben Wright has an autohotkey script that will do this. It should be added to the editor training.

[2022-04-22 14:55] Joel-C-Johnson commented on #1088
@birchamp I am sorry for the late reply, I didn't get the notification for it.
Yeah what I have done was, when we click on a row(for editing/normal click ) I am saving the row ID and return to that row using the rowID

[2022-04-25 13:25] elsylambert commented on #1241
Found a problem in translationCore Create - v1.4.2 build 139-e045820. When we switch files from the drawer, the autosave data is persisted and copied to the other file.![Screen Shot 2022-04-25 at 9.23.44 AM.png](https://images.zenhubusercontent.com/5d02efb2f425650e637abe10/9ee42bba-a1c2-4452-a542-bde9eef35bbd)
- Open Gen.tsv and make some edits. do not save.
- From the drawer menu, select Exodus.t

[2022-04-25 20:43] elsylambert commented on #1232
Works fine in translationCore Create - v1.4.2 build 142-498b6eb. Expand scripture toggle buttons works as expected.

[2022-04-25 20:46] elsylambert commented on #744
+++++++++++ Test Cases/tCC Test Cases/tCC tN Test Paging Performance on translationCore Create - v1.4.2 build 142-498b6eb running on chrome in tCC Develop PASSED +++++++++++

## Processing Times ##
Timings test on 10 rows.
Paging 10 rows took 1.522 seconds.

Timings test on 25 rows.
Paging 25 rows took 1.488 seconds.

Timings test on 50 rows.
Paging 50 rows took 1.443 seconds.

Timings test on 100

[2022-04-25 20:49] elsylambert commented on #1241
I see a newer build and I tested the issue and found that its resolved in translationCore Create - v1.4.2 build 142-498b6eb

[2022-04-26 13:44] elsylambert commented on #1243
@Joel-C-Johnson @klappy  Testing on translationCore Create - v1.4.2 build 142-498b6eb. After I deleted my user branch on es-419_tn and en_tn, I was able to open Gen.tsv but Not able to open tA or TW. Not working for ru GL, even after deleting the branch(except for tit.tsv).
Worked for the following:![Screen Shot 2022-04-26 at 9.12.37 AM.png](https://images.zenhubusercontent.com/5d02efb2f425650e637

[2022-04-26 13:46] elsylambert commented on #1241
Looks good in translationCore Create - v1.4.2 build 142-498b6eb.

[2022-04-26 19:36] Joel-C-Johnson commented on #1243
The empty source content is solved in this PR- (https://deploy-preview-1257--tc-create-app.netlify.app/)
Works as expected

[2022-04-26 19:50] elsylambert commented on #1243
Issue is resolved in translationCore Create - v1.4.2 build 143-d3d292a.
Now, GL user can create a new file in the user branch. Tested with es-419 and ru GLs and TSVs and MD Resources (tA and tW) works fine as expected.

[2022-04-27 13:47] elsylambert opened #1259 "CV reporting ID on a wrong row number(one less than the actual )"
translationCore Create - v1.4.2 build 143-d3d292a![Screen Shot 2022-04-27 at 9.46.16 AM.png](https://images.zenhubusercontent.com/5d02efb2f425650e637abe10/d151678b-1733-4a73-af7a-af8510b6fac1)
![Screen Shot 2022-04-27 at 9.47.12 AM.png](https://images.zenhubusercontent.com/5d02efb2f425650e637abe10/bef11b75-0e20-4993-b132-7fc5751890be)

[2022-04-27 14:48] birchamp opened #1260 "network health meter"
@klappy and @Joel-C-Johnson were discussing a progressbar that is informative about the server connection.  Klappy has a PoC.

[2022-04-27 20:53] birchamp commented on #1098
@jincypjose @mandolyte is this a better solution to fixing #1153 ?

[2022-04-28 12:02] elsylambert opened #1262 "Content Validator is not reporting errors in the file"
translationCore Create - v1.4.2 build 143-d3d292a. Develop branch.
-  Set the Validation level to All from the drawer menu.
- Run CV on en_tn/ROM.tsv (or any TSV resource),
- Note that: The validator runs and reports that no errors were found. But there are errors in the file in row ID: v5b9, mismatched () characters.
-  In the Occurrence Notes, type in " or ( and save. Run the validator again. No

[2022-04-28 18:00] elsylambert commented on #1155
translationCore Create - v1.4.2 build 145-8501031.
@birchamp Seeing this issue in raw markdown. When TWLink is edited an extra \ is added in the markdown mode. CV also reports the TWLink is not formatted correctly. ![Screen Shot 2022-04-28 at 1.59.39 PM.png](https://images.zenhubusercontent.com/5d02efb2f425650e637abe10/ba606c37-f3e8-4bb9-84aa-f6ae242601c2)

[2022-04-28 18:01] elsylambert commented on #1262
Issue is fixed in translationCore Create - v1.4.2 build 145-8501031. CV is reporting errors in the excel file.

[2022-04-29 14:21] elsylambert opened #1265 "Parallel Scripture viewer is not opening up in RowHeader for OBS-Helps TSVs"
translationCore Create - v1.4.2 build 145-8501031.
Parallel scripture is not loading up for TSV Resources except for tN, tWl and tQ. So basically OBS helps(TSV format),

![Screen Shot 2022-04-29 at 10.19.13 AM.png](https://images.zenhubusercontent.com/5d02efb2f425650e637abe10/97c9f98f-4f63-4c02-86ba-6b095c9058b8)

![Screen Shot 2022-04-29 at 10.19.20 AM.png](https://images.zenhubusercontent.com/5d

[2022-04-29 19:19] Joel-C-Johnson commented on #1156
Production is updated with **v1.4.2**
https://create.translationcore.com/

[2022-04-29 19:22] Joel-C-Johnson commented on #1156
![version](https://user-images.githubusercontent.com/25791348/166052668-8822ee9f-f41c-4c18-acb1-d845750eea79.png)

[2022-04-29 19:24] Joel-C-Johnson commented on #1156
![release](https://user-images.githubusercontent.com/25791348/166054887-d0337124-05df-43b5-9d88-633616a9a8b1.png)

[2022-05-09 12:44] mandolyte commented on #1265
@elsylambert why would you expect scripture references to be shown for OBS resources? AFAIK, there are no scripture references that could be used to facilitate that.

[2022-05-09 12:48] mandolyte commented on #1248
Notes:
- Selected Matthew (works... no endless spinner)
- Switched to Mark (worked as expected)

@birchamp  @elsylambert I think this is fixed now...

[2022-05-09 12:51] #1265 closed

[2022-05-09 12:58] mandolyte opened #1269 "Process Change: more frequent releases"
NOTE: this has been discussed several times and I wanted to sketch out the latest thinking before I forget it.

Highlights:
- Do not pre-assign release numbers to issues
- At end of sprint, review what has actually been merged into the Develop branch
- Create a versioned branch from develop and send to QA
- During collab week, monitor QA Fails, *possibly* work on them (using the versioned branch,

[2022-05-09 13:39] birchamp opened #1270 "SPIKE: Explore a new editor for Markdown"
What would it take to put Klappy's editor into the TSVs?
Note that users have said they don't need editing in preview view.

[2022-05-09 13:42] #1154 closed

[2022-05-09 14:00] birchamp opened #1271 "Upgrade to MUI v5"
Rebuild datatable translatable on v5.

DoD:
---
Should work exactly the same.

[2022-05-09 14:13] birchamp opened #1272 "Break out the reference range logic into a reusable module"
Come up with a common module for parsing the reference ranges in TSV7
Note that OBS "references" are included in [the new spec](https://forum.door43.org/t/parascriptural-tab-separated-value-format-specification-v2/870)

[2022-05-10 18:55] elsylambert commented on #1248
Works fine in Production translationCore Create - v1.4.2 build 145-8501031 as well as in Develop.

[2022-05-10 18:57] #1248 closed

[2022-05-10 18:58] elsylambert commented on #1156
translationCore Create - v1.4.2 build 145-8501031 is live in Production is looks good.

[2022-05-11 16:32] mandolyte commented on #839
Change to markdown-translatable, file `src/components/block-editable/BlockEditable.js`.
From:
[code]

to:
[code]

[2022-05-11 18:21] birchamp commented on #1155
@elsylambert are you still seeing this?

[2022-05-11 18:52] elsylambert commented on #1155
As I mentioned in my previous comment, "\" is visible in markdown mode.![Screen Shot 2022-05-11 at 2.46.30 PM.png](https://images.zenhubusercontent.com/5d02efb2f425650e637abe10/c54db3f7-2503-40eb-9e6b-ae810f35d1f4)
- Open tWL file,
- Make an edit to twl link and save.
- toggle on markdown button and you will note the "\" in the TWLlink.

[2022-05-11 19:26] klappy commented on #1269
After discussing in depth with @birchamp last week during strategy meetings I'm wondering if we can simplify the process this way:

- Do not pre-assign release numbers to issues.
- Each feature/patch bug fix merged into develop increments version via semver (feature minor, bug fix patch).
- When QA is ready for testing use latest develop version based on it's point in history and pause merging of

[2022-05-12 14:24] birchamp opened #1276 "Release 1.4.3"
- [x] bump the version the PRs
- [x] tag the version when merged.

#### Prepare Staging
- [x] PR to remove RC from the version number
  - start in new branch (e.g., `zpp-remove-rc-1.4.3`);
  - edit `package.json` for version (e.g., v1.4.3); commit; publish
  - `git tag` (e.g., v1.4.3);    `git push --tags`
  - create PR from `remove...` branch --> `develop`;  connect this PR to the "RELEASE" issue

[2022-05-12 14:42] birchamp commented on #76
@Joel-C-Johnson test what's been used for language drop-down to see if it will allow for custom text.   Also add the link that of the one you found.

[2022-05-12 14:56] birchamp opened #1277 "SPIKE: Allow editing within the new row dialog"
What tasks will be needed to implement editing within the new row dialog
Will taking this approach increase tech debt rather than working within the edit fields in the row presently?

[2022-05-12 15:02] birchamp commented on #1250
@birchamp create issues for the epic

[2022-05-12 15:17] jincypjose commented on #1276
I think for the changes in RCL's. Some of the steps i have noted from zach
1. yarn publish (it publishes to npm)
2. git tag (for eg: git tag v0.11.14)
3. git push --tags

[2022-05-12 19:08] birchamp opened #1278 "Delay autosave until first save/branch created"
In order to reduce unnecessary branches we want to delay creating the branch until the user make the first save to their changes.  This means that autosave won't be available until the user makes a successful save. That is an acceptable compromise.  Adjustments will need to be made to check that a branch exists and not do an autosave until it does.

DoD:
---
Branch isn't created until saved. Autos

[2022-05-12 22:28] superdav42 commented on #1155
I may need more context but it seems like it is behaving as it should.
`rc://\*/tw/dict/bible/other/water` is the correct markdown for `rc://*/tw/dict/bible/other/water` the \* is escaped so it will be rendered as a literal `*`.
The https://markdown-translatable.netlify.app/ site behaves the same way.

Paste `rc://*/tw/dict/bible/other/water` in one of the fields then toggle off the preview and yo

[2022-05-12 22:54] birchamp commented on #1155
@superdav42 I think it works correctly in the TN resource for the 9 column tsv. So you could check there what it should be. @elsylambert is that correct?

[2022-05-13 11:27] Joel-C-Johnson commented on #76
@birchamp
Yes, we may be able to modify the current language drop-down list and can allow the user to add the custom texts.
here are my findings :
- https://mui.com/material-ui/react-autocomplete/#creatable

also,

I have used this npm module which may help to handle a huge data and creates a drop-down list but it won't allow creating custom texts
- https://www.npmjs.com/package/react-virtualized-

[2022-05-13 11:55] mandolyte commented on #76
@Birch When a GL uses this dropdown, do you want them to see their TA repo content? or uW's?

[2022-05-13 11:56] mandolyte commented on #76
@Birch If users enter custom text, won't that cause validation errors? What sort of text are they putting there? And when they do, how is reflected in the occurrence note itself?

[2022-05-13 13:11] elsylambert commented on #1155
rc://*/tw/dict/bible/other/water

[2022-05-13 13:19] elsylambert commented on #1155
rc://*/tw/dict/bible/other/water

[2022-05-13 15:01] elsylambert commented on #1155
Another problem is that because of the twl links, the articles related to that are not opening in gatewayEdit app.

[2022-05-13 15:03] elsylambert commented on #1155
![BE47BFC5-91A6-45C7-88C3-D96ED345311D](https://user-images.githubusercontent.com/51806180/168312123-258c607f-4307-48ed-a126-80be387e868a.jpeg)

[2022-05-13 18:08] birchamp commented on #1155
So I must have remembered wrong because I thought this was a TWL only issue. Did this ever work in previous versions?

[2022-05-13 18:11] elsylambert commented on #1155
Not sure about that. I think it got introduced when rc link started to contain * in place of language code like en.

[2022-05-13 19:55] birchamp commented on #1155
Oh yeah. I forgot about the language code.  Good thing I have you to remember these things!!

[2022-05-16 15:56] mandolyte commented on #313
@superdav42 The issue should contain the steps to reproduce. But this is a very old issue. I'm not sure that it can happen anymore. We now only show the languages that are in use for the previously selected organization.

Thus this issue may be moot.

@birchamp @elsylambert

[2022-05-17 12:48] elsylambert commented on #839
Looks good in translationCore Create - v1.4.3 build 147-d089b2c.

[2022-05-17 13:03] elsylambert commented on #1195
Works for tN and tWl.
Does not work for tQ.

[2022-05-17 19:27] Joel-C-Johnson commented on #1276
completed the steps (https://github.com/unfoldingWord/tc-create-app/issues/1276#issue-1234065867) and released the v1.4.3. Moving this issue to QA app

[2022-05-19 11:46] #1128 closed

[2022-05-19 11:46] #1155 closed

[2022-05-23 13:43] elsylambert opened #1287 "undefined error shown on parallel scripture viewer when a invalid resource link is entered in Manage versions"
translationCore Create - v1.4.3 build 147-d089b2c

![Screen Shot 2022-05-23 at 9.34.20 AM.png](https://images.zenhubusercontent.com/5d02efb2f425650e637abe10/6b4c0955-472d-43b3-982d-82893219e4ca)

Steps:
- Open tN tsv. Open any file.
- Go to the row, click on Manage Versions button.
- Click on the Add Resources button. Note that any empty Resource with title Error:undefined is added in the Scriptur

[2022-05-26 14:33] deferredreward opened #1288 "id field not be a word"
This is a minor thing that is probably more work than it seems. I recently was looking for an id of "well." Well, every time that was used in a note it also came up as a search result. It would be handy to filter out words. Perhaps forcing an id to have a digit would easily accomplish this.

[2022-05-27 17:10] birchamp opened #1290 "Release 1.4.4"
- [x] bump the version the PRs
- [x] tag the version when merged.

#### Prepare Staging
- [x] PR to remove RC from the version number
  - start in new branch (e.g., `zpp-remove-rc-1.4.4`);
  - edit `package.json` for version (e.g., v1.4.4); commit; publish
  - `git tag` (e.g., v1.4.4);    `git push --tags`
  - create PR from `remove...` branch --> `develop`;  connect this PR to the "RELEASE" issue

[2022-05-27 17:17] birchamp commented on #76
@mandolyte It looks like the filter is listing the Target's content, so let's use that.

The user should be allowed to add custom text because they may not have used that specific figure of speech in the file yet.

[2022-05-27 18:03] birchamp commented on #1183
This highlights correctly in tC so it should be fixed in tC Create.

[2022-05-27 18:04] birchamp commented on #1252
The number are not sorted in numerical order.

[2022-05-27 18:08] birchamp commented on #871
@elsylambert can you retest this now that Preview mode editing has been turned off?

[2022-05-27 18:18] birchamp commented on #718
All the verses included in the reference range should be displayed as. a single check.
So 1:21-2:3, 22 means the scripture pane would display
v. 1:21
v 2:1
v 2:2
v 2:3
v 2:22

[2022-05-27 18:22] birchamp opened #1291 "update USFM.js"
Per @PhotoNomad0 the USFM.js needs to be updated in order to fix the Hebrew char issue
https://github.com/unfoldingWord/translationCore/issues/7286#issuecomment-1134684677

[2022-05-31 13:28] BincyJ commented on #76
@mandolyte @superdav42 can you work on this issue.

[2022-05-31 13:33] BincyJ commented on #1290
@Joel-C-Johnson , @jincypjose

[2022-05-31 13:39] BincyJ commented on #1277
@superdav42

[2022-05-31 13:46] BincyJ commented on #1122
@birchamp is this still relevant now that we have autosave working. Should we remove it ?

[2022-05-31 16:46] deferredreward opened #1292 "Cut is broken"
Can no longer cut (1.4.3). Text disappears but is not in the clipboard (Windows). Perhaps related to plain text paste fix?

[2022-06-02 14:26] BincyJ opened #1293 "Spike: Explore RCLs in tCCreate that needs to be rebuilt"
Addition of new features a challenge with current state of the RCLS. Need a rebuild at this point.
Impacted Components:

- Datatable translatable - design needed (critical priority if new features to be added to tCCreate)
- Markdown translatable (common to gatewayEdit) - need to explore if a rebuild or refactor
- explore alternative to styleguidist
- Styleguidist and React18 (high priority)
- Next

[2022-06-02 14:42] elsylambert opened #1294 "Reference field not populating on Add-Row modal for some TSVs"
![image.png](https://images.zenhubusercontent.com/5d02efb2f425650e637abe10/7c740bee-14cf-4cab-aa1c-b60e07fe887b)
Note that the reference is empty. But when this is done on SQ, the reference is populated.
Reference field only populates for tWl,SQ, not for tQ, SN and OBS-sn, OBS-tq and obs-sq.

[2022-06-02 14:52] BincyJ commented on #1293
#127

[2022-06-02 19:26] elsylambert opened #1296 "Column name shows as Response1 for OBS-tQ"
![Screen Shot 2022-06-02 at 3.24.17 PM.png](https://images.zenhubusercontent.com/5d02efb2f425650e637abe10/605d969b-07d7-47bc-8522-8d93a895b7c7)

[2022-06-03 11:54] #1296 closed

[2022-06-03 12:37] mandolyte opened #1297 "Add support for obs-twl"
uW English Repo: https://git.door43.org/unfoldingWord/en_obs-twl

Is same format as Scripture TWL.

**Note**:
See line 27 in `src/core/state.defaults`:
[code]

Quite possibly, the only thing needed to do is to add this line after that one:
[code]

**Testing**
In addition to normal editing, be sure to test on open validation by manually corrupting the file in your branch.

[2022-06-03 17:34] elsylambert commented on #1127
Looks good in translationCore Create - v1.4.4 build 153-d1b4fc1.

[2022-06-03 23:58] BincyJ commented on #1290
@Joel-C-Johnson , @jincypjose , @elsylambert ,

here are the release notes :

What's New? 
We are pleased to announce that tC Create 1.4.4 is now available online at https://create.translationcore.com.

-Editing in the preview mode created many formatting issues in the text. We have disabled editing within preview mode. Users can now only view text in preview mode while they can continue to edit i

[2022-06-06 02:44] elsylambert commented on #1195
Looks good in translationCore Create - v1.4.4 build 153-d1b4fc1 on develop branch.

[2022-06-07 04:39] superdav42 commented on #1277
With [the change ](https://github.com/unfoldingWord/datatable-translatable/pull/99/files#diff-e9f6ca41435197af0d63e9b5e82c88a422ddea9e23b8f972f771f7903532be91R79)to add the autoloader component being about 20 lines of code, I would say the tech debt is trivial and not a concern. Making the other fields editable will be straightforward.

[2022-06-07 04:39] #1277 closed

[2022-06-07 12:06] birchamp commented on #1292
@elsylambert can you confirm?

[2022-06-07 12:19] elsylambert commented on #1292
@birchamp Verified, as stated in the issue description Text is removed on CTRL + X but is not on the clipboard , so the Paste does not work. Both in MAC and windows.

[2022-06-07 12:23] elsylambert commented on #1290
- On-Open Validation check is available  on all TSV type resources. ^^ Release Notes

[2022-06-07 12:56] mandolyte commented on #888
**Notes:**
The user branch is created within the gitea-react-toolkit package (hereafter, GRT). In particular, the acquisition is attempted via the "ensure" functions. This area in GRT is written in typescript.

[code]

This function goes like this:
- first attempts to just read it as-if it is already there in the user branch.
- on failure, the "catch" will attempt to read it from the target repo.

[2022-06-07 13:08] mandolyte commented on #888
So in theory, we should:
- avoid "updating" the branch with content when the content is found in the target master branch and, instead, just return the content object.
- if the content has never been created before (ie, not in the target master branch), we should just return a content object containing the source content.

Lastly, we should tweak the createContent function so it can be run by the

[2022-06-07 14:16] BincyJ commented on #1292
@mandolyte

[2022-06-07 19:02] Joel-C-Johnson commented on #1290
Hi @BincyJ @elsylambert @birchamp
 I have updated the v1.4.4 in production -   https://create.translationcore.com/
Here is the release note  - https://github.com/unfoldingWord/tc-create-app/releases/tag/v1.4.4

[2022-06-08 14:56] #1290 closed

[2022-06-08 14:59] BincyJ opened #1302 "Release 1.5.0"
- [x] bump the version the PRs
- [x] tag the version when merged.

#### Prepare Staging
- [x] PR to remove RC from the version number
  - start in new branch (e.g., `zpp-remove-rc-1.5.0`);
  - edit `package.json` for version (e.g., v1.5.0); commit; publish
  - `git tag` (e.g., v1.5.0);    `git push --tags`
  - create PR from `remove...` branch --> `develop`;  connect this PR to the "RELEASE" issue

[2022-06-08 15:00] BincyJ commented on #1302
@mandolyte @Joel-C-Johnson @elsylambert , fyi

[2022-06-09 11:49] mandolyte commented on #888
I have a complete trace of the save functionality in:
https://github.com/mandolyte/uw-journal/blob/main/apps/tc-create-app/Save%20Function%20Trace.md

I'll paste a snapshot in next comment.

[2022-06-09 11:49] mandolyte commented on #888
# Save function trace

## tc-create-app
Note: this is post-refactor. All the below are in tc-create unless otherwise noted.

*Starting with Translatable.js*

These lines:
[code]
For both markdown and tsv files, the function `saveTranslation` is passed.

*Note that auto save is there for TSV but not for markdown!*

The `saveTranslation` function comes from a hook:
[code]

From the hook we find (inc

[2022-06-09 21:01] elsylambert commented on #76
Looks good in translationCore Create - v1.5.0 build 154-e836e43. Able to select support Reference and type in custom text as well.

[2022-06-09 21:04] elsylambert opened #1307 "Reference drop-down in TWL"
Issue
---
Currently when a user changes the chapter, verse, or reference (tsv7) field, the source side turns empty, but the target side retains the ID of the original record. I believe that we switched IDs to be unique per file a while back.  Records should be aligned on ID only, not on verse reference and ID.  This way if a GL needs to change what verse a note is in they will see the English sour

[2022-06-09 21:15] elsylambert opened #1308 "Auto Save does not save a newly added row"
- Add a new row.
- close the file without saving.
- open the file and note that the new row was not saved.

[2022-06-09 21:28] elsylambert opened #1309 "Position of the newly added row is not sorted"
If a row is added out of the order(using the drop-down selection ), the new rows stays in the next row position regardless of the Bible reference.

- Go to row 1:1 in en_tn any book.
- Add a new row by Clicking on + button.
-From the drop-down make selection for a different chapter and verse e.g 2:5
- Add notes and click on Add.
- Note that the new row is added after 1:1.

[2022-06-10 13:40] elsylambert commented on #1166
Works as expected in translationCore Create - v1.5.0 build 154-e836e43. Able to add a row with editable fields. The issue for sort order of the new rows is written separately in #1309.

[2022-06-10 13:42] #635 closed

[2022-06-10 13:42] elsylambert commented on #635
This works fine. QA is able to test with Production data on Staging server.

[2022-06-10 13:43] #914 closed

[2022-06-10 13:45] #525 closed

[2022-06-13 12:12] mandolyte commented on #1307
@birchamp @klappy @elsylambert
This demonstration sort of implies that we should not permit updates to the "key" files in the TSV files. Same things happens in TN:
![image](https://user-images.githubusercontent.com/1289437/173350482-10858439-0c33-443c-a974-117ddeae1be8.png)

Without pouring over the code, I seem to remember that the "key" is BCV+ID (for TN); for TWL, I suppose that would be REF+ID

[2022-06-13 12:22] mandolyte commented on #1307
Interesting... it does **NOT** create a new row. But is placed where it was added, retaining the values that were unchanged on the target side.
![image](https://user-images.githubusercontent.com/1289437/173352588-84d72dcd-8deb-4045-9888-809a651c2f59.png)

[2022-06-13 12:25] mandolyte commented on #1307
Then if I revert it back, it re-aligns perfectly with the source side again:
![image](https://user-images.githubusercontent.com/1289437/173353067-4351b059-d732-4359-bca0-c22b3b1b613d.png)

[2022-06-13 12:28] mandolyte commented on #1307
But, of course, empty rows in the target are not written out. So no harm done.

[2022-06-14 18:35] birchamp commented on #1307
@elsylambert This does need to be fixed in future for GLs, but it isn't necessary for us to fix before the 1.5 release.  I'm moving this issue to the team backlog

[2022-06-14 18:45] elsylambert opened #1311 "Scrolling issue with the new Reference drop-down"
translationCore Create - v1.5.0 build 154-e836e43.

When the Support Reference is added in a row using the drop-down and then scrolled down the page, the drop-down fields (support reference, chapter /verse) overlap with the scripture pane. See the screen capture:https://images.zenhubusercontent.com/191973535/17cbd84b-1b0b-484c-b36b-3feeafeaedba/screen_recording_2022_06_14_at_2_38_20_pm.mov

[2022-06-17 14:30] birchamp opened #1312 "Alphabetize dropdowns in TSVs"
The drop down should be alphabetized.

[2022-06-17 15:07] birchamp commented on #1302
Release notes @elsylambert :

## What's New? 
We are pleased to announce that tC Create 1.5 is now available online at https://create.translationcore.com/.

## Features and Enhancements:
- The repeated fields for Chapter, Verse, and Support Reference now have dropdowns with the ability to look up the previously used data. Users can enter custom text as well. [#76](https://github.com/unfoldingWord/

[2022-06-17 15:08] birchamp opened #1313 "Release 1.6"
- [ ] bump the version the PRs
- [ ] tag the version when merged.

#### Prepare Staging
- [ ] PR to remove RC from the version number
  - start in new branch (e.g., `zpp-remove-rc-1.6.0`);
  - edit `package.json` for version (e.g., v1.6.0); commit; publish
  - `git tag` (e.g., v1.6.0);    `git push --tags`
  - create PR from `remove...` branch --> `develop`;  connect this PR to the "RELEASE" issue

[2022-06-21 14:06] superdav42 commented on #1311
It's just fixed on the RCL. I'll release it and update tc-create-app to use it.

[2022-06-21 14:08] elsylambert commented on #1311
Thanks @superdav42

[2022-06-22 14:57] elsylambert commented on #1311
Looks good in translationCore Create - v1.5.0 build 156-5e3e8a9. Scrolling issue is resolved.

[2022-06-22 15:27] elsylambert commented on #1312
Looks good in translationCore Create - v1.5.0 build 156-5e3e8a9.

[2022-06-24 13:04] elsylambert opened #1320 "Adding a row crashes TCC when pre-populated Support reference is cleared"
When you add a row, if you clear the reference box in the pop-up and then click "add," tCC crashes.
 Steps:
- In a tN file, go to a row that has a support reference.
- Click on Add row button, In the pop up, note that the same support reference  is pre-populated(as expected ).
- Click on the support Reference drop down and clear the field.
- Click on Add row. The App crashes.
![Screen Shot 2022-06

[2022-06-24 16:40] jincypjose opened #1321 "check for all the organization if the content is getting loaded"

[2022-06-24 16:41] jincypjose opened #1322 "check all organization"

[2022-06-24 16:41] #1322 closed

[2022-06-24 18:19] elsylambert opened #1323 "Autocomplete is not working properly when typed in Support Reference field"
translationCore Create - v1.5.0 build 156-5e3e8a9.
There is a problem in autocomplete of Support Reference when its typed-in. When you type-in in an empty Support Reference, it doesn’t show the results in the drop-down, whereas if you remove/delete an existing support reference and type-in another, it works.![Large GIF (1428x628).gif](https://images.zenhubusercontent.com/5d02efb2f425650e637abe10/d

[2022-06-24 20:40] #1311 closed

[2022-06-24 20:42] #1166 closed

[2022-06-24 20:42] #1127 closed

[2022-06-29 18:08] elsylambert commented on #1323
Issue is resolved in translationCore Create - v1.6.0-rc.1 build 157-491c7f1. Autocomplete for Support Reference works fine.

[2022-06-29 18:11] elsylambert commented on #1320
Works fine in translationCore Create - v1.6.0-rc.1 build 157-491c7f1. App no longer crashes when the support reference is removed while adding the new row.

[2022-06-30 14:53] birchamp commented on #1311
if dropdown is dropped then scrolling still shows above the scripture @superdav42

[2022-06-30 14:55] birchamp opened #1326 "Dropped sticky header shows above scripture when scrolled."
Need evaluation on effort.

Dropped area should hide behind scripture

[2022-06-30 16:50] superdav42 commented on #1326
So the problem is the header with the verse has positon:sticky; The autocomplete dropdown has position:absolute; There is no easy way to make the absolute element appear beneath the sticky element. If I was to actual fix it we'd need to fundamentally change how the header is positioned and use a scroll event to keep it positioned it the correct place. The result would put it above the dropdown but

[2022-06-30 18:43] birchamp opened #1327 "The dropdown should be closed if the user scrolls."
Currently if the dropdown for support reference (and I assume other fields) will scroll over the scripture pane. When the user scrolls the dropdown should be closed.

[2022-07-09 16:03] superdav42 commented on #1066
This will require changes in gitea-react-toolkit and tc-create-app. The method added in https://github.com/unfoldingWord/gitea-react-toolkit/pull/140 will let us see the time the branch was last updated. Although showing the amount of commits and line changes between to branches might be more informative there does not seem to be a gitea api endpoint to easily fetch this information so I suggest w

[2022-07-12 13:38] mandolyte commented on #801
Production 1.5.1 shows alphabetical order:
![image](https://user-images.githubusercontent.com/1289437/178503402-6604958c-d6a3-4559-97cc-614d218548cd.png)

Has this been done?
@birchamp

[2022-07-12 13:54] jincypjose commented on #801
yes this issue has been done.

[2022-07-13 12:38] elsylambert commented on #801
Works fine in translationCore Create - v1.5.1 build 158-a763788.

[2022-07-13 12:38] #801 closed

[2022-07-13 17:51] superdav42 commented on #1066
This is not actually ready for release just the gitea portion has been [merged](https://github.com/unfoldingWord/gitea-react-toolkit/pull/140#event-6975839714) but tc-create-app will need to actually call the new method introduced there and show a notice. Someone else could pick this up if they want.

[2022-07-13 20:29] #1112 closed

[2022-07-13 20:29] #1224 closed

[2022-07-13 20:29] #1233 closed

[2022-07-13 20:29] #1242 closed

[2022-07-13 20:29] #1232 closed

[2022-07-13 20:30] #1211 closed

[2022-07-13 20:30] #1199 closed

[2022-07-13 20:30] #1200 closed

[2022-07-13 20:30] #1201 closed

[2022-07-13 20:30] #1202 closed

[2022-07-13 20:30] #1204 closed

[2022-07-13 20:30] #1207 closed

[2022-07-13 20:30] #1206 closed

[2022-07-13 20:31] #575 closed

[2022-07-13 20:31] #235 closed

[2022-07-13 20:31] #707 closed

[2022-07-13 20:31] #1225 closed

[2022-07-13 20:31] #1226 closed, assigned to jincypjose

[2022-07-13 20:31] #1241 closed

[2022-07-13 20:31] #1243 closed

[2022-07-13 20:31] #1262 closed

[2022-07-13 20:31] #918 closed

[2022-07-13 20:32] #661 closed

[2022-07-13 20:32] #809 closed

[2022-07-13 20:32] #1052 closed

[2022-07-13 20:32] #409 closed

[2022-07-13 20:32] #927 closed

[2022-07-13 20:32] #1030 closed

[2022-07-13 20:32] #953 closed

[2022-07-13 20:32] #788 closed

[2022-07-13 20:32] #1008 closed

[2022-07-13 20:32] #350 closed

[2022-07-13 20:32] #1010 closed

[2022-07-13 20:32] #997 closed, assigned to jincypjose

[2022-07-13 20:32] #940 closed

[2022-07-13 20:32] #919 closed

[2022-07-13 20:32] #921 closed

[2022-07-13 20:32] #1118 closed

[2022-07-13 20:33] #1161 closed

[2022-07-13 20:33] #1176 closed

[2022-07-13 20:33] #1018 closed

[2022-07-13 20:33] #1047 closed

[2022-07-13 20:33] #1074 closed

[2022-07-13 20:33] #957 closed

[2022-07-13 20:33] #868 closed

[2022-07-13 20:33] #994 closed

[2022-07-13 20:33] #898 closed

[2022-07-13 20:33] #1131 closed

[2022-07-13 20:34] #694 closed

[2022-07-13 20:34] #897 closed

[2022-07-13 20:34] #1302 closed

[2022-07-13 20:34] #1276 closed

[2022-07-13 20:34] #1156 closed

[2022-07-14 12:02] mandolyte opened #1335 "Remove console log output and fix dependency warning"

[2022-07-18 14:36] #1323 closed

[2022-07-18 14:36] superdav42 commented on #1320
Released

[2022-07-19 04:45] elsylambert commented on #888
translationCore Create - v1.6.0 build 164-985e4f7. Works for Editor mode and partially for translate mode. TC does not create user branch until Save, but in one case it does as described below:
https://qa.door43.org/translate_test/ru_tn/branches- Fails for this Repo
org- translate_test, lang- ru, resource- tn
With the above selections, branch is created on opening the file.

[2022-07-19 22:44] superdav42 commented on #888
Fix to change the behavior so files that do not exist in master will still not create a user branch until saved. https://github.com/unfoldingWord/gitea-react-toolkit/pull/141

Once this is merged we'll need to publish the gitea-react-toolkit then update tc-create-app then we can test this again

[2022-07-20 15:37] Joel-C-Johnson commented on #1272
The new library is here
- https://github.com/unfoldingWord/bible-reference-range

[2022-07-22 17:59] elsylambert opened #1343 "App crash on opening en_tN_2KI book(TN-2Kings)"
translationCore Create - v1.6.0 build 158-a763788.

- Go to https://develop--tc-create-app.netlify.app/ and login.
- select org- unfoldingword, Resource- tN, lang- en
- Open 2Kings. Note that the app crashes.
Happens in Staging server too.
![Screen Shot 2022-07-22 at 1.50.07 PM.png](https://images.zenhubusercontent.com/5d02efb2f425650e637abe10/a35387ea-9fa9-49e4-a3b4-1f54ae821882)

[2022-07-26 02:34] elsylambert commented on #888
Works as expected in translationCore Create - v1.6.0 build 159-84e2b7a.

[2022-07-26 02:36] elsylambert commented on #1343
Not seeing this issue in translationCore Create - v1.6.0 build 159-84e2b7a. The On-open validator reports the errors correctly.

[2022-07-27 14:57] elsylambert opened #1345 "Use Camelcase for the DCS Repo's links."
"unfoldingword" is hardcoded in the links instead of camelcase.
https://github.com/unfoldingWord/tc-create-app/blob/1af0b92fd815f5f8f97c86e07eb1070b3aa0083e/src/components/files-header/SourceChip.js#L45

[2022-07-27 19:33] BincyJ opened #1346 "Release v1.6.0"
#### Prepare Staging
- [x] PR to remove RC from the version number
  - start in new branch (e.g., `zpp-remove-rc-1.6.0`);
  - edit `package.json` for version (e.g., v1.6.0); commit; publish
  - `git tag` (e.g., v1.6.0);    `git push --tags`
  - create PR from `remove...` branch --> `develop`;  connect this PR to the "RELEASE" issue
  - merge this PR (even if you merge it yourself, please use PR an

[2022-07-27 19:34] BincyJ commented on #1346
@birchamp , @Joel-C-Johnson , @elsylambert fyi

[2022-07-27 19:35] birchamp commented on #1278
@superdav42 is this basically a dup of 1330 now?

[2022-07-27 19:39] birchamp commented on #1278
OH! I just noticed the 'Autosave' piece of this.  So has this been implemented?

[2022-07-27 20:18] superdav42 commented on #1278
Yes

[2022-07-28 13:16] BincyJ commented on #1346
## What's New?
We are pleased to announce that tC Create 1.6 is now available online at https://create.translationcore.com/.
## New Features:
- User branches used to be created immediately when a user opened a file. Now branches in DCS will not be created until a user saves their work. [1320](https://github.com/unfoldingWord/tc-create-app/issues/1320)

[2022-07-28 13:24] elsylambert commented on #1278
This works fine in translationCore Create - v1.6.0 build 159-84e2b7a.

[2022-07-28 14:01] birchamp commented on #1346
@elsylambert @Joel-C-Johnson Here's the release note:
## What's New?

We are pleased to announce that tC Create 1.6 is now available online at https://create.translationcore.com/.

## New Features:

- User branches used to be created immediately when a user opened a file. Now branches in DCS will not be created until a user saves their work. [1320](https://github.com/unfoldingWord/tc-create-app/is

[2022-07-28 14:03] elsylambert commented on #1346
@birchamp  I edited the one Bincy posted ^^

[2022-08-01 13:08] #1335 closed

[2022-08-01 13:17] #1146 closed

[2022-08-01 13:19] #1272 closed

[2022-08-02 10:38] PhotoNomad0 commented on #718
In searching for a common solution, I found that for rendering:
- TCC uses _scripture-resource-rcl_ ParallelScripture => ScriptureTable => Row => TableRow => TableCell => Verse => VerseObjects
- GWE uses single-scripture-rcl ScriptureCard => ScripturePane => _scripture-resource-rcl_ => VerseObjects

so the overlap is in VerseObjects.

Also for highlighting the words, both apps use SelectionsContex

[2022-08-02 10:47] PhotoNomad0 commented on #718
Also the Reference Range Library is implemented here: https://github.com/unfoldingWord/tc-create-app/issues/1272

[2022-08-03 12:26] birchamp opened #1354 "Bug: blank OccurenceNote and OrigQuote fields insert a space"
The content team has found a bug in the latest tCC release. When creating a new note, the new version includes a space in the empty OccurrenceNote and OrigQuote boxes. Unless the editor happens to catch and delete or overwrite this invisible space, it remains and causes validation errors and invalid snippets.

DoD:
---
Blank OccurrenceNote and OrigQuote fields are truly blank.

[2022-08-04 04:36] superdav42 commented on #1354
I tried and can't reproduce this problem. A nbsp is added when editing a blank piece of content bit it is stripped out if it is all that exists when saving. Probably there's a case when it's not stripped but I can't get it to happen. Can you provide more detailed instructions to reproduce the issue?

[2022-08-04 12:33] mandolyte commented on #1354
@superdav42 did you also check for u200B? As I recall the "zero width space" was preferred for solving the issue with rendering empty components.

Note: we inserted that to solve an issue with a text component not rendering properly when there was no content. It would be nice if that was no longer a problem, since this solution is clearly work-around and bit of a kludge.

In theory, the character

[2022-08-04 12:50] elsylambert commented on #1354
"Unexpected non-break space (u00A0) character"
To replicate:
- Open tN and a new row with no data in Occurrence Notes. Add some text and save the file
- Run Content validator from the header menu. Note that the "Unexpected non-break space (u00A0) character" shows for the newly added row.

[2022-08-04 13:29] elsylambert commented on #1089
Works as expected in translationCore Create - v1.6.0 build 160-94d5496. App returns to the last clicked row on closing the filter.

[2022-08-04 13:29] elsylambert commented on #1088
Works as expected in translationCore Create - v1.6.0 build 160-94d5496. App returns to the last clicked row on closing search.

[2022-08-04 13:58] birchamp opened #1355 "SPIKE: Determine if replacing <br> with \\n is a problem"
https://unfoldingword.zulipchat.com/#narrow/stream/207526-Tools---UR/topic/tC.20Create.201.2E6/near/291863231 discusses confusion about why tC Create is replacing <br> with \\n and if that is a problem or not.  We need to determine:
- Does either option matter to translationCore?
- Does this only apply to the TSV7 spec and not TSV9?

[2022-08-04 14:55] birchamp commented on #1355
Per @PhotoNomad0 tC 3.3.0 will handle the \\n in the TSV9 TNs.

[2022-08-04 14:55] #1355 closed

[2022-08-04 15:11] birchamp commented on #718
Options:
- modifying VerseObjects and scripture-resource-rcl is one option.
- replace the parallel scripture with a table that uses single scripture card from gE, and add reference ranges to it.
- anything else you come up with.

[2022-08-10 23:12] superdav42 commented on #718
I just investigated the feasibility of this:

I made of [PoC](https://github.com/unfoldingWord/tc-create-app/compare/feature-718-scripture-card-poc#diff-ecd831b73f2e64249ab9d89da64edff39a2f45f7db17dde69ab1c6821aa8e2ffR79-R115) of doing this.
Here's how it looks:
![image](https://user-images.githubusercontent.com/1534605/184037927-78d8e9ea-1869-477c-b064-1ca63fb700da.png)

Code actually was rather

[2022-08-12 15:12] larsgson commented on #718
I have created a custom hook "**useBcvQuery**" in the RCL component scripture-resources-rcl. This hook retrieves multiple verses' resources from DCS through a structured query.

The query structure makes it easy to retrieve information from any multiple verses and to specify any expected format _(currently the implementation is limited to a single book only and only "verseObjects" format, but if n

[2022-08-12 15:18] larsgson commented on #718
I have decided to not yet create any PR, nor publish any "alpha" to NPM, since @superdav42 is still working on the same issue and in this very RCL.
I will now start to adapt the code in ScripturePane and ScriptureCard in single-scripture-rcl as a demo of how to use this hook for having verse ranges there.

[2022-08-17 23:03] birchamp opened #1363 "Removing default scripture doesn't remove it for all rows"
When the user clicks the scripture column button, they can uncheck the default scripture.  Currently, this only removes that scripture for the current row. It should remove it for all rows. That is how additional, custom scriptures work already.  When they are unchecked It

[2022-08-18 14:59] birchamp opened #1364 "\qs tagged words in USFM are not shown in the scripture pane"
Issue:
---
A number of verses in Psalms in the ULT end with 'selah', but that word is not displayed in tC Create.  The word is set off with the \qs ... \qs* marker.

DoD:
---
Verses with 'selah' within \qs should display the word and the highlight should work as well.

Details
---
In Psalm 3:2 for instance the ULT has:
[code]
This line doesn't display in tC Create but it is shown in tC.

[2022-08-22 13:53] birchamp opened #1366 "Reference ranges show the text in the scripture viewer"
When a reference range in TSV7 refers to multiple verses it needs to display the text of all of those verses.  Notes with reference ranges should function as normal - editing the range to be a single verse reference, editing a single reference to be a range, creating a new note with a reference range, and highlighting.

A spike was done on this #718

DoD:
---
If there is a reference range in the r

[2022-08-22 13:54] #718 closed

[2022-08-25 12:28] mandolyte commented on #1151
In markdown-translatable within `/src/components/block-editable/BlockEditable.js`:
[code]

[2022-08-25 12:41] mandolyte commented on #1151
In scripture-resources-rcl...

in `/src/components/verse-objects/AlignedWordObjects.js`:
[code]

in `/src/components/verses/Verses.js`:
[code]

in `/src/core/language-detection.js`:
[code]

[2022-08-25 14:46] birchamp opened #1367 "Autosave popup is opening unnecessarily"

[2022-08-26 13:10] elsylambert commented on #1066
@jincypjose translationCore Create - v1.6.0 build 161-1f4e570 I do not see the pop-up when I open the file, for my 4 week old branch for en_tq for GEN file. Also checked for en_ta for my 2 month old branch. Can you please provide more information on how to test it? or which Repo did you used to test this one?

[2022-08-26 13:11] elsylambert commented on #1345
Looks good in translationCore Create - v1.6.0 build 161-1f4e570.

[2022-08-26 13:16] elsylambert commented on #1354
Not seeing this issue in translationCore Create - v1.6.0 build 161-1f4e570.

[2022-08-31 13:21] elsylambert commented on #1151
@mandolyte I know that this issue is in Progress, but I wanted to point out that I see larger Hebrew fonts in translationCore Create - v1.6.0 build 164-06992b7, but it looks like it owerflows into ULT text.
![Screen Shot 2022-08-31 at 9.18.33 AM.png](https://images.zenhubusercontent.com/5d02efb2f425650e637abe10/26aae073-71a3-49b2-91fc-0fe8e5d5fe90)

[2022-08-31 13:26] elsylambert commented on #1066
translationCore Create - v1.6.0 build 164-06992b7.
Seeing a warning message when user branch is older than 2 weeks.
![Screen Shot 2022-08-31 at 9.24.04 AM.png](https://images.zenhubusercontent.com/5d02efb2f425650e637abe10/e5f92333-47d4-4f1c-afa1-b91bb1e19b9d)
Note: It does not stop user from continuing the work on the older branch, but does warns as per the DOD.

[2022-08-31 13:30] elsylambert commented on #1364
translationCore Create - v1.6.0 build 164-06992b7. Looks good.
![Screen Shot 2022-08-31 at 9.29.59 AM.png](https://images.zenhubusercontent.com/5d02efb2f425650e637abe10/b4929c10-df0c-4460-bde5-c6056e21aced)

[2022-08-31 19:46] mandolyte commented on #1151
Based on the image, I think this is the nature of juxtaposing a rtl
language next to ltr language

On Wed, Aug 31, 2022, 9:21 AM elsylambert ***@***.***> wrote:

[2022-09-01 17:42] elsylambert commented on #1367
![image.png](https://images.zenhubusercontent.com/5d02efb2f425650e637abe10/7133c6fd-0685-45dc-ae05-a69bb17e0263)
It says that the Server file is newer, which is strange cause I did not make any edits on DCS and my local file was newer at all times when I was testing.
Note that the autosave was saved at 11:26 AM and I got this message at 11:32 am
Is it possible that tCcreate is retrieving  an old a

[2022-09-01 17:45] elsylambert commented on #1367
Another incident of autosave popup happened when we were testing something else on Joel's user branch, en_tn, 3John file. We were doing some edits and this pop up showed up. Joel selected the option to Keep Autosave file(to save the work that we were doing), but instead tCCreate overwrote an old autosaved file so we lost the edits.
![Joel_autosave.png](https://images.zenhubusercontent.com/5d02efb2

[2022-09-07 17:56] birchamp opened #1372 "TN templates integration"
Users want to be able to create notes and overwrite notes from a preset list of note templates.  These templates will allow the user to create notes much faster. They will function as 'boilerplate' text for the notes that the team is writing. Templates will be associated with a particular figure of speech.

DoD
---
Users can fill in a new or existing record with template text.

Details
---
A TSV f

[2022-09-07 18:04] birchamp opened #1373 "Spike: Search and Replace"
Issue:
---
Editors want to be able to search and replace words in a TSV file so they can make bulk changes.

DoD:
---
Users can search and replace words in a TSV file

Details
---
For an opened tsv file, After clicking search the user should be able to click some sort of advanced button to open up a search and replace dialog. Users should be able to skip occurrences that they don't want to replace

[2022-09-08 15:46] superdav42 commented on #1367
I figured out how to reproduce this problem reliably.

* Use latest develop branch
* Delete your user branch from DCS. I was using TN so I went here https://qa.door43.org/unfoldingWord/en_tn/branches and click delete button next to `superdav42-tc-create-1`
* Open a file it tCC such as en_tn_57-TIT.tsv, make some edits but do not save. This will cache an autosave file.
* Open a different file in tC

[2022-09-13 13:46] elsylambert commented on #1170
In Production

[2022-09-13 13:46] #1170 closed

[2022-09-13 15:51] superdav42 commented on #1367
Another case where the popup will show when it shouldn't
* Open file in tCC, make edits and save. Switch to a different file in tCC.
* Edit same file directly in DCS
* Switch to first file in tCC. Autosave popup will appear.

This is happening because the autosave cache is not being cleared when the file is saved to DCS. There is no reason to keep the autosave data after it's been saved to the ser

[2022-09-13 17:01] mandolyte commented on #1367
Great find! To clear the cache after a save sounds like it could be easy enough. What do you think @superdav42 ?

[2022-09-14 17:28] elsylambert commented on #1151
translationCore Create - v1.7.0 build 165-900bcf1. Hebrew font looks bigger and bolder as in the screenshot.
![Screen Shot 2022-09-14 at 1.24.20 PM.png](https://images.zenhubusercontent.com/5d02efb2f425650e637abe10/10e8e778-b7a7-4117-a8e9-db100996d860)

But the ULT and UST scripture fonts are smaller(different ) than previous (Production).
Also the Greek font looks smaller, please see the comparis

[2022-09-14 17:36] elsylambert commented on #1307
translationCore Create - v1.7.0 build 165-900bcf1.
Not seeing this issue in twls on editing the Reference from the drop down. Note that the reference changes to the selected verse and updates the file with it and the same id.
![Screen Shot 2022-09-14 at 1.34.34 PM.png](https://images.zenhubusercontent.com/5d02efb2f425650e637abe10/7c35dab6-3667-46ba-9601-ec87eb5e9018)

[2022-09-15 14:14] BincyJ commented on #1372
@birchamp , @BincyJ would GLs need to translate the content in these templates? Should this be a new file in tA repo? What's the impact for GLs?

[2022-09-20 14:58] elsylambert opened #1380 "Project duplicated when "Rename Repository" is chosen when Project ID was same."
- Copied a Project: into tC>Projects folder.
- Opened tC and got the Alert that the project ID exist> Create Repository or Rename Repository.
- Select Rename Repository. tC asks for Access permission for internet.
- TC opens Projects page. Note that there are two projects with same ID.
- TC runs the rename again and the renamed project shows in the Projects list.![Screen Shot 2022-09-20 at 10.57.2

[2022-09-20 18:19] #1380 closed

[2022-09-20 19:22] elsylambert commented on #1151
Looks good in translationCore Create - v1.7.0 build 167-c63d59b. Hebrew font looks bigger than before so are the Greek and English fonts in the scripture pane.

[2022-09-23 15:48] BincyJ opened #1382 "Release v 1.7"
#### Prepare Staging
- [x] PR to remove RC from the version number
  - start in new branch (e.g., `zpp-remove-rc-1.6.0`);
  - edit `package.json` for version (e.g., v1.6.0); commit; publish
  - `git tag` (e.g., v1.6.0);    `git push --tags`
  - create PR from `remove...` branch --> `develop`;  connect this PR to the "RELEASE" issue
  - merge this PR (even if you merge it yourself, please use PR an

[2022-09-23 15:49] BincyJ commented on #1382
@Joel-C-Johnson, @elsylambert  is 1.7 ready for release

[2022-09-23 16:30] BincyJ commented on #1382
@elsylambert / @birchamp Please review the  release notes and give a final go-ahead for releasing 1.7:

**tCCreate 1.7**

**What's New?**
We are pleased to announce that tC Create 1.7 is now available online at https://create.translationcore.com/.

**New Features:**

- Enhancements to cursor navigation to avoid  unnecessary scrolling across the app [1089](https://github.com/unfoldingWord/tc-create

[2022-09-23 17:24] elsylambert commented on #1382
@BincyJ @birchamp I edited the notes and added two more bug fixes that were field reported.

[2022-09-23 17:26] elsylambert commented on #1382
translationCore Create - v1.7.0 build 167-c63d59b looks good on Staging server and good to move to Production. @Joel-C-Johnson

[2022-09-27 14:43] BincyJ opened #1385 "Scripture Resource RCL bug fix"
Bug fix for latest 1.7 release

[2022-09-27 14:44] BincyJ commented on #1385
To be released as 1.7.1 quick fix release

[2022-09-27 20:30] BincyJ opened #1387 "Release tCCreate v1.7.1"
#### Prepare Staging
- [x] PR to remove RC from the version number
  - start in new branch (e.g., `zpp-remove-rc-1.6.0`);
  - edit `package.json` for version (e.g., v1.6.0); commit; publish
  - `git tag` (e.g., v1.6.0);    `git push --tags`
  - create PR from `remove...` branch --> `develop`;  connect this PR to the "RELEASE" issue
  - merge this PR (even if you merge it yourself, please use PR an

[2022-10-04 00:59] #1354 closed

[2022-10-04 01:00] #1088 closed

[2022-10-04 01:00] #1066 closed

[2022-10-04 01:00] #1089 closed

[2022-10-04 21:43] birchamp opened #1394 "Sort filter drop down with Intro first."
A while back we resorted the filter drop down to be in alphabetic order.  This puts "Intro" records at the bottom of the filter drop down list.  Users would like "intro" to come at the beginning of the list

DoD:
----
When filtering "Intro" comes at the top of the dropdown instead of the bottom of the list.

Details:
---
![image.png](https://images.zenhubusercontent.com/5cf53901e39e5f33e3e129fa/97

[2022-10-04 21:54] birchamp opened #1395 "Jump to top of page after page forward navigation"
Currently when a user has scrolled to the bottom of a page and then clicks to navigate to the next page the scroll bar stays scrolled down.   It would be a better experience for the user to scroll to the top after forward page navigation.

Note: previous page navigation should stay scrolled to the bottom.

DoD:
---
Forward page navigation should scroll the user to the top of the page. Backward pag

[2022-10-10 13:52] PhotoNomad0 commented on #930
RTL languages:

Right-To-Left Languages

The two most well-known right to left languages are Arabic and Hebrew, which share a common linguistic ancestor in the Aramaic alphabet. Persian, Sindhi and Urdu all use adapted forms of the Arabic alphabet. Azeri, Kurdish, Azerbaijani, Rohingya, Fula, N’ko, Syriac and Maldivian are also right-to-left languages.

[2022-10-10 13:54] PhotoNomad0 commented on #930
Note: Released RTL resources:

https://git.door43.org/catalog?tab=&sort=newest&q=ar%5C_
https://git.door43.org/catalog?tab=&sort=newest&q=ur%5C_
fa
https://git.door43.org/catalog?tab=&sort=newest&q=fa%5C_

[2022-10-10 13:55] PhotoNomad0 commented on #930
Note: Unreleased RTL resources:

https://git.door43.org/explore/repos?tab=&sort=recentupdate&q=ar%5C_
https://git.door43.org/explore/repos?tab=&sort=recentupdate&q=ur%5C_
https://git.door43.org/explore/repos?tab=&sort=recentupdate&q=fa%5C_

[2022-10-11 04:11] jincypjose commented on #930
1. Who can test this?
 - Users who uses languages like Arabic, Urdu and other languages which can be written in RTL can test(Maybe need to fill in more for clarity)
2. What are the typical performance expectations?
 some of the UI expectations are
 - Scroll bar should be at left of the editor
 - Should auto detect right or left language
 - Editor should be handling the mixture of right and left la

[2022-10-12 15:02] elsylambert opened #1399 "Forward Delete does not enable the Save button"
Windows Keyboard: Delete key or Selecting text and then using Delete key does not enable Save button.

Mac keyboard : fn+Delete

Problem: tCC does not detect that the text has been edited when the keystroke is specific as mentioned above but it does when Delete(Mac) or Backspace (Win) is used to delete text.

[2022-10-17 13:29] birchamp commented on #930
https://git.door43.org/fa_gl/fa_obs/src/branch/master/content. - may be a good place to start

[2022-10-24 13:09] birchamp opened #1409 "Integrate the new & ampersand code from scripture resources RCL into tC Create"
Work on making the code for gEdit that's in the shared RCL work for tC Create - without breaking gatewayEdit.

DoD:
---
Ampersand can be used instead of the ellipsis for highlighting discontiguous words

[2022-10-24 13:45] birchamp opened #1410 "Detect direction of language"
tCC needs to detect the direction of the target language and set the Occurance Note text field to that direction. For RTL the cursor should move towards left and should also handle mixture of RTL and LTR languages for example the editable field may contain numbers, LTR languages etc so for those the cursor should be set to right direction.

DoD:
---
If the language

[2022-10-24 13:51] birchamp commented on #930
@jincypjose test a simple text area by setting the RTL direction.
We need to determine:
What happens when a RTL element has English text in it already?
What happens when the user types a RTL language while the English is still there
What happens when the English is replaced?
What happens when RTL language is typed but then the user needs to switch to English?

[2022-10-24 14:02] birchamp opened #1411 "Add a font selection menu to the hamburger menu"
Allow users to switch fonts for the target language and change the font of the fields on the target side.

DoD:
---
User can change fonts and the target side updates to display in that font for both TSVs and MD files.

[2022-10-25 13:29] elsylambert opened #1413 "Edits are not saved in the file unless the file is refreshed"
Edits are not saved in the file after Save button is clicked unless the file is refreshed.
-Open en_tn> open file(book.tsv)
- Add some text in the occurrence notes and click Save.
- Click on the Chip on the Target side to go to the user branch. ![Screen Shot 2022-10-25 at 9.25.44 AM.png](https://images.zenhubusercontent.com/5d02efb2f425650e637abe10/0cf24d26-c094-4d3c-8487-9baf09487431)
**Note that

[2022-10-26 13:18] elsylambert commented on #1183
Need clear definition of highlighting with Ellipsis:
- As per the current implementation, when there is ellipsis in the OrigQuote, the highlights do not show up with occurrence -1. And with Occurrences 1, 2 and 3, the highlights are shown correctly for the word in the above example(PHP 2:1)
- How should the highlight show when there is ellipsis or ampersand in the OrigQuote? To show all the occurr

[2022-10-26 14:53] elsylambert commented on #1183
Larry: Here is another similar example to add to that issue. tCC only highlights the first two of the tree word in the snippet for Mat 6:3. They are properly, individually aligned. FWIW, there is a comma after the third word.
![image.png](https://images.zenhubusercontent.com/5d02efb2f425650e637abe10/b23b517f-6477-41a0-9121-b82190ad38d2)
[image.png](/user_uploads/15437/v2IjryK4DcXLEBhSmH1evu0X/imag

[2022-10-26 15:08] elsylambert commented on #1183
TC shows the above example as shown below:
![Screen Shot 2022-10-26 at 11.07.36 AM.png](https://images.zenhubusercontent.com/5d02efb2f425650e637abe10/d8c71b76-b966-4878-af5d-8e5ad449c14c)
tC does highlight it correctly.

[2022-10-26 15:10] elsylambert commented on #1183
@birchamp I changed the description of the issue and added more details in the  issue ^^. Kindly validate my observations.

[2022-10-27 14:28] birchamp opened #1416 "Warn users that their files are in an outdated format"
After the conversion to TSV7, downstream repos will need to be converted from TSV9 to TSV7.  If the users' target repo doesn't have TSV7 files they should not be allowed to continue working.  tCC should pop up a message that they need to contact their technical administrator and that they can do the conversion in gatewayAdmin.

Popup Message:
"Your files in your target repository are in an outdate

[2022-10-28 14:40] mandolyte opened #1417 "Disable Auto Save"
This decision was reached after some investigation and discussion. Given the number of issues that have been raised for it and the fact that it isn't being used as expected, then the following:

- For now, disable the feature completely in tc-create
- in the future, if we decide to try again, then try to make it a re-useable component that any app can use.

Some notes on an auto-save component:
-

[2022-10-31 13:37] elsylambert commented on #1399
Which build is it in fixed in? @Joel-C-Johnson . I do not see it working in translationCore Create - v1.7.1 build 169-feb61ad.

[2022-11-02 14:57] Joel-C-Johnson commented on #1399
Sorry. I couldn't find what happened to the code. I have released a new release (markdown RCL and datatable RCL) and updated in the tC create

[2022-11-02 16:32] jincypjose commented on #1183
@elsylambert  The issue has been fixed the highlighting is working fine for ![Screenshot from 2022-11-02 22-00-51.png](https://images.zenhubusercontent.com/5f8fb2e83cdc9276e3df86d3/997094ed-e1b6-4ca0-9601-82bb633b67e2)εἴ τις…εἴ τι…εἴ τις…εἴ τις
Build number: 171-d6e20b8

[2022-11-02 19:14] elsylambert commented on #1183
Verified in translationCore Create - v1.7.1 build 171-d6e20b8. Highlighting works fine when there are repeated words in an ellipsis. All the words in the QriQuote are highlighted with Occurrence number being 1.

[2022-11-09 20:36] birchamp commented on #1193
@elsylambert Do you know what this was for?

[2022-11-09 20:44] birchamp opened #1427 "RtL support"

[2022-11-09 20:45] birchamp opened #1428 "Reference Ranges"

[2022-11-09 20:49] elsylambert commented on #1193
@birchamp This issue was for writing cypress Tests on Highlighting.

[2022-11-09 21:01] birchamp opened #1429 "Prevent users from opening new TSV7s if TSV9s exist in repo"
Users should be informed that their Translation Notes file is in the previous format (TSV9) and that they can not continue.

Once the en_tn source repo has been converted to TSV7 there are 3 possibilities:
1) TSV9 files exist in the target repo user or master branch and the user should be prevented from continuing (source: TSV9 ≠ target: TSV7)
2) TSV7 files exist in the target repo (user or master

[2022-11-09 21:32] elsylambert opened #1430 "New Repo created on DCS when user selects Language -Resource for which the Repo does not exist."
1. Open TCC>Select Org
2. Select Resource and Language (Make sure you do not have a  Repo made for this combination eg. es-419_tq)
3. Upon selecting the file in stepper, TCC shows warning that the Repository does not exist for the selected Language and resource. This is the expected behaviour.
4. Now go to qa.door43.org and See your user Dashboard. Note that you ll see the Repository in step 3 add

[2022-11-10 16:06] klappy commented on #1430
We will have to verify in the codebase but if my memory is correct there was a function called “ensureRepo” that will create the repo of it doesn’t exist. Not sure if that’s how it is implemented.

[2022-11-10 17:02] elsylambert commented on #1430
As far as Remember, when Repo doesn’t exist, we manually had to create a Repo for the language-resource combination(which can be now done by gateway-Admin).
<img width="859" alt="Screenshot 2022-11-10 at 11 54 28 AM" src="https://user-images.githubusercontent.com/51806180/201157750-316ba89e-6eb4-44a9-b811-3f808db84d73.png">

[2022-11-14 14:24] BincyJ commented on #1411
Please hide this feature for the 1.8 release.

[2022-11-14 14:47] birchamp commented on #1429
Check the filenames in the manifest to see if they are the new style.  gE is already distinguishing between TSV9 and TSV7 so it may be helpful to see what was done there.

[2022-11-14 17:29] #1278 closed

[2022-11-14 17:30] #888 closed

[2022-11-14 19:34] richmahn opened #1435 "Allow DCS server to be any domain/port"
Suggest that we can chose where both dev (local & netlify) and prod instances of tC-create can have the DCS server set via the URL params as gatewayEdit does, with server=qa, yet to allow domain name.. DCS can even be ran local and is self contained (including the catalog API), meaning it can even be ran as a Docker container. I suggest that the param can be as follows:

server=<domain name>[:<por

[2022-11-15 01:50] elsylambert commented on #1409
I do not see this in translationCore Create - v1.7.1 build 179-d617b89. Has the PR been merged? @jincypjose
![Screenshot 2022-11-14 at 8.48.18 PM.png](https://images.zenhubusercontent.com/5d02efb2f425650e637abe10/bbcbd5ba-23f6-42d1-8e15-b0a7204369d2)

[2022-11-15 10:12] jincypjose commented on #1409
The version was not updated in tc Create. Now it is
Build Number is 181-a4f40e9![Screenshot from 2022-11-15 15-41-16.png](https://images.zenhubusercontent.com/5f8fb2e83cdc9276e3df86d3/166a3a74-3512-49ef-82ac-32e447d9b0d5) Now the result using & is like this

[2022-11-15 15:28] BincyJ opened #1438 "Enter verse range in the reference field"
Users should have the ability to enter reference range in the reference field

DOD:
If a user enters a reference range in the reference range field, then, the parallel scripture reflects the scripture text as per the range selection.

[2022-11-15 15:54] jincypjose commented on #1409
As discussed with @birchamp
jincypjose
 —
Today at 8:31 PM
I have a question for https://app.zenhub.com/workspaces/tc-create-workspace-5f049cdbfa88090016bf043e/issues/unfoldingword/tc-create-app/1409 (the issue is regarding ampersand). We just need to handle the ampersand when we type in or should all  the ellipsis be replaced with ampersand?
Zenhub
Zenhub
Zenhub | Productivity Management for Soft

[2022-11-17 14:25] elsylambert opened #1440 "Filter selection is broken in TSV 7 for tN"
Add type ahead to the filter drop down.  If sorting by file order is easy than that can be added to this work. NOTE: This might be a feature of the third-party component. Investigate how we changed sorting.

DoD:
---
Filtering by reference has type-ahead in the drop down

Details:
---

Chapter/Verse selection starts from 10:1 for the books having chapters more than 10. Making it difficult to selec

[2022-11-17 14:27] elsylambert opened #1441 "Support Reference drop- down in Rows shows full rc link"
Support Reference drop- down in Rows shows full rc link instead of Support Reference name.
![Screenshot 2022-11-16 at 11.17.31 AM.png](https://images.zenhubusercontent.com/5d02efb2f425650e637abe10/85da79b8-1429-4164-bc3f-210528f6ae12)
Related to #1440

[2022-11-17 14:38] elsylambert opened #1442 "Highlight is broken in Scripture Viewer after TSV 7 Conversion"
translationCore Create - v1.7.1 build 180-c625b93 on https://develop--tc-create-app.netlify.app/
Highlighting is broken after en_tn is converted from TSV9 to TSV7.
![Screenshot 2022-11-17 at 9.36.58 AM.png](https://images.zenhubusercontent.com/5d02efb2f425650e637abe10/807120c9-23bf-41bc-aec6-2ef38e657ee0)

[2022-11-17 14:40] elsylambert commented on #1409
Blocked by #1442 as the highlighting is broken post TSV7 conversion.

[2022-11-17 15:35] mandolyte commented on #1366
There is a JSON file with the verses per chapter per book in tc-create.

See `/src/core/bcv.json`

[2022-11-17 15:42] BincyJ commented on #1417
@Joel-C-Johnson , please merge changes for QA review

[2022-11-18 07:02] Joel-C-Johnson opened #1444 "Hide font selection"
Hide font selection until v1.9

[2022-11-18 07:09] #1444 closed

[2022-11-18 07:11] Joel-C-Johnson opened #1445 "Hide font selection"
Hide font selection until v1.9

[2022-11-18 07:30] Joel-C-Johnson opened #1447 "Update Version"
Update the number on the app to 1.8

[2022-11-18 18:22] elsylambert commented on #1442
Looks good in translationCore Create - v1.8 build 183-ca725ce. Highlights are shown correctly.

[2022-11-18 18:23] elsylambert commented on #1409
Looks good and works fine in translationCore Create - v1.8 build 183-ca725ce. & in Original Quote is highlighted properly.
![Screenshot 2022-11-18 at 1.21.17 PM.png](https://images.zenhubusercontent.com/5d02efb2f425650e637abe10/d1762148-d672-44f4-928c-1b85cbbc696d)

[2022-11-18 18:23] elsylambert commented on #1447
translationCore Create - v1.8 build 183-ca725ce in Develop.

[2022-11-18 18:28] elsylambert opened #1449 "Content Validator showing error 950 for language code."
translationCore Create - v1.8 build 183-ca725ce.
With the new TSV7 format, CV is showing error 950"tC cannot yet process '*' language code".
![Screenshot 2022-11-18 at 1.28.20 PM.png](https://images.zenhubusercontent.com/5d02efb2f425650e637abe10/d4abd391-9d51-4091-91cc-d8403814c35f)

[2022-11-18 18:51] elsylambert commented on #1417
translationCore Create - v1.8 build 183-ca725ce. tCC is no longer autosaving the edits as expected. This means that users must click on Save button to save the edits done to the file.

[2022-11-18 18:52] mandolyte commented on #1449
There is a "cvFilter" which is used to discard results that are of little value or are misleading. It is in `/src/hooks/validationHelpers.js`.

@Joel-C-Johnson @jincypjose

[2022-11-18 19:10] elsylambert opened #1450 "No warning on loosing unsaved edits on closing the Repo"
translationCore Create - v1.8 build 183-ca725ce.
After the auto-save feature is disabled, we are no longer getting the warning on closing the Repo from the Blue title bar when there are un-saved edits.
![Screenshot 2022-11-18 at 2.10.13 PM.png](https://images.zenhubusercontent.com/5d02efb2f425650e637abe10/0f0eb0b2-4f9f-4965-a30b-6c8fc882b54c)
- Open a file and do edits and Save button gets enabled

[2022-11-21 15:30] birchamp commented on #1366
This is blocked by #1438

[2022-11-21 15:44] superdav42 commented on #1450
There is still a warning if you try to close the browser tab or window. I'll look into adding or restoring one for closing or changing repos.

[2022-11-21 17:58] superdav42 commented on #1450
The warning to change files in the side menu is still there, it's only closing the chip that does not have a warning but the PRs should fix it.

[2022-11-23 12:30] Joel-C-Johnson opened #1455 "Repo chips not showing"

[2022-11-23 12:35] Joel-C-Johnson commented on #1455
Open tc create app
Open a file. You should see repos chips at the top. but in the last build, it is not showing.

![repo_path_chips](https://user-images.githubusercontent.com/25791348/203548324-5875ad9a-a753-4c06-b6cf-ee72ea19167e.png)

[2022-11-23 20:49] birchamp opened #1456 "Add training library to resources"
The training team has a new repo in Door43. They would like it to function as a markdown resource in tC Create.
https://git.door43.org/unfoldingWord/en_tl

DoD:
---
Users can choose the training library as a resource, pick a file and begin translating.

[2022-11-28 15:09] birchamp commented on #1441
@elsylambert test the type ahead to see if it finds the name of the figure of speech.

[2022-11-28 16:41] mandolyte commented on #1449
As of this moment, I am blocked. gA is getting 403 Forbidden errors when trying to convert tsv9 to 7. The error type is "cors", so I have asked Rich to help on discord.

[2022-11-29 00:23] superdav42 commented on #1455
Fixed in https://github.com/unfoldingWord/tc-create-app/pull/1453

[2022-11-29 00:30] superdav42 opened #1462 "No available storage method found"
The app can fail to load with a white screen and the error `No available storage method found` in the console. The easiest way to reproduce is to load the app in Firefox private browsing mode, some extensions or browser settings can also make it happen. I believe it is because the localforage lib cannot write to local storage so it throws an error. We should be able to catch this exception and fal

[2022-11-29 14:21] elsylambert commented on #1441
translationCore Create - v1.8 build 190-5da41d8. Support Reference drop-down does find the name of the figure of speech on typing, which means it works fine. As mentioned by Cecil, Support Reference would display the full rc link as a result of the TSV7 format. So closing this issue.

[2022-11-29 14:22] #1441 closed

[2022-11-29 14:41] elsylambert commented on #1429
translationCore Create - v1.8 build 190-5da41d8.
1. Works as expected. tested using translate _test which had TSV9 old format files. When user tried to open the files, error message pops up like shown below preventing the user to open the old format files:
![Screenshot 2022-11-29 at 8.59.40 AM.png](https://images.zenhubusercontent.com/5d02efb2f425650e637abe10/b150cba1-e146-4e87-9d7f-69f1db68c4b4)

[2022-11-29 14:48] elsylambert commented on #1449
No longer seeing the problem in translationCore Create - v1.8 build 190-5da41d8.

[2022-11-29 14:50] elsylambert commented on #1455
Chip shows and works as expected in translationCore Create - v1.8 build 190-5da41d8.

[2022-11-29 14:52] elsylambert commented on #1450
translationCore Create - v1.8 build 190-5da41d8. Seeing the warning message on closing the Repo without saving the edits. Looks good.

![Screenshot 2022-11-29 at 9.52.00 AM.png](https://images.zenhubusercontent.com/5d02efb2f425650e637abe10/9c0522de-46e2-477b-93cd-5e9ac13c494d)

[2022-11-29 15:35] birchamp opened #1463 "Change filter dropdowns to autocomplete combo boxes"
Issue:
---
The filter dropdowns should allow the user to type what they want so the list is limited.  https://mui.com/material-ui/react-autocomplete/

DoD:
---
The filter dropdowns have the autocomplete feature.

[2022-11-30 14:17] elsylambert commented on #1429
translationCore Create - v1.8 build 192-d709261. Still seeing the problem that after I deleted my user branch(which had old TSV9 files), I am unable to open the file in new format and seeing the error message.
![Screenshot 2022-11-30 at 9.14.49 AM.png](https://images.zenhubusercontent.com/5d02efb2f425650e637abe10/25b1da56-c962-4999-b653-a4ab002335b0)

[2022-11-30 14:29] elsylambert commented on #1438
translationCore Create - v1.8 build 192-d709261. Works as expected. If users enters a verse range like 2:1-2; 3:1-2: 4:1, the parallel scripture viewer displays the verses correctly for that specific row.
![Screenshot 2022-11-30 at 9.26.24 AM.png](https://images.zenhubusercontent.com/5d02efb2f425650e637abe10/bb1cce65-efe2-48ff-9f9d-3db60682e039)

[2022-11-30 14:33] elsylambert commented on #1366
translationCore Create - v1.8 build 192-d709261. Works fine and looks good. Tested also with #1438 where user can enter a verse range.![Screenshot 2022-11-30 at 9.33.40 AM.png](https://images.zenhubusercontent.com/5d02efb2f425650e637abe10/7d46244d-135b-4d86-bb34-b43b943bc1c1)

[2022-11-30 14:38] elsylambert commented on #1456
The new resource looks good in translationCore Create - v1.8 build 192-d709261

[2022-11-30 16:36] elsylambert commented on #1429
translationCore Create - v1.8 build 192-d709261. No longer seeing the problem with the warning pop-up after deleting old format branch.